Repository getlago/lago-api, pull requests merged in 2022-11, with the labels that each got.

#573 misc: Fix currency to fees from the invoice
  app/services/invoices/create_service.rb
  app/services/invoices/customer_usage_service.rb
  db/migrate/20221028160705_fix_currency_on_invoices.rb
  lib/tasks/invoices.rake
  spec/services/invoices/create_service_spec.rb
Labels: 🐞 bug

#583 feat(:credit_notes): Add error webhook for refund on payment providers
  app/jobs/send_webhook_job.rb
  app/serializers/v1/credit_notes/payment_provider_refund_error_serializer.rb
  app/services/webhooks/credit_notes/payment_provider_refund_failure_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/serializers/v1/credit_notes/payment_provider_refund_error_serializer_spec.rb
  spec/services/webhooks/credit_notes/payment_provider_refund_failure_service_spec.rb
Labels: Credit Notes

#589 fix(current-usage): Reduce cache duration on last period day
  app/services/invoices/customer_usage_service.rb
  spec/services/invoices/customer_usage_service_spec.rb
Labels: 🐞 bug

#587 feat(creadit_notes): Set credit balance to 0 when voided
  app/models/credit_note.rb
  spec/services/credit_notes/void_service_spec.rb
Labels: Credit Notes

#588 feat(credit_note): Track creation on Segment
  app/services/credit_notes/create_service.rb
  spec/services/credit_notes/create_service_spec.rb
Labels: Credit Notes

#590 feat(credit_notes): Void a credit note via API
  app/controllers/api/v1/credit_notes_controller.rb
  config/routes.rb
  spec/controllers/api/v1/credit_notes_controller_spec.rb
Labels: Credit Notes

#592 feat(credit-notes): Fix handling of VAT
  app/graphql/types/credit_notes/object.rb
  app/models/credit_note.rb
  app/serializers/v1/credit_note_serializer.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/validate_item_service.rb
  app/views/templates/credit_note.slim
  db/migrate/20221107151038_add_vat_rates_to_credit_note.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/credit_notes.rb
  spec/graphql/resolvers/credit_note_resolver_spec.rb
  spec/models/credit_note_spec.rb
  spec/services/credit_notes/create_service_spec.rb
Labels: Credit Notes

#593 fix(dates): Fix yearly to_date computation when subscription anniversary is on first day of a month
  app/services/subscriptions/dates_service.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
Labels: 🐞 bug

#594 feat: add invoice_credit_notes_resolver
  app/graphql/resolvers/invoice_credit_notes_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/invoice_credit_notes_resolver_spec.rb
Labels: feature

#597 feat: add has_credit_notes boolean on customer type
  app/graphql/types/customers/object.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_resolver_spec.rb
Labels: Credit Notes

#598 feat(customer): add credit notes related data for UI purpose
  app/graphql/types/customers/object.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_resolver_spec.rb
Labels: Credit Notes

#599 feat(grace-period): Add invoice grace period columns
  app/models/customer.rb
  app/models/organization.rb
  db/migrate/20221115100834_add_invoice_grace_period.rb
  db/schema.rb
Labels: Invoice

#602 feat(timezone): Add timezone to organizations and customers
  app/models/customer.rb
  app/models/organization.rb
  app/validators/timezone_validator.rb
  db/migrate/20221115155550_add_timezone_to_organizations.rb
  db/migrate/20221115160325_add_timezone_to_customers.rb
  db/schema.rb
  spec/models/customer_spec.rb
  spec/models/organization_spec.rb
Labels: Customers, Organizations

#608 feat(graph) Add some graphQL fields for UI purpose
  app/graphql/types/credit_notes/object.rb
  db/schema.rb
  schema.graphql
  schema.json
Labels: Credit Notes

#607 misc(docker): Add GCL secrets vars
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.arm64
Labels: Infrastructure

#609 feat(timezone): Add timezone concerns to customer and organization
  app/models/concerns/customer_timezone.rb
  app/models/concerns/organization_timezone.rb
  app/models/customer.rb
  app/models/organization.rb
  spec/models/customer_spec.rb
Labels: Customers, Organizations

#611 feat(timezone): Expose customer and organization timezone to API and …
  app/graphql/types/customers/object.rb
  app/graphql/types/organization_type.rb
  app/graphql/types/timezone_enum.rb
  app/serializers/v1/customer_serializer.rb
  app/serializers/v1/organization_serializer.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/organizations/update_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/serializers/v1/customer_serializer_spec.rb
  spec/serializers/v1/organization_serializer_spec.rb
Labels: Customers, Organizations

#620 bug: fix customer count wrongly calculated
  app/graphql/types/coupons/object.rb
  app/graphql/types/plans/object.rb
Labels: 🐞 bug

#621 chore: add tests for customerCount method
  spec/graphql/resolvers/add_on_resolver_spec.rb
  spec/graphql/resolvers/coupon_resolver_spec.rb
  spec/graphql/resolvers/plan_resolver_spec.rb
  spec/graphql/resolvers/plans_resolver_spec.rb
Labels: 🐞 bug

#619 feat(grace_period): Add status to invoices
  app/graphql/types/invoices/object.rb
  app/graphql/types/invoices/status_type_enum.rb
  app/models/invoice.rb
  app/serializers/v1/invoice_serializer.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/invoice_resolver_spec.rb
  spec/requests/api/v1/invoices_spec.rb
Labels: Invoice

#627 feat(timezones): Invoice issuing date must be in customer timezone
  app/jobs/bill_add_on_job.rb
  app/services/applied_add_ons/create_service.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/payments/create_service.rb
  spec/jobs/bill_add_on_job_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/payments/create_service_spec.rb
Labels: Invoice

#628 feat(timezones): Add issuing date in customer timezone on Credit notes
  app/graphql/types/credit_notes/object.rb
  app/serializers/v1/credit_note_serializer.rb
  app/services/credit_notes/create_service.rb
  app/views/templates/credit_note.slim
  db/migrate/20221125111605_add_issuing_date_to_credit_notes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/credit_notes.rb
  spec/services/credit_notes/create_service_spec.rb
Labels: Credit Notes

#613 feat(timezone): Use timezone in billing service
  app/models/subscription.rb
  app/services/billing_service.rb
  app/services/subscriptions/activate_service.rb
  clock.rb
  spec/services/billing_service_spec.rb
  spec/services/subscriptions/activate_service_spec.rb
Labels: Customers, Organizations

#614 feat(timezones): Apply customer timezone to date service
  app/graphql/types/subscriptions/object.rb
  app/models/subscription.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/fees/subscription_service.rb
  app/services/invoices/create_service.rb
  app/services/invoices/customer_usage_service.rb
  app/services/subscriptions/dates/yearly_service.rb
  app/services/subscriptions/dates_service.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
  spec/services/subscriptions/dates_service_spec.rb
Labels: Customers, Organizations

#632 fix: Fix credit note seeds
  db/seeds/invoices.rb
Labels: 🐞 bug

#633 feat(credit_notes): Improve credit note schema
  app/controllers/api/v1/credit_notes_controller.rb
  app/graphql/mutations/credit_notes/create.rb
  app/graphql/types/credit_note_items/input.rb
  app/graphql/types/credit_note_items/object.rb
  app/graphql/types/credit_notes/object.rb
  app/graphql/types/fees/object.rb
  app/models/credit_note_item.rb
  app/serializers/v1/credit_note_item_serializer.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/refunds/stripe_service.rb
  app/services/credit_notes/update_service.rb
  app/services/credit_notes/validate_item_service.rb
  app/services/credit_notes/validate_service.rb
  app/views/templates/credit_note.slim
  db/migrate/20221110151027_changes_credit_note_items_columns.rb
  db/migrate/20221118084547_add_refunded_at_to_credit_notes.rb
  db/schema.rb
  db/seeds/invoices.rb
  schema.graphql
  schema.json
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/factories/credit_note_items.rb
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/graphql/resolvers/credit_note_resolver_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/graphql/resolvers/invoice_resolver_spec.rb
  spec/models/credit_note_item_spec.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/refunds/stripe_service_spec.rb
  spec/services/credit_notes/update_service_spec.rb
  spec/services/credit_notes/validate_item_service_spec.rb
  spec/services/credit_notes/validate_service_spec.rb
Labels: Credit Notes
