Repository getlago/lago-api, pull requests merged in 2022-10, with the labels that each got.

#504 feat(credit-notes): Add credit note database structure
  app/models/concerns/sequenced.rb
  app/models/credit.rb
  app/models/credit_note.rb
  app/models/credit_note_item.rb
  app/models/fee.rb
  app/models/organization.rb
  db/migrate/20220930123935_create_credit_notes.rb
  db/migrate/20220930134327_create_credit_note_items.rb
  db/migrate/20220930143002_add_credit_note_id_to_credits.rb
  db/schema.rb
  spec/factories/credit_factory.rb
  spec/factories/credit_note_items.rb
  spec/factories/credit_notes.rb
  spec/models/credit_note_spec.rb
Labels: Invoice

#505 feat(credit_notes): Expose credit notes in API
  app/controllers/api/v1/credit_notes_controller.rb
  app/models/customer.rb
  app/serializers/v1/credit_note_item_serializer.rb
  app/serializers/v1/credit_note_serializer.rb
  app/serializers/v1/fee_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/factories/billable_metric_factory.rb
  spec/factories/credit_note_items.rb
  spec/factories/plan_factory.rb
Labels: Invoice

#510 feat(customers): HOTFIX for customer currency migration
  db/migrate/20221007075812_run_customer_currency_task_again.rb
  db/schema.rb
  lib/tasks/customers.rake
Labels: Customers, 🐞 bug

#512 fix(invoices): Fix Typo on persistent BM on Inovoice PDF
  app/views/templates/invoice.slim
Labels: Invoice, 🐞 bug

#507 feat(credit_notes): Expose credit notes into GraphQL
  app/graphql/types/credit_note_items/object.rb
  app/graphql/types/credit_notes/object.rb
  app/graphql/types/credit_notes/reason_type_enum.rb
  app/graphql/types/credit_notes/status_type_enum.rb
  app/graphql/types/customers/single_object.rb
  app/graphql/types/fees/object.rb
  app/graphql/types/invoices/invoice_item.rb
  schema.graphql
  schema.json
  spec/factories/coupon_factory.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
Labels: Customers, Invoice

#514 fix(errors): Event error webhook after error management refactoring
  app/services/events/create_service.rb
  spec/services/events/create_service_spec.rb
Labels: 🐞 bug

#518 feat(groups): Create table groups
  app/models/billable_metric.rb
  app/models/group.rb
  db/migrate/20221004092737_create_groups.rb
  db/schema.rb
  spec/factories/groups.rb
Labels: enhancement

#517 feat(credit_notes): Add credit note details in invoice webhook and API payload
  app/models/credit.rb
  app/serializers/v1/credit_serializer.rb
  db/migrate/20221010083509_rename_credit_credit_note.rb
  db/schema.rb
  spec/factories/credit_factory.rb
  spec/models/credit_spec.rb
  spec/serializers/v1/credit_serializer_spec.rb
Labels: Invoice

#522 feat(groups): Create or update groups via API
  app/controllers/api/v1/billable_metrics_controller.rb
  app/services/billable_metrics/create_service.rb
  app/services/billable_metrics/update_service.rb
  app/services/groups/create_batch_service.rb
  spec/graphql/mutations/billable_metrics/create_spec.rb
  spec/graphql/mutations/billable_metrics/update_spec.rb
  spec/requests/api/v1/billable_metrics_spec.rb
  spec/services/billable_metrics/update_service_spec.rb
Labels: enhancement

#524 fix(docker): arm64 image is missing dependency
  Dockerfile.arm64
Labels: Infrastructure

#523 feat(groups): Validate format of groups
  app/services/billable_metrics/create_service.rb
  app/services/billable_metrics/update_service.rb
  app/services/groups/create_batch_service.rb
  spec/graphql/mutations/billable_metrics/create_spec.rb
  spec/graphql/mutations/billable_metrics/update_spec.rb
  spec/requests/api/v1/billable_metrics_spec.rb
  spec/services/groups/create_batch_service_spec.rb
Labels: enhancement

#511 feat(credit_notes): Download and generate credit note PDF from API
  app/controllers/api/v1/credit_notes_controller.rb
  app/jobs/credit_notes/generate_pdf_job.rb
  app/jobs/send_webhook_job.rb
  app/models/credit_note.rb
  app/serializers/v1/credit_note_serializer.rb
  app/services/credit_notes/generate_service.rb
  app/services/invoices/generate_service.rb
  app/services/utils/pdf_generator.rb
  app/services/webhooks/credit_notes/generated_service.rb
  app/views/templates/credit_note.slim
  config/routes.rb
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/factories/credit_notes.rb
  spec/jobs/credit_notes/generate_pdf_job_spec.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/credit_notes/generate_service_spec.rb
  spec/services/events/create_service_spec.rb
  spec/services/invoices/generate_service_spec.rb
  spec/services/utils/pdf_generator_spec.rb
  spec/services/webhooks/credit_notes/generated_service_spec.rb
Labels: API, Invoice

#530 fix(user_type): only user's organizations with an active membership s…
  app/graphql/types/user_type.rb
  spec/graphql/resolvers/current_user_resolver_spec.rb
Labels: 🐞 bug

#532 feat(credit_notes): Add list of credit note reasons
  app/models/credit_note.rb
  schema.graphql
  schema.json
  spec/factories/credit_notes.rb
Labels: Invoice

#531 feat(credit_notes): Add service to create a credit note
  app/graphql/types/credit_note_items/object.rb
  app/models/credit_note.rb
  app/models/credit_note_item.rb
  app/models/invoice.rb
  app/serializers/v1/credit_note_item_serializer.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/validate_item_service.rb
  db/migrate/20221011083520_rename_credit_note_items.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/factories/credit_note_items.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/models/invoice_spec.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/validate_item_service_spec.rb
Labels: Customers, Invoice

#535 feat(storage): Add GCS Support
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/storage.yml
Labels: Infrastructure

#534 feat(groups): Add group properties table
  app/models/charge.rb
  app/models/group.rb
  app/models/group_property.rb
  db/migrate/20221011133055_create_group_properties.rb
  db/schema.rb
  spec/factories/charges.rb
  spec/factories/group_properties.rb
  spec/models/charge_spec.rb
Labels: Charges

#516 feat(credit_notes): Add logic to download a credit note via GraphQL
  app/graphql/mutations/credit_notes/download.rb
  app/graphql/types/credit_notes/object.rb
  app/graphql/types/mutation_type.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/credit_notes/download_spec.rb
Labels: Customers, Invoice

#525 feat(credit_notes): Apply credit notes to an invoice
  app/graphql/types/credit_notes/credit_status_type_enum.rb
  app/graphql/types/credit_notes/object.rb
  app/models/credit_note.rb
  app/serializers/v1/credit_note_serializer.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/validate_item_service.rb
  app/services/credits/credit_note_service.rb
  app/services/invoices/create_service.rb
  db/migrate/20221010142031_update_credit_notes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/factories/credit_notes.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/validate_item_service_spec.rb
  spec/services/credits/credit_note_service_spec.rb
  spec/services/invoices/create_service_spec.rb
Labels: Customers, Invoice

#540 fix(subscription): Charge fees on terminated subscription after upgrade
  app/services/invoices/create_service.rb
  app/services/subscriptions/create_service.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
Labels: 🐞 bug

#543 feat(credit_notes): Credit Note PDF template
  app/models/credit_note.rb
  app/models/credit_note_item.rb
  app/models/subscription.rb
  app/views/templates/credit_note.slim
  spec/factories/fees.rb
  spec/models/credit_note_item_spec.rb
  spec/models/credit_note_spec.rb
  spec/models/subscription_spec.rb
Labels: Invoice

#546 feat(groups): Change routes for fetching groups
  app/controllers/api/v1/billable_metrics/groups_controller.rb
  app/controllers/api/v1/billable_metrics_controller.rb
  app/controllers/api/v1/groups_controller.rb
  config/routes.rb
  spec/requests/api/v1/billable_metrics/groups_spec.rb
Labels: Billable metrics

#548 feat(credit_notes): Prepare changes on invoice to apply credit after VAT
  app/models/credit.rb
  app/models/invoice.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_service.rb
  app/services/invoices/paid_credit_service.rb
  app/views/templates/credit_note.slim
  app/views/templates/invoice.slim
  db/migrate/20221018144521_add_legacy_flag_to_invoices.rb
  db/schema.rb
  lib/tasks/invoices.rake
  spec/models/invoice_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
Labels: Invoice

#552 feat(credit_notes): Add a single credit note GraphQL resolver
  app/graphql/resolvers/credit_note_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/credit_note_resolver_spec.rb
Labels: GraphQL

#553 feat(credit_notes): Add credit note seeds
  db/seeds.rb
Labels: Invoice

#549 feat(groups): Ability to create charge with group properties
  app/controllers/api/v1/plans_controller.rb
  app/graphql/concerns/charge_model_attributes_handler.rb
  app/graphql/mutations/plans/create.rb
  app/graphql/mutations/plans/update.rb
  app/graphql/types/charges/group_properties.rb
  app/graphql/types/charges/group_properties_input.rb
  app/graphql/types/charges/input.rb
  app/graphql/types/charges/object.rb
  app/graphql/types/charges/properties.rb
  app/graphql/types/charges/properties_input.rb
  app/models/charge.rb
  app/serializers/v1/charge_serializer.rb
  app/serializers/v1/group_properties_serializer.rb
  app/services/plans/create_service.rb
  app/services/plans/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/create_spec.rb
  spec/graphql/mutations/plans/update_spec.rb
  spec/requests/api/v1/plans_spec.rb
  spec/serializers/v1/plan_serializer_spec.rb
  spec/services/plans/create_service_spec.rb
  spec/services/plans/update_service_spec.rb
Labels: Charges

#567 fix(subscription): Terminate from API only with active sub
  app/services/subscriptions/terminate_service.rb
  spec/factories/subscriptions.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: Subscription, 🐞 bug

#569 fix(groups): Update charge with group properties
  app/services/plans/update_service.rb
  spec/services/plans/update_service_spec.rb
Labels: Charges

#559 feat(credit_notes): Handle refund amount for credit note creation
  app/models/credit_note_item.rb
  app/models/fee.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/validate_item_service.rb
  spec/factories/credit_note_items.rb
  spec/models/credit_note_item_spec.rb
  spec/models/fee_spec.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/validate_item_service_spec.rb
Labels: Credit Notes

#561 feat(credit_notes): Create a credit note via GraphQL
  app/graphql/mutations/credit_notes/create.rb
  app/graphql/types/credit_note_items/input.rb
  app/graphql/types/credit_note_items/object.rb
  app/graphql/types/credit_notes/credit_status_type_enum.rb
  app/graphql/types/credit_notes/object.rb
  app/graphql/types/credit_notes/refund_status_type_enum.rb
  app/graphql/types/mutation_type.rb
  app/services/credit_notes/create_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/support/graphql_helper.rb
Labels: Credit Notes

#574 hotfix(events): Remove persisted events
  app/services/persisted_events/create_or_update_service.rb
  db/schema.rb
  spec/services/persisted_events/create_or_update_service_spec.rb
Labels: Event, 🐞 bug

#578 fix(wallets): Fix GraphQL wallet type as name is not mandatory
  app/graphql/types/wallets/object.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/wallets/create_spec.rb
Labels: 🐞 bug, Wallet

#577 fix(persisted_events): Reactivate event if removed and then re-added on same day
  app/services/persisted_events/create_or_update_service.rb
  spec/services/persisted_events/create_or_update_service_spec.rb
Labels: Event, 🐞 bug

#579 fix(webhooks): Keep query params when sending webhooks
  lib/lago_http_client/lago_http_client/client.rb
  spec/lib/lago_http_client/client_spec.rb
Labels: 🐞 bug

#581 feat(credit_notes): Add description field to credit note
  app/controllers/api/v1/credit_notes_controller.rb
  app/graphql/mutations/credit_notes/create.rb
  app/graphql/types/credit_notes/object.rb
  app/serializers/v1/credit_note_serializer.rb
  app/services/credit_notes/create_service.rb
  db/migrate/20221031144907_add_description_to_credit_notes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/services/credit_notes/create_service_spec.rb
Labels: Credit Notes

#566 feat(credit_notes): Update refund status via API
  app/controllers/api/v1/credit_notes_controller.rb
  app/services/credit_notes/update_service.rb
  config/routes.rb
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/requests/api/v1/invoices_spec.rb
Labels: Credit Notes
