Repository getlago/lago-api, pull requests merged in 2022-09, with the labels that each got.

#426 fix(subscriptions): Apply charge fees on subscription upgrade
  app/services/invoices/create_service.rb
  spec/services/invoices/create_service_spec.rb
Labels: Subscription, Invoice

#414 feat(persisted-metrics): Add Persisted metric model
  app/models/customer.rb
  app/models/persisted_metric.rb
  db/migrate/20220829094054_create_persisted_metrics.rb
  db/schema.rb
  spec/factories/persisted_metrics.rb
  spec/models/persisted_metric_spec.rb
Labels: Billable metrics

#415 feat(persisted-metrics): Add new type of aggregation
  app/models/billable_metric.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/fees/charge_service.rb
  schema.graphql
  schema.json
Labels: Billable metrics

#428 fix(invoices): invoices font are now packed into the gotenberg image
  app/views/templates/invoice.slim
  config/environments/development.rb
Labels: Invoice

#421 feat(persisted-metrics): Aggregation logic implementation
  app/models/persisted_metric.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/subscriptions/dates_service.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
  spec/services/subscriptions/dates_service_spec.rb
Labels: Billable metrics

#434 feat(customers): Add index and show on API
  app/controllers/api/v1/customers_controller.rb
  config/routes.rb
  spec/requests/api/v1/customers_spec.rb
Labels: enhancement, API, Customers

#436 Memberships: list and revoke
  app/graphql/mutations/memberships/revoke.rb
  app/graphql/resolvers/memberships_resolver.rb
  app/graphql/types/membership_type.rb
  app/graphql/types/memberships/status_enum.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/models/membership.rb
  app/services/memberships/revoke_service.rb
  db/migrate/20220906065059_add_membership_status_and_revoked_at.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/memberships/revoke_spec.rb
  spec/graphql/resolvers/memberships_resolver_spec.rb
  spec/models/membership_spec.rb
  spec/services/memberships/revoke_service_spec.rb
Labels: feature, GraphQL

#429 feat(persisted-metrics): Create persisted event from event
  app/services/events/create_batch_service.rb
  app/services/events/create_service.rb
  app/services/events/validate_creation_service.rb
  app/services/persisted_events/create_or_update_service.rb
  app/services/persisted_events/validate_creation_service.rb
  spec/services/events/create_batch_service_spec.rb
  spec/services/events/create_service_spec.rb
  spec/services/events/validate_creation_service_spec.rb
  spec/services/persisted_events/create_or_update_service_spec.rb
  spec/services/persisted_events/validate_creation_service_spec.rb
  spec/services/wallets/validate_service_spec.rb
Labels: Billable metrics, Event

#440 feat(api): Handle 500 and 404 global errors
  app/controllers/api/base_controller.rb
  app/controllers/api/v1/add_ons_controller.rb
  app/controllers/api/v1/billable_metrics_controller.rb
  app/controllers/api/v1/coupons_controller.rb
  app/controllers/api/v1/customers_controller.rb
  app/controllers/api/v1/events_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/plans_controller.rb
  app/controllers/api/v1/subscriptions_controller.rb
  app/controllers/api/v1/wallets_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/api_responses.rb
  config/routes.rb
  spec/requests/application_spec.rb
Labels: API

#441 fix(errors): Fix error details for GraphQL mutations
  app/graphql/concerns/execution_error_responder.rb
  spec/graphql/mutations/customers/create_spec.rb
Labels: GraphQL, 🐞 bug

#443 misc(docker): Add ARM64 DockerFile
  Dockerfile.arm64
Labels: enhancement, Infrastructure

#438 Invites - Create, revoke and list
  app/graphql/mutations/invites/create.rb
  app/graphql/mutations/invites/revoke.rb
  app/graphql/resolvers/invite_resolver.rb
  app/graphql/resolvers/invites_resolver.rb
  app/graphql/types/invites/object.rb
  app/graphql/types/invites/status_type_enum.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/models/invite.rb
  app/models/organization.rb
  app/services/invites/create_service.rb
  app/services/invites/revoke_service.rb
  app/services/invites/validate_service.rb
  db/migrate/20220906130714_add_invites.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/invite_factory.rb
  spec/graphql/mutations/invites/create_spec.rb
  spec/graphql/mutations/invites/revoke_spec.rb
  spec/graphql/resolvers/invite_resolver_spec.rb
  spec/graphql/resolvers/invites_resolver_spec.rb
  spec/models/invite_spec.rb
  spec/services/invites/create_service_spec.rb
  spec/services/invites/revoke_service_spec.rb
  spec/services/invites/validate_service_spec.rb
Labels: feature

#444 feat(errors): Handle not allowed error in services API and GraphQL errors
  app/controllers/api/base_controller.rb
  app/graphql/concerns/execution_error_responder.rb
  app/services/base_service.rb
  app/services/billable_metrics/destroy_service.rb
  app/services/coupons/destroy_service.rb
  app/services/customers/destroy_service.rb
  app/services/plans/destroy_service.rb
  spec/requests/api/v1/billable_metrics_spec.rb
  spec/requests/api/v1/coupons_spec.rb
  spec/requests/api/v1/plans_spec.rb
  spec/services/billable_metrics/destroy_service_spec.rb
  spec/services/coupons/destroy_service_spec.rb
  spec/services/customers/destroy_service_spec.rb
  spec/services/plans/destroy_service_spec.rb
Labels: API, GraphQL

#445 feat(error): Turn more service errors into not found or not allowed
  app/graphql/concerns/execution_error_responder.rb
  app/services/invites/revoke_service.rb
  app/services/invoices/payments/stripe_service.rb
  app/services/memberships/revoke_service.rb
  spec/graphql/mutations/invites/revoke_spec.rb
  spec/graphql/mutations/memberships/revoke_spec.rb
  spec/services/invites/revoke_service_spec.rb
  spec/services/memberships/revoke_service_spec.rb
Labels: API, GraphQL

#448 fix: Avoid catching ActiveStorage routes with catch_all
  config/routes.rb
Labels: 🐞 bug

#420 misc: Add Linter
  .github/workflows/pronto.yml
Labels: enhancement

#447 Accept invite
  app/graphql/mutations/invites/accept.rb
  app/graphql/types/mutation_type.rb
  app/models/invite.rb
  app/services/invites/accept_service.rb
  app/services/users_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/invites/accept_spec.rb
  spec/models/invite_spec.rb
  spec/services/invites/accept_service_spec.rb
  spec/services/users_service_spec.rb
Labels: feature

#457 feat(errors): Turn manualy raised unprocessable_entity errors into ValidationFailure
  app/services/base_service.rb
  app/services/base_validator.rb
  app/services/invites/validate_service.rb
  app/services/subscriptions/create_service.rb
  app/services/wallet_transactions/validate_service.rb
  app/services/wallets/validate_service.rb
  spec/services/invites/create_service_spec.rb
  spec/services/invites/validate_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/wallet_transactions/create_service_spec.rb
  spec/services/wallet_transactions/validate_service_spec.rb
  spec/services/wallets/create_service_spec.rb
  spec/services/wallets/validate_service_spec.rb
Labels: API, GraphQL

#461 fix: Ability to filter invoices by external customer id
  app/controllers/api/v1/invoices_controller.rb
  spec/requests/api/v1/invoices_spec.rb
Labels: API

#464 feat: Return downgrade plan date instead of next and previous external id
  app/graphql/types/subscriptions/object.rb
  app/models/subscription.rb
  app/serializers/v1/subscription_serializer.rb
  spec/models/subscription_spec.rb
  spec/requests/api/v1/subscriptions_spec.rb
Labels: API

#463 feat(customers): Add or update customer currency via GraphQL
  app/graphql/mutations/customers/create.rb
  app/graphql/mutations/customers/update.rb
  app/graphql/types/customers/object.rb
  app/models/customer.rb
  app/services/base_service.rb
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_service_spec.rb
Labels: GraphQL, Customers

#470 fix(billable_metrics): Wrong aggregation type should raise a validation error
  app/models/billable_metric.rb
  spec/models/billable_metric_spec.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
Labels: 🐞 bug

#475 fix(invoices): Show credit list on API invoice results
  app/controllers/api/v1/invoices_controller.rb
  app/serializers/v1/invoice_serializer.rb
  spec/requests/api/v1/invoices_spec.rb
Labels: Invoice

#465 feat(customers): Add or update customer currency via API
  app/controllers/api/v1/customers_controller.rb
  app/serializers/v1/customer_serializer.rb
  app/services/base_service.rb
  app/services/customers/create_service.rb
  spec/requests/api/v1/customers_spec.rb
  spec/services/customers/create_service_spec.rb
Labels: Customers

#474 fix: prevent revoked users to log in
  app/services/users_service.rb
  spec/graphql/mutations/login_user_spec.rb
Labels: enhancement

#479 fix(invite): remove check on user.id when accepting an invite
  app/services/users_service.rb
  spec/services/invites/accept_service_spec.rb
Labels: 🐞 bug

#482 misc(docker): Build ARM64 Image with CI
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Labels: enhancement, Infrastructure

#481 fix(subscription): Fix Upgrade Old Subscription Boundaries
  app/services/fees/subscription_service.rb
  spec/services/fees/subscription_service_spec.rb
Labels: Subscription, 🐞 bug

#486 misc(gh): fix arm64 auto build
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
Labels: Infrastructure, 🐞 bug

#478 feat(customers): Apply currency to customers
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/mutations/wallets/create.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/single_object.rb
  app/jobs/bill_add_on_job.rb
  app/jobs/migration_task_job.rb
  app/models/customer.rb
  app/models/wallet.rb
  app/services/applied_add_ons/create_service.rb
  app/services/applied_coupons/create_service.rb
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  app/services/fees/add_on_service.rb
  app/services/fees/paid_credit_service.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/subscriptions/create_service.rb
  app/services/wallets/create_service.rb
  app/services/wallets/validate_service.rb
  config/locales/en.yml
  db/migrate/20220919133338_run_customer_currency_task.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/customers.rake
  schema.graphql
  schema.json
  spec/factories/customer_factory.rb
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/mutations/wallets/create_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/jobs/bill_add_on_job_spec.rb
  spec/models/customer_spec.rb
  spec/requests/api/v1/wallets_spec.rb
  spec/services/applied_add_ons/create_service_spec.rb
  spec/services/applied_coupons/create_service_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_service_spec.rb
  spec/services/fees/add_on_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/wallets/create_service_spec.rb
  spec/services/wallets/validate_service_spec.rb
Labels: Customers

#492 fix: Empty webhook URI path sould not raise an error
  lib/lago_http_client/lago_http_client/client.rb
  spec/lib/lago_http_client/client_spec.rb
Labels: 🐞 bug

#493 fix: Fix currency migration for customer without active subscriptions
  lib/tasks/customers.rake
Labels: 🐞 bug

#495 feat(invoices): add customers into generated webhook
  app/services/webhooks/invoices/generated_service.rb
  spec/services/webhooks/invoices/generated_service_spec.rb
Labels: enhancement, :bell: Webhook

#497 fix(s3): Add compatible S3 Bucket config
  config/storage.yml
Labels: Infrastructure, 🐞 bug
