Repository getlago/lago-api, pull requests merged in 2022-06, with the labels that each got.

#236 fix: #235 subscription fee amount when pay in advance
  app/services/fees/subscription_service.rb
  spec/services/fees/subscription_service_spec.rb
Labels: Subscription, Invoice, 🐞 bug

#240 feat: Improve reseeding and add event seeds
  db/seeds.rb
Labels: enhancement, feature, Billable metrics, Customers, Subscription, Plan, Invoice, Organizations, Event

#245 fix: Delivered webhooks with empty response bodies should not fail
  lib/lago_http_client/lago_http_client/client.rb
  spec/lib/lago_http_client/client_spec.rb
Labels: :bell: Webhook, 🐞 bug

#247 fix: #246 bug object type root object is missing on webhook
  app/services/webhooks/base_service.rb
  spec/services/webhooks/invoices_service_spec.rb
Labels: API, :bell: Webhook, Worker, 🐞 bug

#248 feat: #242 add basic logic for percentage charge model
  app/graphql/concerns/charge_model_attributes_handler.rb
  app/graphql/types/charges/fixed_amount_target_enum.rb
  app/graphql/types/charges/input.rb
  app/graphql/types/charges/object.rb
  app/models/charge.rb
  app/services/charges/charge_models/percentage_service.rb
  app/services/charges/validators/percentage_service.rb
  app/services/fees/charge_service.rb
  config/locales/en.yml
  schema.graphql
  schema.json
  spec/factories/charge_factory.rb
  spec/graphql/mutations/plans/create_spec.rb
  spec/graphql/mutations/plans/update_spec.rb
  spec/models/charge_spec.rb
  spec/services/charges/charge_models/percentage_service_spec.rb
  spec/services/charges/validators/percentage_service_spec.rb
Labels: feature

#256 feat: Add invoice type to invoice
  app/graphql/types/invoices/invoice_type_enum.rb
  app/graphql/types/invoices/object.rb
  app/models/invoice.rb
  app/serializers/v1/invoice_serializer.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_service.rb
  db/migrate/20220613130634_add_invoice_type_to_invoices.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_service_spec.rb
Labels: API, GraphQL, Invoice

#254 feat: Create Stripe connection for organizations
  .github/workflows/spec.yml
  app/graphql/mutations/payment_providers/destroy.rb
  app/graphql/mutations/payment_providers/stripe.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/organization_type.rb
  app/graphql/types/payment_providers/stripe.rb
  app/models/organization.rb
  app/models/payment_providers/base_provider.rb
  app/models/payment_providers/stripe_provider.rb
  app/services/payment_providers/destroy_service.rb
  app/services/payment_providers/stripe_service.rb
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
  config/initializers/filter_parameter_logging.rb
  db/migrate/20220609080806_create_payment_providers.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/payment_providers_factory.rb
  spec/graphql/mutations/payment_providers/destroy_spec.rb
  spec/graphql/mutations/payment_providers/stripe_spec.rb
  spec/models/payment_providers/base_provider_spec.rb
  spec/models/payment_providers/stripe_provider_spec.rb
  spec/services/payment_providers/destroy_service_spec.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: feature, GraphQL, Organizations

#260 feat: prefer LAGO_FRONT_URL and enable urls with non-standard ports
  config/initializers/cors.rb
Labels: enhancement

#258 feat: Add hability to assign stripe customer id with API
  app/controllers/api/v1/customers_controller.rb
  app/models/customer.rb
  app/models/payment_provider_customers/base_customer.rb
  app/models/payment_provider_customers/stripe_customer.rb
  app/models/payment_providers/base_provider.rb
  app/serializers/v1/customer_serializer.rb
  app/services/customers_service.rb
  app/services/payment_provider_customers/create_service.rb
  db/migrate/20220610134535_create_payment_provider_customers.rb
  db/migrate/20220610143942_add_payment_provider_to_customers.rb
  db/schema.rb
  spec/factories/payment_provider_customers_factory.rb
  spec/requests/api/v1/customers_spec.rb
  spec/services/customers_service_spec.rb
  spec/services/payment_provider_customers/create_service_spec.rb
Labels: API, Customers

#265 feat: enable configuration for webhook attempts
  app/jobs/send_webhook_job.rb
Labels: enhancement, :bell: Webhook, Worker

#269 Add Event show action to the API
  app/controllers/api/base_controller.rb
  app/controllers/api/v1/events_controller.rb
  app/serializers/v1/event_serializer.rb
  config/routes.rb
  spec/factories/event_factory.rb
  spec/requests/api/v1/events_spec.rb
Labels: feature, API

#264 feat: Add all currencies supported by Stripe in the list of accepted currencies
  app/models/concerns/currencies.rb
  schema.graphql
  schema.json
Labels: enhancement, feature

#268 feat: Create customer on stripe
  Gemfile
  Gemfile.lock
  app/jobs/payment_provider_customers/stripe_create_job.rb
  app/services/customers_service.rb
  app/services/payment_provider_customers/create_service.rb
  app/services/payment_provider_customers/stripe_service.rb
  config/sidekiq.yml
  spec/factories/payment_provider_customers_factory.rb
  spec/jobs/payment_provider_customers/stripe_create_job_spec.rb
  spec/services/customers_service_spec.rb
  spec/services/payment_provider_customers/create_service_spec.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: enhancement, feature, Customers

#271 feat: Create charge on stripe when invoice is created
  app/jobs/invoices/payments/stripe_create_job.rb
  app/models/invoice.rb
  app/models/payment.rb
  app/models/payment_provider_customers/base_customer.rb
  app/models/payment_providers/base_provider.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_service.rb
  app/services/invoices/payments/stripe_service.rb
  app/services/payment_provider_customers/create_service.rb
  db/migrate/20220617124108_create_payments.rb
  db/schema.rb
  spec/factories/payment_factory.rb
  spec/jobs/invoices/payments/stripe_create_job_spec.rb
  spec/models/payment_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
Labels: feature, Customers, Invoice

#279 [BUG]: We should log error on clock service
  clock.rb
Labels: 🐞 bug

#290 [FEAT]: Handle stripe processing errors
  app/jobs/payment_providers/stripe/handle_event_job.rb
  app/jobs/send_webhook_job.rb
  app/serializers/v1/payment_providers/customer_error_serializer.rb
  app/serializers/v1/payment_providers/invoice_payment_error_serializer.rb
  app/services/invoices/payments/stripe_service.rb
  app/services/payment_provider_customers/stripe_service.rb
  app/services/payment_providers/stripe_service.rb
  app/services/webhooks/base_service.rb
  app/services/webhooks/payment_providers/customer_created_service.rb
  app/services/webhooks/payment_providers/customer_error_service.rb
  app/services/webhooks/payment_providers/invoice_payment_failure_service.rb
  spec/fixtures/stripe/charge_event.json
  spec/fixtures/stripe/customer_event.json
  spec/jobs/payment_providers/stripe/handle_event_job_spec.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/requests/webhooks_spec.rb
  spec/serializers/v1/payment_providers/customer_error_serializer_spec.rb
  spec/serializers/v1/payment_providers/invoice_payment_error_serializer_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
  spec/services/payment_providers/stripe_service_spec.rb
  spec/services/webhooks/payment_providers/customer_created_service_spec.rb
  spec/services/webhooks/payment_providers/customer_error_service_spec.rb
  spec/services/webhooks/payment_providers/invoice_payment_failure_service_spec.rb
Labels: feature, Customers, Invoice

#284 feat: #282 feat add organization logo uploader
  Gemfile
  Gemfile.lock
  app/controllers/graphql_controller.rb
  app/graphql/mutations/organizations/update.rb
  app/graphql/types/organization_type.rb
  app/models/organization.rb
  app/models/user.rb
  app/services/organizations/update_service.rb
  app/validators/image_validator.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/storage.yml
  db/migrate/20220621153030_create_active_storage_tables.active_storage.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/images/big_sized_logo.jpg
  spec/factories/images/logo.gif
  spec/factories/images/logo.png
  spec/models/organization_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: enhancement, GraphQL, Organizations

#288 feat: #285 feat expose new invoice settings field to api and graphql
  app/graphql/mutations/organizations/update.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/invoices/object.rb
  app/graphql/types/organization_type.rb
  app/models/organization.rb
  app/serializers/v1/customer_serializer.rb
  app/serializers/v1/invoice_serializer.rb
  app/services/organizations/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/organizations/update_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: enhancement, API, GraphQL, Organizations
