Repository getlago/lago-api, pull requests merged in 2022-07, with the labels that each got.

#313 feat: Small cleanup arround stripe
  app/services/invoices/payments/stripe_service.rb
  app/services/payment_provider_customers/stripe_service.rb
Labels: feature, Customers, Invoice

#318 fix: Fix event timestamp when none provided
  app/controllers/api/v1/events_controller.rb
  app/jobs/create_event_job.rb
  app/jobs/events/create_job.rb
  db/migrate/20220704145333_fill_event_timestamps.rb
  db/schema.rb
  lib/tasks/.keep
  lib/tasks/events.rake
  spec/jobs/events/create_job_spec.rb
  spec/requests/api/v1/events_spec.rb
Labels: API, Event, 🐞 bug

#301 feat: #299 expose invoice status to graphql
  app/graphql/types/invoices/object.rb
  app/graphql/types/invoices/status_type_enum.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_resolver_spec.rb
Labels: enhancement, GraphQL, Invoice

#314 fix: GraphQL validation for country code at organization level
  app/graphql/mutations/customers/create.rb
  app/graphql/mutations/customers/update.rb
  app/graphql/mutations/organizations/update.rb
  app/graphql/types/country_code_enum.rb
  app/graphql/types/customers/country_code_enum.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/organization_type.rb
  schema.graphql
  schema.json
Labels: Organizations, 🐞 bug

#305 [FEAT]: Customer current usage on current billing period
  app/graphql/resolvers/customers/usage_resolver.rb
  app/graphql/types/charges/usage.rb
  app/graphql/types/invoices/usage.rb
  app/graphql/types/query_type.rb
  app/services/fees/charge_service.rb
  app/services/invoices/customer_usage_service.rb
  db/schema.rb
  db/seeds.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
Labels: GraphQL, Customers, Invoice

#321 misc: Remove useless app folder and improve config
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/mailers/application_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  config/application.rb
Labels: enhancement

#322 feat: Expose customer usage into API and cache result
  app/controllers/api/v1/customers_controller.rb
  app/graphql/resolvers/customers/usage_resolver.rb
  app/graphql/types/charges/usage.rb
  app/graphql/types/invoices/usage.rb
  app/serializers/v1/charge_usage_serializer.rb
  app/serializers/v1/customer_usage_serializer.rb
  app/services/invoices/customer_usage_service.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/routes.rb
  db/migrate/20220705155228_add_unaccent_extension.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/requests/api/v1/customers_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
Labels: API, Customers

#327 feat: Enable add charge if subscription
  app/models/charge.rb
  app/services/invoices/customer_usage_service.rb
  app/services/plans/update_service.rb
  db/schema.rb
  spec/services/plans/update_service_spec.rb
Labels: API, GraphQL, Plan

#319 feat: Add PDF invoice generation
  .github/workflows/spec.yml
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/invoices_controller.rb
  app/graphql/mutations/invoices/download.rb
  app/graphql/resolvers/current_user_resolver.rb
  app/graphql/types/invoices/object.rb
  app/graphql/types/mutation_type.rb
  app/models/invoice.rb
  app/models/organization.rb
  app/services/invoices/generate_service.rb
  app/views/templates/invoice.slim
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  db/migrate/20220629133308_add_file_to_invoices.rb
  lib/lago_http_client/lago_http_client/client.rb
  schema.graphql
  schema.json
  spec/fixtures/blank.pdf
  spec/models/invoice_spec.rb
  spec/services/invoices/generate_service_spec.rb
Labels: GraphQL, Invoice

#329 fix: Webhook string response
  lib/lago_http_client/lago_http_client/client.rb
  spec/lib/lago_http_client/client_spec.rb
Labels: :bell: Webhook, 🐞 bug

#330 fix: parse json for stripe webhook event
  app/services/payment_providers/stripe_service.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: API, :bell: Webhook, 🐞 bug

#325 feat: api pdf generation
  app/controllers/api/v1/invoices_controller.rb
  app/jobs/invoices/generate_job.rb
  app/jobs/send_webhook_job.rb
  app/serializers/v1/invoice_serializer.rb
  app/services/invoices/generate_service.rb
  app/services/webhooks/invoices/generated_service.rb
  config/routes.rb
  config/sidekiq.yml
  lib/lago_http_client/lago_http_client/client.rb
  spec/services/invoices/generate_service_spec.rb
  spec/services/webhooks/invoices/generated_service_spec.rb
Labels: API, Invoice, :bell: Webhook

#334 fix: pdf org legal name
  app/views/templates/invoice.slim
Labels: Invoice, 🐞 bug

#338 feat: wallets mutations logic
  app/graphql/mutations/wallets/create.rb
  app/graphql/mutations/wallets/terminate.rb
  app/graphql/mutations/wallets/update.rb
  app/graphql/types/wallets/object.rb
  app/models/wallet.rb
  app/services/wallets/create_service.rb
  app/services/wallets/terminate_service.rb
  app/services/wallets/update_service.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/wallets/create_spec.rb
  spec/graphql/mutations/wallets/terminate_spec.rb
  spec/graphql/mutations/wallets/update_spec.rb
  spec/services/wallets/create_service_spec.rb
  spec/services/wallets/terminate_service_spec.rb
  spec/services/wallets/update_service_spec.rb
Labels: enhancement, GraphQL, Wallet

#345 fix: canceled next subscription when terminating a downgraded one
  app/services/subscriptions/terminate_service.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: 🐞 bug

#351 feat: graphql customer active wallet boolean
  app/graphql/types/customers/object.rb
  app/graphql/types/wallet_transactions/object.rb
  schema.graphql
  schema.json
Labels: enhancement

#352 feat: Update Subscription data model to support anniversary date
  app/graphql/types/subscriptions/object.rb
  app/models/subscription.rb
  app/services/subscriptions/create_service.rb
  db/migrate/20220728144707_add_anniversary_fields_to_subscriptions.rb
  db/schema.rb
  spec/services/billing_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
Labels: feature, Subscription
