Repository getlago/lago-api, pull requests merged in 2022-12, with the labels that each got.

#637 fix(invoices): Fix prepaid credit invoices to hide tax related items
  app/services/invoices/paid_credit_service.rb
  app/views/templates/invoice.slim
  db/schema.rb
Labels: Invoice, 🐞 bug

#636 misc: Extract calculation of fees in a separate service
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/create_service.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/create_service_spec.rb
Labels: Invoice

#640 fix: Trial period set to zero should not be considered as present
  app/models/plan.rb
  spec/models/plan_spec.rb
Labels: Plan, Invoice, 🐞 bug

#631 feat(timezone): Change invoice boundaries from date to datetime
  app/graphql/types/invoice_subscription/object.rb
  app/graphql/types/invoices/usage.rb
  app/models/invoice.rb
  app/models/invoice_subscription.rb
  app/serializers/v1/customer_usage_serializer.rb
  app/serializers/v1/legacy/customer_usage_serializer.rb
  app/services/fees/charge_service.rb
  app/services/fees/subscription_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/customer_usage_service.rb
  app/views/templates/invoice.slim
  db/migrate/20221128132620_change_fees_boundaries.rb
  db/schema.rb
  lib/tasks/fees.rake
  schema.graphql
  schema.json
  spec/factories/fees.rb
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/graphql/resolvers/invoice_resolver_spec.rb
  spec/models/invoice_subscription_spec.rb
  spec/serializers/v1/customer_usage_serializer_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
  spec/support/matchers/datetime_matcher.rb
Labels: API, GraphQL, Invoice

#645 fix: Delete all groups without calling callbacks
  app/models/billable_metric.rb
Labels: Billable metrics

#647 fix(timezone): Fee boundaries migration
  lib/tasks/fees.rake
Labels: Invoice, 🐞 bug

#649 fix(timezones): Prevent error with cached boundaries
  app/serializers/v1/customer_usage_serializer.rb
  app/serializers/v1/legacy/customer_usage_serializer.rb
Labels: Customers, 🐞 bug

#651 fix(timezones): Resolve issue with current usage boundaries with old …
  app/serializers/v1/customer_usage_serializer.rb
Labels: API, 🐞 bug

#646 feat(credit_notes): Update Segment payload
  app/services/credit_notes/create_service.rb
  spec/services/credit_notes/create_service_spec.rb
Labels: Credit Notes

#642 feat(grace_period): Rename invoice#status to payment_status
  app/controllers/api/v1/invoices_controller.rb
  app/graphql/types/invoices/object.rb
  app/graphql/types/invoices/payment_status_type_enum.rb
  app/graphql/types/invoices/status_type_enum.rb
  app/models/invoice.rb
  app/serializers/v1/invoice_serializer.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/payments/gocardless_service.rb
  app/services/invoices/payments/stripe_service.rb
  app/services/invoices/update_service.rb
  app/services/payment_providers/gocardless_service.rb
  app/services/payment_providers/stripe_service.rb
  db/migrate/20221122163328_rename_status_on_invoices.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/factories/invoices.rb
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/validate_item_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/payments/gocardless_service_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/invoices/update_service_spec.rb
  spec/services/payment_providers/gocardless_service_spec.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: Invoice

#659 hotfix(invoices): Invoice lookup must be scoped to the organization
  app/controllers/api/v1/invoices_controller.rb
  app/services/invoices/update_service.rb
  spec/services/invoices/update_service_spec.rb
Labels: Invoice, 🐞 bug

#644 feat(timezone): Wallet expiration date
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/mutations/wallets/create.rb
  app/graphql/mutations/wallets/update.rb
  app/graphql/types/wallets/object.rb
  app/legacy_inputs/base_legacy_input.rb
  app/legacy_inputs/wallet_legacy_input.rb
  app/models/user.rb
  app/models/wallet.rb
  app/serializers/v1/legacy/wallet_serializer.rb
  app/serializers/v1/wallet_serializer.rb
  app/services/wallets/create_service.rb
  app/services/wallets/update_service.rb
  clock.rb
  db/migrate/20221202130126_rename_wallets_expiration_date.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/wallets/create_spec.rb
  spec/graphql/mutations/wallets/update_spec.rb
  spec/requests/api/v1/wallets_spec.rb
  spec/serializers/v1/wallet_serializer_spec.rb
  spec/services/wallets/create_service_spec.rb
  spec/services/wallets/terminate_service_spec.rb
  spec/services/wallets/update_service_spec.rb
Labels: API, GraphQL, Wallet

#622 feat(timezones): Use datetimes in aggregation services
  app/models/event.rb
  app/models/invoice.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/count_service.rb
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/fees/charge_service.rb
  app/services/utils/timezone_service.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
Labels: Billable metrics, Customers, Invoice, Event

#663 feat(credit-notes): Disable credit note creation until license management is ready
  app/controllers/api/base_controller.rb
  app/services/base_service.rb
  app/services/credit_notes/create_from_upgrade.rb
  app/services/credit_notes/create_service.rb
  spec/controllers/api/v1/credit_notes_controller_spec.rb
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/services/credit_notes/create_service_spec.rb
Labels: API, GraphQL, Credit Notes

#634 feat(timezones): Coupon expiration date
  app/controllers/api/v1/coupons_controller.rb
  app/graphql/mutations/coupons/create.rb
  app/graphql/mutations/coupons/update.rb
  app/graphql/types/coupons/object.rb
  app/legacy_inputs/coupon_legacy_input.rb
  app/models/coupon.rb
  app/serializers/v1/applied_coupon_serializer.rb
  app/serializers/v1/coupon_serializer.rb
  app/serializers/v1/legacy/applied_coupon_serializer.rb
  app/serializers/v1/legacy/coupon_serializer.rb
  app/services/coupons/create_service.rb
  app/services/coupons/update_service.rb
  clock.rb
  db/migrate/20221129133433_change_expiration_dates_type.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/coupons/create_spec.rb
  spec/graphql/mutations/coupons/update_spec.rb
  spec/requests/api/v1/coupons_spec.rb
  spec/serializers/v1/coupon_serializer_spec.rb
  spec/services/coupons/create_service_spec.rb
  spec/services/coupons/terminate_service_spec.rb
  spec/services/coupons/update_service_spec.rb
Labels: API, GraphQL

#660 feat(timezones): Prevent overlaping of timezone when customer timezone changes
  app/models/invoice.rb
  app/models/invoice_subscription.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/create_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/subscriptions/dates_service.rb
  db/migrate/20221208140608_add_timezone_to_invoices.rb
  db/migrate/20221208142739_add_properties_to_invoice_subscriptions.rb
  db/schema.rb
  db/seeds/groups.rb
  spec/models/invoice_subscription_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
Labels: Invoice

#655 feat(timezones): Turn subscription#subscription_date into subscription_at
  app/graphql/types/subscriptions/object.rb
  app/models/subscription.rb
  app/serializers/v1/subscription_serializer.rb
  app/services/billing_service.rb
  app/services/subscriptions/activate_service.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/dates/monthly_service.rb
  app/services/subscriptions/dates/weekly_service.rb
  app/services/subscriptions/dates/yearly_service.rb
  app/services/subscriptions/dates_service.rb
  app/services/subscriptions/update_service.rb
  app/services/subscriptions/validate_service.rb
  db/migrate/20221206094412_change_subscription_date_type.rb
  db/schema.rb
  db/seeds/base.rb
  db/seeds/groups.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/billing_service_spec.rb
  spec/services/credit_notes/create_from_upgrade_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
  spec/services/subscriptions/activate_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
  spec/services/subscriptions/dates_service_spec.rb
  spec/services/subscriptions/update_service_spec.rb
Labels: Subscription

#656 feat(timezones): Create and update subscription#subscription_at
  app/controllers/api/v1/subscriptions_controller.rb
  app/graphql/mutations/subscriptions/create.rb
  app/graphql/mutations/subscriptions/update.rb
  app/graphql/types/subscriptions/object.rb
  app/legacy_inputs/subscription_legacy_input.rb
  app/models/user.rb
  app/serializers/v1/legacy/subscription_serializer.rb
  app/serializers/v1/subscription_serializer.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/update_service.rb
  app/services/subscriptions/validate_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/subscriptions/create_spec.rb
  spec/graphql/mutations/subscriptions/update_spec.rb
  spec/requests/api/v1/subscriptions_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/update_service_spec.rb
  spec/services/subscriptions/validate_service_spec.rb
Labels: API, GraphQL, Subscription

#670 fix(invoices): race conditions for wbehook
  app/services/invoices/create_service.rb
Labels: Invoice, 🐞 bug

#662 feat(timezones): Prevent double billing
  app/jobs/bill_subscription_job.rb
  app/models/invoice_subscription.rb
  app/models/subscription.rb
  app/services/billing_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/subscription_service.rb
  clock.rb
  db/migrate/20221212153810_add_source_to_invoice_subscriptions.rb
  db/schema.rb
  db/seeds/invoices.rb
  spec/factories/invoice_subscriptions.rb
  spec/jobs/bill_subscription_job_spec.rb
  spec/services/billing_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
Labels: Invoice

#653 feat(timezones): Handle customer and organization timezones
  app/controllers/api/v1/customers_controller.rb
  app/controllers/api/v1/organizations_controller.rb
  app/graphql/mutations/coupons/create.rb
  app/graphql/mutations/coupons/update.rb
  app/graphql/mutations/customers/create.rb
  app/graphql/mutations/customers/update.rb
  app/graphql/mutations/organizations/update.rb
  app/graphql/mutations/subscriptions/create.rb
  app/graphql/mutations/subscriptions/update.rb
  app/graphql/mutations/wallets/create.rb
  app/graphql/mutations/wallets/update.rb
  app/graphql/types/coupons/object.rb
  app/graphql/types/events/object.rb
  app/graphql/types/invoice_subscription/object.rb
  app/graphql/types/invoices/usage.rb
  app/graphql/types/subscriptions/object.rb
  app/graphql/types/wallets/object.rb
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  app/services/organizations/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/coupons/create_spec.rb
  spec/graphql/mutations/coupons/update_spec.rb
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/mutations/organizations/update_spec.rb
  spec/graphql/mutations/subscriptions/create_spec.rb
  spec/graphql/mutations/subscriptions/update_spec.rb
  spec/graphql/mutations/wallets/create_spec.rb
  spec/graphql/resolvers/coupon_resolver_spec.rb
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/graphql/resolvers/events_resolver_spec.rb
  spec/graphql/resolvers/invoice_resolver_spec.rb
  spec/graphql/resolvers/wallet_resolver_spec.rb
  spec/requests/api/v1/customers_spec.rb
  spec/requests/api/v1/organizations_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_service_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: feature, API, GraphQL, Customers, Organizations

#677 feat(grace_period): Prevent from downloading a draft invoice
  app/controllers/api/v1/invoices_controller.rb
  app/services/invoices/generate_service.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/services/invoices/generate_service_spec.rb
Labels: Invoice

#682 feat(grace_period): Ability to create events on terminated subscription
  app/models/credit_note.rb
  app/services/events/create_service.rb
  app/services/events/validate_creation_service.rb
  app/services/invoices/calculate_fees_service.rb
  spec/services/events/create_service_spec.rb
  spec/services/events/validate_creation_service_spec.rb
Labels: Event

#686 fix: Finalize all existing invoices
  db/migrate/20221222164226_finalize_invoices.rb
  db/schema.rb
Labels: Invoice

#685 feat(grace_period): Finalize invoices if grace period is updated
  app/graphql/mutations/customers/update_invoice_grace_period.rb
  app/jobs/clock/finalize_invoices_job.rb
  app/models/invoice.rb
  app/services/customers/create_service.rb
  app/services/customers/update_invoice_grace_period_service.rb
  app/services/customers/update_service.rb
  app/services/invoices/finalize_service.rb
  app/services/invoices/refresh_draft_service.rb
  app/services/invoices/subscription_service.rb
  app/services/organizations/update_invoice_grace_period_service.rb
  app/services/organizations/update_service.rb
  spec/graphql/mutations/invoices/refresh_spec.rb
  spec/jobs/clock/finalize_invoices_job_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_invoice_grace_period_service_spec.rb
  spec/services/invoices/finalize_service_spec.rb
  spec/services/invoices/refresh_draft_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/organizations/update_invoice_grace_period_service_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: Invoice

#688 fix: Ability to create an event without a given timestamp
  app/services/events/create_service.rb
  spec/services/events/create_service_spec.rb
Labels: 🐞 bug

#697 fix: Fetching wallets should be scoped by the current organization
  app/controllers/api/v1/wallets_controller.rb
  spec/requests/api/v1/wallets_spec.rb
Labels: Wallet

#695 fix: Ability to remove groups from a billable metric
  app/services/billable_metrics/update_service.rb
  app/services/groups/create_batch_service.rb
  spec/services/billable_metrics/update_service_spec.rb
  spec/services/groups/create_batch_service_spec.rb
Labels: Billable metrics

#700 fix: Prevent from terminating other organization wallet
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/mutations/wallets/terminate.rb
  app/services/wallets/terminate_service.rb
  spec/graphql/mutations/wallets/terminate_spec.rb
  spec/requests/api/v1/wallets_spec.rb
  spec/services/wallets/terminate_service_spec.rb
Labels: Wallet

#701 feat(grace_period): Block grace period on API
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  app/services/organizations/update_service.rb
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_invoice_grace_period_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/mutations/organizations/update_spec.rb
  spec/requests/api/v1/customers_spec.rb
  spec/requests/api/v1/organizations_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_service_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: Invoice
