Repository getlago/lago-api, pull requests merged in 2023-11, with the labels that each got.

#1428 misc: Add missing indexes to subscriptions and plans
  db/migrate/20231102085146_add_missing_indexes_to_subscriptions_and_plans.rb
  db/schema.rb
Labels: Subscription, Plan

#1412 feat(credit_note): Add estimate service and API end points
  app/controllers/api/v1/credit_notes_controller.rb
  app/graphql/resolvers/credit_notes/estimate_resolver.rb
  app/graphql/types/credit_note_items/estimate.rb
  app/graphql/types/credit_notes/estimate.rb
  app/graphql/types/query_type.rb
  app/serializers/v1/credit_notes/applied_tax_serializer.rb
  app/serializers/v1/credit_notes/estimate_serializer.rb
  app/services/credit_notes/estimate_service.rb
  config/routes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/credit_notes/estimate_resolver_spec.rb
  spec/graphql/types/credit_note_items/estimate_spec.rb
  spec/graphql/types/credit_notes/estimate_spec.rb
  spec/requests/api/v1/credit_notes_spec.rb
  spec/scenarios/credit_note_spec.rb
  spec/serializers/v1/credit_notes/estimate_serializer_spec.rb
  spec/services/credit_notes/estimate_service_spec.rb
  spec/support/scenarios_helper.rb
Labels: Credit Note

#1427 feat(clickhouse): Add events_raw_mv to fill events_raw
  Gemfile.lock
  db/clickhouse_migrate/20231024084411_create_events_raw.rb
  db/clickhouse_migrate/20231030163703_create_events_raw_mv.rb
  db/clickhouse_schema.rb
Labels: Event

#1426 feat(event): Inject event store in aggregators
  app/models/invoice.rb
  app/services/billable_metrics/aggregation_factory.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/count_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/latest_service_spec.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/billable_metrics/breakdown/sum_service_spec.rb
  spec/services/billable_metrics/breakdown/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/charges/apply_pay_in_advance_charge_model_service_spec.rb
  spec/services/charges/charge_models/percentage_service_spec.rb
  spec/services/charges/charge_models/prorated_graduated_service_spec.rb
  spec/services/charges/pay_in_advance_aggregation_service_spec.rb
Labels: Billable Metric, Event

#1438 fix: Date prorata with daylight saving time
  app/models/invoice.rb
  app/services/billable_metrics/prorated_aggregations/base_service.rb
  app/services/fees/create_true_up_service.rb
  app/services/fees/subscription_service.rb
  app/services/utils/datetime_service.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/utils/datetime_service_spec.rb
Labels: 🐞 Bug

#1431 feat(default-currency): Add organization default currency
  app/controllers/api/v1/organizations_controller.rb
  app/graphql/types/organization_type.rb
  app/graphql/types/organizations/update_organization_input.rb
  app/models/organization.rb
  app/serializers/v1/organization_serializer.rb
  app/services/organizations/update_service.rb
  db/migrate/20231101080314_add_default_currency_to_organizations.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/organizations.rb
  spec/graphql/mutations/organizations/update_spec.rb
  spec/graphql/types/organization_type_spec.rb
  spec/graphql/types/organizations/update_organization_input_spec.rb
  spec/models/organization_spec.rb
  spec/requests/api/v1/organizations_spec.rb
  spec/serializers/v1/organization_serializer_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: Organization

#1440 misc: Remove versions on group properties
  app/models/group_property.rb
  db/migrate/20231106145424_delete_versions_for_group_properties.rb
  db/schema.rb
Labels: Group

#1444 fix: API Invoice payment retry when not found
  app/controllers/api/v1/invoices_controller.rb
Labels: Invoice, 🐞 Bug

#1446 fix: Ensure deletion of expected events
  app/jobs/billable_metrics/delete_events_job.rb
  spec/jobs/billable_metrics/delete_events_job_spec.rb
Labels: Event

#1450 fix(plan-override): Ensure to override parent plans
  app/controllers/api/v1/subscriptions_controller.rb
  app/services/subscriptions/update_service.rb
  spec/requests/api/v1/subscriptions_spec.rb
  spec/services/subscriptions/update_service_spec.rb
Labels: Plan

#1451 fix(tax): Permit edition of taxes for a charge attached to subscriptions
  app/services/charges/build_default_properties_service.rb
  app/services/plans/update_service.rb
  spec/services/plans/update_service_spec.rb
Labels: Tax

#1452 feat(events): Add Materialized view for post validation
  Gemfile
  Gemfile.lock
  app/jobs/clock/events_validation_job.rb
  app/models/events/last_hour_mv.rb
  db/clickhouse_migrate/20231030163703_create_events_raw_mv.rb
  db/migrate/20231109141829_create_last_hour_events_mv.rb
  db/migrate/20231109154934_add_events_validation_index.rb
  db/schema.rb
  db/views/last_hour_events_mv_v01.sql
  spec/jobs/clock/events_validation_job_spec.rb
Labels: Event

#1459 fix: Ability to update charge from subscription
  app/graphql/types/subscriptions/charge_overrides_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/subscriptions/create_spec.rb
Labels: 🐞 Bug

#1457 fix: Ensure email is sent after finalizing an invoice
  app/services/customers/update_invoice_grace_period_service.rb
  app/services/customers/update_service.rb
  app/services/invoices/finalize_service.rb
  app/services/organizations/update_invoice_grace_period_service.rb
  spec/scenarios/customers/update_invoice_grace_period_spec.rb
Labels: 🐞 Bug

#1463 fix(storage): Add capacity to deactivate SSL for S3 endpoints
  config/storage.yml
Labels: improvement

#1462 feat(event): Cleanup to prepare external_id only usage on events
  app/models/customer.rb
  app/services/fees/create_pay_in_advance_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  db/migrate/20231102141929_add_index_on_event_external_subscription_id.rb
  db/schema.rb
Labels: Event

#1465 feat(event): Add cached aggregation model
  app/models/cached_aggregation.rb
  db/migrate/20231016115055_create_cached_aggregations.rb
  db/schema.rb
  spec/factories/cached_aggregations.rb
Labels: Event

#1468 feat(fee): Expose subscription and customer ids
  app/serializers/v1/fee_serializer.rb
  spec/serializers/v1/fee_serializer_spec.rb
Labels: Fee

#1460 feat(event): Add post validation service
  app/jobs/clock/events_validation_job.rb
  app/jobs/events/post_validation_job.rb
  app/jobs/send_webhook_job.rb
  app/serializers/v1/events_validation_errors_serializer.rb
  app/services/events/post_validation_service.rb
  app/services/webhooks/events/validation_errors_service.rb
  clock.rb
  spec/clock_spec.rb
  spec/jobs/clock/events_validation_job_spec.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/serializers/v1/events_validation_errors_serializer_spec.rb
  spec/services/events/post_validation_service_spec.rb
  spec/services/webhooks/events/validation_errors_service_spec.rb
Labels: Event

#1474 feat(event): Link quantified events to organization
  app/models/organization.rb
  app/models/quantified_event.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/billable_metrics/prorated_aggregations/unique_count_service.rb
  app/services/fees/charge_service.rb
  app/services/quantified_events/create_or_update_service.rb
  app/services/quantified_events/validate_creation_service.rb
  db/migrate/20221021135946_fill_properties_on_persisted_events.rb
  db/migrate/20231117123744_add_organization_id_to_quantified_events.rb
  db/schema.rb
  lib/tasks/events.rake
  spec/factories/quantified_events.rb
  spec/scenarios/billable_metrics/weighted_sum_spec.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/billable_metrics/breakdown/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/quantified_events/create_or_update_service_spec.rb
  spec/services/quantified_events/validate_creation_service_spec.rb
Labels: Event

#1471 feat(customers): Generate Checkout URL
  app/controllers/api/v1/customers_controller.rb
  app/services/customers/generate_checkout_url_service.rb
  app/services/payment_provider_customers/adyen_service.rb
  app/services/payment_provider_customers/factory.rb
  app/services/payment_provider_customers/gocardless_service.rb
  app/services/payment_provider_customers/stripe_service.rb
  config/routes.rb
  spec/requests/api/v1/customers_spec.rb
  spec/services/customers/generate_checkout_url_service_spec.rb
Labels: API, Customer

#1476 feat(event): Clickhouse Max Aggregation
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
  spec/spec_helper.rb
Labels: Event

#1484 fix(invoice): Prevent duplication of invoice subscriptions
  app/services/invoices/calculate_fees_service.rb
  db/migrate/20231123095209_add_unique_index_on_invoice_subscriptions.rb
  db/schema.rb
  spec/services/invoices/calculate_fees_service_spec.rb
Labels: Invoice, 🐞 Bug

#1494 misc: Disable logs in test env
  config/environments/test.rb
Labels: enhancement

#1400 feat(event): Move cached in advance aggregation into a proper model
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/prorated_aggregations/base_service.rb
  app/services/fees/create_pay_in_advance_service.rb
  db/migrate/20231017082921_fill_cached_aggregations.rb
  spec/scenarios/pay_in_advance_charges_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/fees/create_pay_in_advance_service_spec.rb
Labels: Event
