Repository getlago/lago-api, pull requests merged in 2023-07, with the labels that each got.

#1144 fix: Do not return stripe_payment_not_found is invoice is failed
  app/services/invoices/payments/stripe_service.rb
Labels: Invoice

#1146 fix: translations on plan interval for invoice template
  config/locales/fr/invoice.yml
Labels: Invoice

#1160 fix: Ability to start the subscription and create an event in the same time
  app/controllers/api/v1/events_controller.rb
  app/services/events/create_service.rb
  spec/scenarios/create_event_spec.rb
Labels: Event

#1162 fix(organization): Country code should be upcased
  app/services/organizations/update_service.rb
  spec/services/organizations/update_service_spec.rb
Labels: 🐞 bug

#1165 feat(taxes): Assign tax to a charge
  app/controllers/api/v1/plans_controller.rb
  app/services/charges/apply_taxes_service.rb
  app/services/plans/create_service.rb
  spec/requests/api/v1/plans_spec.rb
  spec/services/charges/apply_taxes_service_spec.rb
Labels: Charge, Tax

#1166 feat(tax): Expose plans_count and charges_count for taxes in API
  app/graphql/types/taxes/object.rb
  app/serializers/v1/tax_serializer.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/taxes/create_spec.rb
  spec/serializers/v1/tax_serializer_spec.rb
Labels: Tax

#1170 fix: To datetime boundary on invoice refresh
  app/services/subscriptions/dates_service.rb
  spec/services/subscriptions/dates_service_spec.rb
Labels: Invoice

#1174 feat(tax): Rename credit#before_vat into credit#before_taxes
  app/models/invoice.rb
  app/serializers/v1/credit_serializer.rb
  app/serializers/v1/legacy/credit_serializer.rb
  app/services/credits/applied_coupon_service.rb
  app/services/credits/credit_note_service.rb
  db/migrate/20230713122526_rename_credit_before_vat.rb
  db/schema.rb
  spec/serializers/v1/credit_serializer_spec.rb
  spec/services/credits/applied_coupon_service_spec.rb
  spec/services/credits/credit_note_service_spec.rb
Labels: Tax

#1177 feat(tax): Add fields for coupons pro-rata
  app/models/invoice/applied_tax.rb
  db/migrate/20230717090135_add_precise_coupons_amount_cents_to_fees.rb
  db/schema.rb
Labels: Tax

#1169 fix(subscriptions) return active subscriptions by default
  app/queries/subscriptions_query.rb
  spec/queries/subscriptions_query_spec.rb
Labels: 🐞 bug

#1180 feat(tax): Expose invoices_taxes#fees_amount_cents in API
  app/graphql/types/invoices/applied_taxes/object.rb
  app/serializers/v1/invoices/applied_tax_serializer.rb
  schema.graphql
  schema.json
  spec/serializers/v1/invoices/applied_tax_serializer_spec.rb
Labels: Tax

#1182 feat(taxes): Ability to assign taxes on customer creation
  app/controllers/api/v1/customers/applied_taxes_controller.rb
  app/controllers/api/v1/customers_controller.rb
  app/graphql/mutations/customers/applied_taxes/create.rb
  app/graphql/mutations/customers/applied_taxes/destroy.rb
  app/graphql/types/customers/applied_taxes/object.rb
  app/graphql/types/customers/create_customer_input.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/update_customer_input.rb
  app/graphql/types/mutation_type.rb
  app/serializers/v1/customers/applied_tax_serializer.rb
  app/services/customers/applied_taxes/create_service.rb
  app/services/customers/applied_taxes/destroy_service.rb
  app/services/customers/apply_taxes_service.rb
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  config/routes.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customers/applied_taxes/create_spec.rb
  spec/graphql/mutations/customers/applied_taxes/destroy_spec.rb
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/requests/api/v1/customers/applied_taxes_spec.rb
  spec/serializers/v1/customers/applied_tax_serializer_spec.rb
  spec/services/customers/applied_taxes/create_service_spec.rb
  spec/services/customers/applied_taxes/destroy_service_spec.rb
  spec/services/customers/apply_taxes_service_spec.rb
Labels: Customer, Tax

#1183 feat(taxes): Ability to assign taxes on plan creation
  app/controllers/api/v1/plans/applied_taxes_controller.rb
  app/controllers/api/v1/plans_controller.rb
  app/graphql/mutations/plans/applied_taxes/create.rb
  app/graphql/mutations/plans/applied_taxes/destroy.rb
  app/graphql/mutations/plans/create.rb
  app/graphql/mutations/plans/update.rb
  app/graphql/types/charges/applied_taxes/object.rb
  app/graphql/types/charges/object.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/plans/applied_taxes/object.rb
  app/graphql/types/plans/object.rb
  app/serializers/v1/plans/applied_tax_serializer.rb
  app/services/plans/applied_taxes/create_service.rb
  app/services/plans/applied_taxes/destroy_service.rb
  app/services/plans/apply_taxes_service.rb
  app/services/plans/create_service.rb
  app/services/plans/update_service.rb
  config/routes.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/applied_taxes/create_spec.rb
  spec/graphql/mutations/plans/applied_taxes/destroy_spec.rb
  spec/graphql/mutations/plans/create_spec.rb
  spec/graphql/resolvers/plan_resolver_spec.rb
  spec/requests/api/v1/plans/applied_taxes_spec.rb
  spec/services/plans/applied_taxes/create_service_spec.rb
  spec/services/plans/applied_taxes/destroy_service_spec.rb
  spec/services/plans/apply_taxes_service_spec.rb
  spec/services/plans/create_service_spec.rb
  spec/services/plans/update_service_spec.rb
Labels: Plan, Tax

#1187 fix(credit): Migrate v3 credits with wrong before taxes flag
  db/migrate/20230721073114_fix_credit_before_taxes.rb
  db/schema.rb
Labels: 🐞 bug, Credit Note, Coupon

#1191 feat(webhooks): Webhook endpoints update
  app/controllers/api/v1/webhook_endpoints_controller.rb
  app/services/webhook_endpoints/update_service.rb
  config/routes.rb
  spec/requests/api/v1/webhook_endpoints_spec.rb
  spec/services/webhook_endpoints/update_service_spec.rb
Labels: :bell: Webhook

#1196 fix(stripe): set payment method to nullable on graphql
  app/graphql/types/payment_provider_customers/provider.rb
  schema.graphql
  schema.json
Labels: GraphQL, 🐞 bug

#1197 fix(stripe): Payment provider customer provider payment methods defau…
  app/models/payment_provider_customers/base_customer.rb
Labels: 🐞 bug

#1199 bug(customer) makes the provider_payment_methods not required
  app/graphql/types/payment_provider_customers/provider_input.rb
  schema.graphql
  schema.json
Labels: 🐞 bug

#1200 feat(tax): Add AddOn::AppliedTax
  app/models/add_on.rb
  app/models/add_on/applied_tax.rb
  db/migrate/20230727163611_create_add_ons_taxes.rb
  db/schema.rb
  spec/factories/add_on_applied_taxes.rb
Labels: Tax

#1207 feat(invoice) display net payment term
  app/serializers/v1/invoice_serializer.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  app/services/invoices/one_off_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/subscription_service.rb
  app/views/templates/invoices/charge.slim
  app/views/templates/invoices/one_off.slim
  app/views/templates/invoices/v3.slim
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/nb/invoice.yml
  db/migrate/20230731135721_add_net_payment_term_to_invoice.rb
  db/schema.rb
  spec/serializers/v1/invoice_serializer_spec.rb
Labels: feature

#1209 fix(invoices): Fix payment due date when nil
  app/serializers/v1/invoice_serializer.rb
Labels: 🐞 bug
