Repository getlago/lago-api, pull requests merged in 2023-03, with the labels that each got.

#875 fix(invoices): Prevent double billing when refreshing draft invoices
  app/models/invoice_subscription.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/refresh_draft_service.rb
  app/services/invoices/subscription_service.rb
  spec/services/invoices/refresh_draft_service_spec.rb
Labels: Invoice, 🐞 bug

#879 fix(invoice): Prevent double billing with timezone
  app/services/billing_service.rb
  spec/services/billing_service_spec.rb
Labels: Invoice, 🐞 bug

#880 chore(wallet): remove unused resolver and associated type
  app/graphql/resolvers/wallet_resolver.rb
  app/graphql/types/query_type.rb
  app/graphql/types/wallets/single_object.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/wallet_resolver_spec.rb
Labels: GraphQL

#866 feat(instant_charge): Add API route to show a fee
  app/controllers/api/v1/fees_controller.rb
  app/models/organization.rb
  config/routes.rb
  spec/requests/api/v1/fees_spec.rb
Labels: API, Fee

#869 feat(instant_charge): Add instant to Charge via GraphQL
  app/graphql/types/charges/input.rb
  app/graphql/types/charges/object.rb
  schema.graphql
  schema.json
Labels: Charge

#888 fix(events): Fix debugger with deleted customers
  app/models/event.rb
  spec/graphql/resolvers/events_resolver_spec.rb
Labels: Event, 🐞 bug

#890 feat(instant_charge): Allow fees#invoice_id to be null
  app/models/fee.rb
  schema.graphql
  schema.json
  spec/models/fee_spec.rb
Labels: Invoice, Fee

#887 feat(instant_charge): Enqueue job to process an instant charge for a new event
  app/jobs/fees/create_instant_job.rb
  app/services/events/create_service.rb
  app/services/fees/create_instant_service.rb
  spec/jobs/fees/create_instant_job_spec.rb
  spec/services/events/create_service_spec.rb
Labels: Event, Charge, Fee

#893 feat(instant_charge): Compute instant aggregation
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/count_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
Labels: Billable Metric, Event

#895 feat(instant_charge): Add instant aggregation service on charges
  app/services/charges/apply_instant_charge_model_service.rb
  spec/services/charges/apply_instant_charge_model_service_spec.rb
Labels: Charge

#894 imp(invoices): Support line break on invoice footer
  app/views/helpers/line_break_helper.rb
  app/views/templates/credit_note.slim
  app/views/templates/invoice.slim
  config/application.rb
  spec/views/helpers/line_break_helper_spec.rb
Labels: Invoice

#897 chore(BillableMetrics): remove unused type
  app/graphql/resolvers/billable_metric_resolver.rb
  app/graphql/types/billable_metrics/single_object.rb
  schema.graphql
  schema.json
Labels: GraphQL

#898 chore(AddOn): remove unused single type
  app/graphql/resolvers/add_on_resolver.rb
  app/graphql/types/add_ons/single_object.rb
  schema.graphql
  schema.json
Labels: GraphQL

#899 feat(instant_charge): Add instant_event_id to fees to track instant fee source
  db/migrate/20230307131524_add_instant_event_id_to_fees.rb
  db/schema.rb
Labels: Event, Fee

#896 feat(instant_charge): Add instant fee creation service
  app/services/fees/create_instant_service.rb
  spec/services/fees/create_instant_service_spec.rb
Labels: Event, Fee

#902 misc(Plan): remove unused single type
  app/graphql/resolvers/plan_resolver.rb
  app/graphql/types/plans/single_object.rb
  schema.graphql
  schema.json
Labels: GraphQL

#901 feat(instant_charge): Deliver webhooks for created fees
  app/jobs/send_webhook_job.rb
  app/services/fees/create_instant_service.rb
  app/services/webhooks/fees/instant_created_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/fees/create_instant_service_spec.rb
  spec/services/webhooks/fees/instant_created_service_spec.rb
Labels: :bell: Webhook, Fee

#906 feat(instant_charge): Fetch fee from subscriptions instead of invoices
  app/models/organization.rb
  spec/requests/api/v1/fees_spec.rb
Labels: Fee

#905 misc(Customer): merge single object and object types
  app/graphql/mutations/customers/update_invoice_grace_period.rb
  app/graphql/mutations/customers/update_vat_rate.rb
  app/graphql/resolvers/customer_resolver.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/single_object.rb
  schema.graphql
  schema.json
Labels: GraphQL

#917 fix(credit-notes): Truncate item amount on termination
  app/services/credit_notes/create_from_termination.rb
  spec/services/credit_notes/create_from_termination_spec.rb
Labels: 🐞 bug, Credit Note

#918 feat(email): Add Organization email settings
  app/controllers/api/v1/organizations_controller.rb
  app/graphql/mutations/organizations/update.rb
  app/graphql/types/organization_type.rb
  app/graphql/types/organizations/email_settings_enum.rb
  app/graphql/types/organizations/update_organization_input.rb
  app/models/organization.rb
  app/serializers/v1/organization_serializer.rb
  app/services/organizations/update_service.rb
  config/locales/en.yml
  db/migrate/20230313145506_add_email_settings_to_organizations.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/organizations/update_spec.rb
  spec/models/organization_spec.rb
  spec/requests/api/v1/organizations_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: API, GraphQL, Email

#920 fix: Ensure migrations with tasks from prior v0.24.0-beta passes
  lib/tasks/invoices.rake
Labels: 🐞 bug

#921 feat(instant_charge): Allow instant fee creation without persistence
  app/services/fees/create_instant_service.rb
  spec/services/fees/create_instant_service_spec.rb
Labels: Fee

#924 feat(emails): Add Invoice Finalized Mailer
  .github/workflows/spec.yml
  Gemfile
  Gemfile.lock
  app/mailers/application_mailer.rb
  app/mailers/invoice_mailer.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/finalize_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/subscription_service.rb
  app/views/invoice_mailer/finalized.slim
  app/views/layouts/mailer.slim
  config/environments/development.rb
  config/environments/test.rb
  config/locales/en/email.yml
  config/locales/fr/email.yml
  config/locales/nb/email.yml
  spec/factories/organizations.rb
  spec/mailers/invoice_mailer_spec.rb
  spec/scenarios/invoices_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/finalize_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
Labels: Email

#930 feat(instant_charge): Add service to update invoice status
  app/services/invoices/payments/gocardless_service.rb
  app/services/invoices/payments/stripe_service.rb
  app/services/invoices/update_service.rb
  spec/services/invoices/payments/gocardless_service_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/invoices/update_service_spec.rb
Labels: Invoice

#932 feat(instant_charge): Add and update fees#payment_status
  app/jobs/invoices/update_fees_payment_status_job.rb
  app/models/fee.rb
  app/services/fees/add_on_service.rb
  app/services/fees/charge_service.rb
  app/services/fees/create_instant_service.rb
  app/services/fees/paid_credit_service.rb
  app/services/fees/subscription_service.rb
  app/services/invoices/update_service.rb
  db/migrate/20230323112252_add_payment_status_to_fees.rb
  db/schema.rb
  spec/jobs/invoices/update_fees_payment_status_job_spec.rb
  spec/services/fees/add_on_service_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/fees/create_instant_service_spec.rb
  spec/services/fees/paid_credit_service_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/invoices/update_service_spec.rb
Labels: Fee

#935 feat(instant_charge): add API end-point to update fee payment_status
  app/controllers/api/v1/fees_controller.rb
  app/models/fee.rb
  app/serializers/v1/fee_serializer.rb
  app/services/customers/terminate_relations_service.rb
  app/services/fees/update_service.rb
  config/routes.rb
  spec/requests/api/v1/fees_spec.rb
  spec/serializers/v1/fee_serializer_spec.rb
  spec/services/fees/update_service_spec.rb
Labels: API, Fee

#943 misc(mailer): prevent orga info display when data is not present
  app/views/layouts/mailer.slim
Labels: Email

#939 feat(instant_charge): Add GET /api/v1/fees route
  app/controllers/api/v1/fees_controller.rb
  app/queries/base_query.rb
  app/queries/fees_query.rb
  app/services/credit_notes/create_from_termination.rb
  config/routes.rb
  spec/factories/fees.rb
  spec/queries/fees_query_spec.rb
  spec/requests/api/v1/fees_spec.rb
Labels: API, Fee

#946 imp(fees): Add dates boundaries into serializer
  app/serializers/v1/fee_serializer.rb
  spec/serializers/v1/fee_serializer_spec.rb
Labels: API, Fee

#947 fix(invoices): Race conditions on finalized invoices
  app/services/invoices/finalize_service.rb
Labels: Invoice, 🐞 bug
