Repository getlago/lago-api, pull requests merged in 2023-09, with the labels that each got.

#1284 misc: Add sidekiq config to increase max dead job limit
  config/initializers/sidekiq.rb
Labels: 🐞 bug

#1282 feat(add_on): Remove routes and services for applied add on creation
  app/controllers/api/v1/applied_add_ons_controller.rb
  app/graphql/mutations/applied_add_ons/create.rb
  app/graphql/types/mutation_type.rb
  app/serializers/v1/applied_add_on_serializer.rb
  app/services/applied_add_ons/create_service.rb
  config/routes.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/applied_add_ons/create_spec.rb
  spec/requests/api/v1/applied_add_ons_spec.rb
  spec/services/applied_add_ons/create_service_spec.rb
Labels: Add On

#1285 fix(subscription): Activate should take care of past pending subscription and timezone
  app/services/subscriptions/activate_service.rb
  clock.rb
  spec/scenarios/subscriptions/activation_spec.rb
  spec/services/subscriptions/activate_service_spec.rb
Labels: Subscription, 🐞 bug

#1288 misc: remove Segment logs
  config/initializers/analytics_ruby.rb
Labels: improvement

#1289 misc: Add versioning on PaymentProvider and PaymentProviderCustomer
  app/models/payment_provider_customers/base_customer.rb
  app/models/payment_providers/base_provider.rb
  config/initializers/analytics_ruby.rb
Labels: improvement

#1291 feat(weighted-sum): Expose new fields into GraphQL
  app/graphql/types/billable_metrics/create_input.rb
  app/graphql/types/billable_metrics/object.rb
  app/graphql/types/billable_metrics/weighted_interval_enum.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/billable_metrics/create_spec.rb
Labels: Billable Metric

#1302 feat(weighted-sum): Add charge validation rule preventing pay_in_advance
  app/models/charge.rb
  spec/models/charge_spec.rb
Labels: Billable Metric, Charge

#1304 misc: Add unique index to applied taxes tables
  db/migrate/20230911185900_add_unique_index_to_applied_taxes.rb
  db/schema.rb
Labels: Tax

#1305 fix(invoice): Align fees#item and credits#item seializers
  app/serializers/v1/credit_serializer.rb
  app/serializers/v1/legacy/credit_serializer.rb
  spec/serializers/v1/credit_serializer_spec.rb
Labels: Invoice, 🐞 bug

#1292 feat(weighted-sum): Add aggregation logic
  app/models/fee.rb
  app/models/group.rb
  app/models/quantified_event.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/charges/charge_models/base_service.rb
  app/services/fees/charge_service.rb
  app/services/fees/create_pay_in_advance_service.rb
  app/services/fees/create_true_up_service.rb
  db/migrate/20230907153404_add_group_id_to_quantified_events.rb
  db/migrate/20230911083923_add_total_aggregated_units_to_fees.rb
  db/schema.rb
  spec/factories/billable_metrics.rb
  spec/factories/fees.rb
  spec/models/invoice_spec.rb
  spec/models/invoice_subscription_spec.rb
  spec/serializers/v1/fee_serializer_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/charges/charge_models/standard_service_spec.rb
  spec/services/events/create_service_spec.rb
  spec/services/fees/charge_service_spec.rb
Labels: Billable Metric, Fee

#1312 feat(weighted-sum): Add missing weighted interval for BM update in GraphQL
  app/graphql/types/billable_metrics/update_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/billable_metrics/update_spec.rb
Labels: GraphQL, Billable Metric

#1313 fix(tax): Taxes should not be reapplied to fee if it already has taxes
  app/services/fees/apply_taxes_service.rb
  spec/services/fees/apply_taxes_service_spec.rb
Labels: 🐞 bug, Fee

#1301 feat(weighted-sum): Update invoice PDF template
  app/views/templates/invoices/_subscription_details.slim
  app/views/templates/invoices/fees/_true_up_fee.slim
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/it/invoice.yml
  config/locales/nb/invoice.yml
Labels: Billable Metric, Invoice, Charge, Fee

#1316 feat(weighted-sum): Finalize the feature
  app/models/charge.rb
  app/serializers/v1/billable_metric_serializer.rb
  app/services/billable_metrics/update_service.rb
  spec/models/charge_spec.rb
  spec/scenarios/billable_metrics/weighted_sum_spec.rb
Labels: Billable Metric, Event, Charge

#1317 fix(stripe): Prevent new payment attempt when invoice is not in the right status
  app/services/payment_provider_customers/stripe_service.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: 🐞 bug

#1319 fix(coupon): Add missing coupons#terminated_at in serializer
  app/serializers/v1/coupon_serializer.rb
  spec/serializers/v1/coupon_serializer_spec.rb
Labels: 🐞 bug, Coupon

#1320 feat(event): Improve indexes to speed up current usage computation
  db/migrate/20230918090426_add_index_to_events.rb
  db/schema.rb
Labels: Event

#1325 misc: Add GIN index to events properties
  db/migrate/20230920083133_add_gin_index_to_events.rb
  db/schema.rb
Labels: Event

#1327 fix: Remove duplicated attribute on billable metric serializer
  app/serializers/v1/billable_metric_serializer.rb
Labels: API, Billable Metric, 🐞 bug

#1331 fix: Fix true_up_fee template
  app/views/templates/invoices/_subscription_details.slim
  app/views/templates/invoices/fees/_true_up_fee.slim
Labels: 🐞 bug

#1332 fix: concurent nmigrations should not be transactional
  db/migrate/20230918090426_add_index_to_events.rb
Labels: 🐞 bug

#1322 feat(weighted-sum): Fix aggregation computation
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/events/create_service.rb
  app/services/events/validate_creation_service.rb
  app/services/fees/charge_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/customer_usage_service.rb
  app/views/helpers/interval_helper.rb
  app/views/templates/invoices/_subscription_details.slim
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/it/invoice.yml
  config/locales/nb/invoice.yml
  spec/requests/api/v1/subscriptions_spec.rb
  spec/scenarios/billable_metrics/weighted_sum_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/fees/charge_service_spec.rb
Labels: Billable Metric, Event

#1330 fix: Ignore unexpected stripe webhook messages
  app/services/payment_providers/stripe_service.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: dependencies, 🐞 bug

#1335 misc: Prevent duplicated events#transaction_id error from poluting the dead job queue
  app/services/events/create_service.rb
Labels: Event, 🐞 bug

#1336 misc: Speedup subscription activation
  clock.rb
  spec/clock_spec.rb
Labels: Subscription, Event

#1321 feat(override-plan): Remove parent_id from graphql
  app/graphql/mutations/plans/create.rb
  app/services/plans/create_service.rb
  db/migrate/20230922064617_remove_parent_id_from_plans.rb
  db/schema.rb
  schema.graphql
  schema.json
Labels: Plan

#1345 feat(override-plan): Include overridden plans to plan's counters
  app/graphql/types/plans/object.rb
  app/models/plan.rb
  app/serializers/v1/plan_serializer.rb
  spec/models/plan_spec.rb
  spec/serializers/v1/plan_serializer_spec.rb
Labels: Plan

#1344 misc: Refact aggregation query to speedup field presence check
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/latest_service.rb
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
Labels: Billable Metric, Event, improvement

#1337 misc(events): Improve DB schema for better performances
  db/migrate/20230915120854_remove_events_foreign_keys.rb
  db/schema.rb
Labels: Event

#1353 fix(event): Error webhook delivery
  app/services/events/create_service.rb
Labels: Event, 🐞 bug

#1349 feat(event): Add logical separation between application and events databases
  Gemfile
  Gemfile.lock
  app/graphql/resolvers/events_resolver.rb
  app/graphql/types/events/object.rb
  app/jobs/billable_metrics/delete_events_job.rb
  app/models/event.rb
  app/models/events_record.rb
  app/services/billable_metrics/aggregations/base_service.rb
  config/database.yml
  spec/factories/events.rb
  spec/graphql/resolvers/events_resolver_spec.rb
  spec/jobs/billable_metrics/delete_events_job_spec.rb
  spec/models/invoice_spec.rb
  spec/rails_helper.rb
  spec/scenarios/billable_metrics/weighted_sum_spec.rb
  spec/scenarios/invoices_spec.rb
  spec/scenarios/pay_in_advance_charges_spec.rb
  spec/serializers/v1/fee_serializer_spec.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/billable_metrics/breakdown/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/charges/pay_in_advance_aggregation_service_spec.rb
  spec/services/events/validate_creation_service_spec.rb
  spec/services/fees/create_pay_in_advance_service_spec.rb
  spec/services/invoices/create_pay_in_advance_charge_service_spec.rb
  spec/spec_helper.rb
Labels: Event

#1352 feat(event): Refact event queries
  app/serializers/v1/fee_serializer.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/events/create_batch_service.rb
  app/services/events/create_service.rb
  app/services/events/validate_creation_service.rb
  app/services/fees/estimate_pay_in_advance_service.rb
  spec/graphql/resolvers/events_resolver_spec.rb
  spec/scenarios/create_event_spec.rb
  spec/services/events/create_batch_service_spec.rb
  spec/services/events/create_service_spec.rb
Labels: Event

#1354 feat(event): Add external customer_id and external_subscription_id
  app/models/events_record.rb
  app/services/events/create_batch_service.rb
  app/services/events/create_service.rb
  config/database.yml
  db/migrate/20220704145333_fill_event_timestamps.rb
  db/migrate/20220722123417_add_subscription_id_to_events.rb
  db/migrate/20230926132500_add_external_ids_to_events.rb
  db/schema.rb
  db/seeds/base.rb
  spec/factories/events.rb
  spec/services/events/create_service_spec.rb
Labels: Event

#1358 fix: update draft invoice net_payment_term on customer update
  app/services/customers/update_invoice_payment_due_date_service.rb
  spec/services/customers/update_service_spec.rb
Labels: 🐞 bug
