Repository getlago/lago-api, pull requests merged in 2023-10, with the labels that each got.

#1362 feat(past_usage): Add route to fetch past usage
  app/controllers/api/v1/customers/usage_controller.rb
  app/graphql/resolvers/customers/usage_resolver.rb
  app/graphql/types/charges/usage.rb
  app/graphql/types/customers/usage/charge.rb
  app/graphql/types/customers/usage/charge_group.rb
  app/graphql/types/customers/usage/current.rb
  app/graphql/types/groups/usage.rb
  app/graphql/types/invoices/usage.rb
  app/queries/past_usage_query.rb
  app/serializers/v1/customers/charge_usage_serializer.rb
  app/serializers/v1/customers/past_usage_serializer.rb
  app/serializers/v1/customers/usage_serializer.rb
  app/services/invoices/customer_usage_service.rb
  config/routes.rb
  db/seeds/base.rb
  db/seeds/invoices.rb
  schema.graphql
  schema.json
  spec/queries/past_usage_query_spec.rb
  spec/requests/api/v1/customers/usage_spec.rb
  spec/serializers/v1/customers/past_usage_serializer_spec.rb
Labels: Customer, Event

#1367 refactor(plan): expose parent object instead of only it's ID
  app/graphql/types/plans/object.rb
  schema.graphql
  schema.json
  spec/graphql/types/plans/object_spec.rb
Labels: Feature

#1366 hotfix: Subscription upgrade
  app/services/subscriptions/create_service.rb
  app/services/utils/transactional_jobs.rb
  spec/scenarios/subscriptions/upgrade_spec.rb
Labels: 🐞 Bug

#1371 fix(stripe): Prevent issue when refreshing payment method on deleted stripe customer
  app/services/invoices/payments/stripe_service.rb
  spec/services/plans/update_service_spec.rb
Labels: dependencies, Customer, Invoice, 🐞 Bug

#1373 fix(stripe): Retry not found payment intent update
  app/jobs/payment_providers/stripe/handle_event_job.rb
Labels: Invoice, 🐞 Bug

#1368 misc(sidekiq): Add sidekiq events worker
  app/jobs/events/create_job.rb
  config/sidekiq_events.yml
  scripts/start.events.worker.dev.sh
  scripts/start.events.worker.sh
Labels: Infrastructure, Event

#1374 fix(stripe): Turn off duplicated payement errors when retries from webhooks
  app/services/payment_provider_customers/stripe_service.rb
Labels: 🐞 Bug

#1376 fix(current_usage): fix charge serializer id
  app/serializers/v1/customers/charge_usage_serializer.rb
Labels: Customer, 🐞 Bug

#1377 fix(current_usage): Fix billable metric id
  app/serializers/v1/customers/charge_usage_serializer.rb
Labels: Customer, 🐞 Bug

#1381 fix(past_usage): periods count must be converted into integer
  app/queries/past_usage_query.rb
  spec/requests/api/v1/customers/usage_spec.rb
Labels: 🐞 Bug

#1365 fix: Migration tasks for primary database
  .github/workflows/spec.yml
  .gitignore
  config/database.yml
Labels: 🐞 Bug

#1388 feat(override-plan): Add subscriptions graphql resolver
  app/graphql/resolvers/subscriptions_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/subscriptions_resolver_spec.rb
Labels: Subscription

#1390 fix(event): Ensure transaction validation uses external_subscription_id
  app/services/events/validate_creation_service.rb
  spec/services/events/create_service_spec.rb
  spec/services/events/validate_creation_service_spec.rb
Labels: 🐞 Bug

#1393 feat(event): Filter events with invalid properties in aggregation
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/latest_service.rb
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
Labels: Billable Metric, Event

#1394 feat(event): Ensure only one active subscription is active in post-processing
  app/models/subscription.rb
  app/services/events/post_process_service.rb
  app/services/fees/estimate_pay_in_advance_service.rb
  spec/services/events/post_process_service_spec.rb
Labels: Subscription, Event

#1396 feat(override-plan): Ability to filter subscription by status
  app/graphql/resolvers/subscriptions_resolver.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/subscriptions_resolver_spec.rb
Labels: Subscription

#1395 feat(event): Unplug validation
  app/controllers/api/v1/events_controller.rb
  app/graphql/resolvers/events_resolver.rb
  app/graphql/types/events/object.rb
  app/jobs/events/create_job.rb
  app/serializers/error_serializer.rb
  app/serializers/v1/event_error_serializer.rb
  app/serializers/v1/legacy/event_error_serializer.rb
  app/services/events/create_service.rb
  app/services/events/post_process_service.rb
  app/services/events/validate_creation_service.rb
  app/services/fees/estimate_pay_in_advance_service.rb
  app/services/webhooks/events/error_service.rb
  schema.graphql
  schema.json
  spec/jobs/events/create_job_spec.rb
  spec/requests/api/v1/events_spec.rb
  spec/scenarios/create_event_spec.rb
  spec/serializers/error_serializer_spec.rb
  spec/serializers/v1/event_error_serializer_spec.rb
  spec/services/events/create_service_spec.rb
  spec/services/events/validate_creation_service_spec.rb
  spec/services/webhooks/events/error_service_spec.rb
Labels: Event

#1399 feat: Send started and terminated subscription webhooks
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/terminate_service.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: Subscription

#1407 fix(invoice): Fix URL when API URL is not a domain
  app/models/invoice.rb
  spec/models/invoice_spec.rb
Labels: Invoice, 🐞 Bug

#1404 feat(event): Basic clickhouse database config
  Gemfile
  Gemfile.lock
  app/models/clickhouse/base_record.rb
  config/database.yml
  db/clickhouse_migrate/.keep
  db/clickhouse_schema.rb
Labels: Event

#1411 feat(events): Stream events to kafka
  Gemfile
  Gemfile.lock
  app/services/events/create_service.rb
  karafka.rb
  spec/services/events/create_service_spec.rb
Labels: Event
