Repository getlago/lago-api, pull requests merged in 2023-01, with the labels that each got.

#705 fix: Create persisted event
  app/services/persisted_events/validate_creation_service.rb
Labels: Event

#706 fix(invoices): invoice status should be finalized by default
  db/migrate/20230102150636_change_invoices_default_status.rb
  db/schema.rb
  spec/factories/invoices.rb
  spec/graphql/mutations/invoices/finalize_spec.rb
  spec/graphql/resolvers/customers/invoices_resolver_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/finalize_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
Labels: Invoice

#722 misc: Ability to generate invoice from a rake task
  lib/tasks/subscriptions.rake
Labels: Invoice

#717 feat(timezones): Add license management
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  app/services/organizations/update_service.rb
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/mutations/organizations/update_spec.rb
  spec/requests/api/v1/customers_spec.rb
  spec/requests/api/v1/organizations_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_service_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: Customers, Organizations

#725 feat(add_ons): add search capability to GraphQl resolver
  app/graphql/resolvers/add_ons_resolver.rb
  app/queries/add_ons_query.rb
  schema.graphql
  schema.json
  spec/queries/add_ons_query_spec.rb
Labels: feature, GraphQL

#727 fix(credit_notes): Enforce security on PDF generation from GraphQL
  app/graphql/mutations/credit_notes/download.rb
  app/jobs/credit_notes/generate_pdf_job.rb
  app/services/credit_notes/generate_service.rb
  spec/jobs/credit_notes/generate_pdf_job_spec.rb
  spec/services/credit_notes/generate_service_spec.rb
Labels: Credit Notes

#728 feat(coupons): add search capability to GraphQl resolver
  app/graphql/resolvers/coupons_resolver.rb
  app/queries/coupons_query.rb
  schema.graphql
  schema.json
  spec/queries/coupons_query_spec.rb
Labels: feature, GraphQL

#733 feat(grace_period): Add 1 second to timestamp before billing
  app/services/invoices/refresh_draft_service.rb
  app/services/subscriptions/create_service.rb
  spec/scenarios/invoices_spec.rb
Labels: Invoice

#734 feat(invoices): add search capability to GraphQl resolver
  app/graphql/resolvers/invoices_resolver.rb
  app/models/invoice.rb
  app/queries/invoices_query.rb
  schema.graphql
  schema.json
  spec/queries/invoices_query_spec.rb
Labels: feature, GraphQL

#735 feat(grace_period): Finalize draft invoices when grace period is zero
  app/models/invoice.rb
  spec/scenarios/invoices_spec.rb
Labels: Invoice

#738 fix(credit-notes): Fix credit note amount for terminate with previous credit note
  app/services/credit_notes/create_from_termination.rb
  spec/services/credit_notes/create_from_termination_spec.rb
Labels: Subscription, Credit Notes

#737 feat(subscriptions): Add terminated webhook
  app/jobs/send_webhook_job.rb
  app/services/subscriptions/terminate_service.rb
  app/services/webhooks/subscriptions/terminated_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: Subscription, :bell: Webhook

#731 feat(invoices): Lock invoice payment jobs for 1 hour
  Gemfile
  Gemfile.lock
  app/jobs/invoices/payments/gocardless_create_job.rb
  app/jobs/invoices/payments/stripe_create_job.rb
  config/initializers/active_job_uniqueness.rb
  spec/rails_helper.rb
Labels: Invoice

#745 fix(s3): Add compatible S3 Bucket Region
  config/storage.yml
Labels: 🐞 bug

#747 feat(delete_bm): Expose deleted resources in PDF invoice
  app/models/fee.rb
  app/views/templates/invoice.slim
  spec/factories/charges.rb
  spec/factories/utils.rb
  spec/services/invoices/generate_service_spec.rb
Labels: Billable metrics, Invoice

#749 feat(delete_bm): Ensure deleted resources are exposed in Invoice API endpoint
  app/models/billable_metric.rb
  app/serializers/v1/fee_serializer.rb
  spec/factories/utils.rb
  spec/models/billable_metric_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/services/invoices/generate_service_spec.rb
Labels: API, Billable metrics, Invoice

#754 feat(delete_bm): Add deleted_at field in GraphQL schema
  app/graphql/types/billable_metrics/object.rb
  app/graphql/types/charges/group_properties.rb
  app/graphql/types/charges/object.rb
  app/graphql/types/events/object.rb
  app/graphql/types/groups/object.rb
  schema.graphql
  schema.json
Labels: GraphQL, Billable metrics

#758 feat(delete_charge): Refact plan update service to merge api and graphql
  app/controllers/api/v1/plans_controller.rb
  app/graphql/mutations/plans/update.rb
  app/services/plans/update_service.rb
  spec/services/plans/update_service_spec.rb
Labels: API, GraphQL, Plan, Charges

#759 misc(env): Add some production configuration env
  config/database.yml
  config/sidekiq.yml
Labels: Infrastructure

#761 feat(delete_plan): Merge API and GraphQL service method to destroy plan
  app/controllers/api/v1/plans_controller.rb
  app/graphql/mutations/plans/destroy.rb
  app/services/plans/destroy_service.rb
  spec/services/plans/destroy_service_spec.rb
Labels: API, GraphQL, Plan

#764 fix(credit-note): Subscription fee currency
  app/models/credit_note.rb
Labels: 🐞 bug, Credit Notes

#767 feat(delete_plan): Add deleted_at on plans
  app/models/plan.rb
  db/migrate/20230126103454_add_deleted_at_to_plans.rb
  db/schema.rb
Labels: Plan

#768 feat(webhooks): Add invoice payment status updated webhook
  app/jobs/send_webhook_job.rb
  app/services/invoices/payments/gocardless_service.rb
  app/services/invoices/payments/stripe_service.rb
  app/services/webhooks/invoices/payment_status_updated_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/invoices/payments/gocardless_service_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/webhooks/invoices/payment_status_updated_service_spec.rb
Labels: Invoice, :bell: Webhook

#770 fix(stripe): prevent issue with payment method update
  app/services/payment_provider_customers/stripe_service.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: 🐞 bug

#772 fix: Accept timestamp as string
  app/services/events/create_service.rb
  spec/services/events/create_service_spec.rb
Labels: Event

#773 fix(stripe): Ignore not found payment webhook when not created with lago
  app/services/invoices/payments/stripe_service.rb
  app/services/payment_providers/stripe_service.rb
  spec/fixtures/stripe/payment_intent_event.json
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: Invoice, 🐞 bug

#766 feat(delete_plan): Add subscription and invoice counters to plans
  app/graphql/types/plans/object.rb
  app/serializers/v1/plan_serializer.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/plan_resolver_spec.rb
  spec/serializers/v1/plan_serializer_spec.rb
Labels: API, GraphQL, Plan

#777 feat(delete_plan): Merge subscription terminate methods
  app/controllers/api/v1/subscriptions_controller.rb
  app/graphql/mutations/subscriptions/terminate.rb
  app/jobs/subscriptions/terminate_job.rb
  app/services/subscriptions/terminate_service.rb
  spec/graphql/mutations/subscriptions/terminate_spec.rb
  spec/jobs/subscriptions/terminate_job_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: Subscription

#765 feat(delete_plan): Remove plan canBeDeleted
  app/graphql/types/plans/object.rb
  app/models/plan.rb
  app/services/plans/destroy_service.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/plans_resolver_spec.rb
  spec/requests/api/v1/plans_spec.rb
  spec/services/plans/destroy_service_spec.rb
Labels: Plan

#779 feat(delete_customer): Add API delete route and improve services
  app/controllers/api/v1/customers_controller.rb
  app/graphql/mutations/customers/destroy.rb
  app/services/customers/destroy_service.rb
  config/routes.rb
  spec/requests/api/v1/customers_spec.rb
  spec/services/customers/destroy_service_spec.rb
Labels: API, Customers
