Repository getlago/lago-api, pull requests merged in 2023-08, with the labels that each got.

#1206 fix(register): Do not permit signup when disabled
  app/services/users_service.rb
  spec/services/users_service_spec.rb
Labels: 🐞 bug

#1204 feat(tax): Add add_ons_count to tax
  app/graphql/types/taxes/object.rb
  app/models/tax.rb
  app/serializers/v1/tax_serializer.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/taxes/create_spec.rb
  spec/serializers/v1/tax_serializer_spec.rb
Labels: Add On, Tax

#1214 feat: Return key in one-dimension groups serializer
  app/serializers/v1/group_serializer.rb
  spec/requests/api/v1/billable_metrics/groups_spec.rb
Labels: Group

#1216 fix(stripe): update payment methods
  app/services/payment_provider_customers/create_service.rb
Labels: 🐞 bug

#1217 fix(tax): Do not duplicate taxes when multiple plans
  app/services/invoices/calculate_fees_service.rb
Labels: Invoice, Tax

#1218 fix(stripe): Default payment methods
  app/services/payment_provider_customers/create_service.rb
  spec/requests/api/v1/customers_spec.rb
Labels: 🐞 bug

#1219 fix(invoice): Ensure mailer can be sent for deleted charges/plans
  app/models/charge.rb
Labels: 🐞 bug

#1220 fix(webhook): Handle auto retry with EOFError
  app/services/webhooks/base_service.rb
Labels: :bell: Webhook, 🐞 bug

#1222 misc: Rename Invoices::OneOffService to Invoices::CreateService
  app/controllers/api/v1/invoices_controller.rb
  app/graphql/mutations/invoices/create.rb
  app/services/invoices/create_service.rb
  spec/services/invoices/create_service_spec.rb
Labels: Invoice

#1223 fix(stripe): handle processing payment status
  app/services/invoices/payments/stripe_service.rb
  spec/services/invoices/payments/stripe_service_spec.rb
Labels: Invoice, 🐞 bug

#1224 feat(tax): Apply taxes to add on fees
  app/services/fees/apply_taxes_service.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/services/fees/apply_taxes_service_spec.rb
Labels: Add On, Tax

#1225 fix(invoice): revert changes for payment_due_date on templates
  app/views/templates/invoices/charge.slim
  app/views/templates/invoices/one_off.slim
  app/views/templates/invoices/v3.slim
Labels: Invoice, 🐞 bug

#1229 Migrate payment due date
  app/views/templates/invoices/charge.slim
  app/views/templates/invoices/one_off.slim
  app/views/templates/invoices/v3.slim
  db/migrate/20230808144739_fill_invoice_payment_due_date.rb
  db/schema.rb
Labels: Invoice

#1231 fix(stripe): Add new filter for missing stripe customer in strip webhooks
  app/services/payment_provider_customers/stripe_service.rb
Labels: Customer, 🐞 bug

#1234 feat(charge): Add graduated percentage charge model validation
  app/models/charge.rb
  app/services/charges/validators/graduated_percentage_service.rb
  app/services/charges/validators/graduated_service.rb
  app/services/charges/validators/volume_service.rb
  app/services/validators/decimal_amount_service.rb
  app/services/validators/range_bounds_validator.rb
  schema.graphql
  schema.json
  spec/factories/charges.rb
  spec/models/charge_spec.rb
  spec/services/charges/validators/graduated_percentage_service_spec.rb
Labels: Charge

#1239 fix: Migration precise coupons amount cents
  db/migrate/20230811081854_populate_fees_precise_coupons_amount_cents.rb
Labels: Tax

#1241 fix(stripe): Add new filter for missing stripe payment webhooks
  app/services/invoices/payments/stripe_service.rb
  app/services/payment_providers/stripe_service.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: 🐞 bug

#1238 feat(charge): Allow creation of graduated percentage charges
  app/models/charge.rb
  app/services/plans/create_service.rb
  app/services/plans/update_service.rb
  spec/services/plans/create_service_spec.rb
  spec/services/plans/update_service_spec.rb
Labels: Charge

#1246 fix(timezone): Correct calculation for true-up fee with timezone
  app/services/fees/create_true_up_service.rb
  spec/scenarios/spending_minimum_spec.rb
  spec/services/fees/create_true_up_service_spec.rb
Labels: Invoice, Fee

#1247 bug(error) fix typo in error name
  app/models/subscription.rb
  config/locales/en.yml
Labels: Subscription, 🐞 bug

#1245 feat(charge): Graduated charge model logic
  app/services/charges/charge_models/graduated_percentage_service.rb
  spec/services/charges/charge_models/graduated_percentage_service_spec.rb
Labels: Charge

#1248 feat(charge): GrapgQL types for graduated percentage
  app/graphql/types/charges/graduated_percentage_range.rb
  app/graphql/types/charges/graduated_percentage_range_input.rb
  app/graphql/types/charges/properties.rb
  app/graphql/types/charges/properties_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/create_spec.rb
Labels: GraphQL, Charge

#1253 fix: Quarterly anniversary current usage should take care of the month
  app/services/subscriptions/dates/quarterly_service.rb
  spec/services/subscriptions/dates/quarterly_service_spec.rb
Labels: 🐞 bug

#1254 fix: fees coupon amount migration
  db/migrate/20230811081854_populate_fees_precise_coupons_amount_cents.rb
Labels: 🐞 bug

#1260 feat(group): Add unique index on group_properties
  app/models/group_property.rb
  db/migrate/20230821135235_add_unique_constraint_to_group_properties.rb
  db/schema.rb
Labels: Group

#1258 feat(charge): Add per transaction min/max amounts to GraphQL percentage charge model fields
  app/graphql/types/charges/properties.rb
  app/graphql/types/charges/properties_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/create_spec.rb
Labels: Charge

#1261 feat(billable metric): Refact aggregator initializers
  app/models/invoice.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/count_service.rb
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/breakdown/sum_service.rb
  app/services/billable_metrics/breakdown/unique_count_service.rb
  app/services/billable_metrics/prorated_aggregations/base_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/billable_metrics/prorated_aggregations/unique_count_service.rb
  app/services/charges/pay_in_advance_aggregation_service.rb
  app/services/fees/charge_service.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/breakdown/sum_service_spec.rb
  spec/services/billable_metrics/breakdown/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/charges/pay_in_advance_aggregation_service_spec.rb
Labels: Billable Metric, Charge, improvement

#1257 feat(charge): Add validation for min/max per transaction amount on percentage charge model
  app/services/charges/validators/percentage_service.rb
  spec/services/charges/validators/percentage_service_spec.rb
Labels: Charge

#1269 feat(charge): Apply per transaction min/max in percentage charge model
  app/graphql/types/plans/object.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/charges/apply_pay_in_advance_charge_model_service.rb
  app/services/charges/charge_models/percentage_service.rb
  spec/scenarios/charge_models/percentage_spec.rb
  spec/scenarios/pay_in_advance_charges_spec.rb
  spec/services/charges/apply_pay_in_advance_charge_model_service_spec.rb
  spec/services/charges/charge_models/percentage_service_spec.rb
Labels: Charge

#1279 feat(group): Remove status from groups
  app/models/billable_metric.rb
  app/models/group.rb
  app/services/billable_metrics/update_service.rb
  db/migrate/20230830120517_remove_status_from_groups.rb
  db/schema.rb
  spec/factories/groups.rb
  spec/requests/api/v1/billable_metrics/groups_spec.rb
Labels: Billable Metric, Group
