Repository getlago/lago-api, pull requests merged in 2023-12, with the labels that each got.

#1505 fix(fee): expose charges boundaries in serializer when charge fee
  app/serializers/v1/fee_serializer.rb
  spec/serializers/v1/fee_serializer_spec.rb
Labels: 🐞 Bug, Fee

#1513 feat(taxes): Add EU vat rates lib
  config/application.rb
  lib/lago_eu_vat/lago_eu_vat.rb
  lib/lago_eu_vat/lago_eu_vat/eu_vat_rates.json
  lib/lago_eu_vat/lago_eu_vat/rate.rb
  spec/lib/lago_eu_vat/rate_spec.rb
Labels: Tax

#1512 feat(event): clean-up event stores and add specs for clickhouse
  Gemfile.lock
  app/services/billable_metrics/aggregations/latest_service.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: Event

#1510 fix(subscription): Target active subscription when updating
  app/controllers/api/v1/subscriptions_controller.rb
  spec/requests/api/v1/subscriptions_spec.rb
Labels: Subscription, 🐞 Bug

#1518 feat(taxes): Auto generate EU taxes
  app/graphql/resolvers/taxes_resolver.rb
  app/graphql/types/taxes/object.rb
  app/models/tax.rb
  app/queries/taxes_query.rb
  app/services/organizations/update_service.rb
  app/services/taxes/auto_generate_service.rb
  db/migrate/20231204151512_add_auto_generated_to_taxes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/taxes.rb
  spec/queries/taxes_query_spec.rb
  spec/services/organizations/update_service_spec.rb
  spec/services/taxes/auto_generate_service_spec.rb
Labels: GraphQL, Tax

#1521 imp(webhooks): Add customer on webhook invoice payment status updated
  app/services/webhooks/invoices/payment_status_updated_service.rb
Labels: Customer, Invoice, :bell: Webhook

#1522 feat(event): Enable clickhouse per organization
  app/services/billable_metrics/aggregation_factory.rb
  db/migrate/20231207095229_add_clickhouse_flag_to_organizations.rb
  db/schema.rb
  spec/services/events/stores/clickhouse_store_spec.rb
Labels: Billable Metric, Event

#1492 feat(event): Add clickhouse sum aggregation
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/breakdown/sum_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/charges/charge_models/percentage_service_spec.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: Event

#1524 feat(billable-metric): Remove deprecated recurring_count_agg
  app/graphql/types/billable_metrics/aggregation_type_enum.rb
  app/models/billable_metric.rb
  app/models/charge.rb
  app/services/billable_metrics/aggregation_factory.rb
  app/services/billable_metrics/aggregations/recurring_count_service.rb
  app/services/billable_metrics/create_service.rb
  app/services/billable_metrics/update_service.rb
  app/services/events/validate_creation_service.rb
  app/services/quantified_events/create_or_update_service.rb
  app/views/templates/invoices/_subscription_details.slim
  app/views/templates/invoices/v1.slim
  app/views/templates/invoices/v2.slim
  db/migrate/20230719100256_migrate_recurring_count_and_unique_count_aggregation.rb
  schema.graphql
  schema.json
  spec/factories/billable_metrics.rb
  spec/models/charge_spec.rb
  spec/models/invoice_spec.rb
  spec/queries/billable_metrics_query_spec.rb
  spec/services/billable_metrics/aggregation_factory_spec.rb
  spec/services/billable_metrics/aggregations/recurring_count_service_spec.rb
  spec/services/billable_metrics/create_service_spec.rb
  spec/services/billable_metrics/update_service_spec.rb
  spec/services/events/create_batch_service_spec.rb
  spec/services/events/post_process_service_spec.rb
  spec/services/events/validate_creation_service_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/quantified_events/validate_creation_service_spec.rb
Labels: Billable Metric

#1529 misc(fee) expose description in type
  app/graphql/types/fees/object.rb
  schema.graphql
  schema.json
Labels: GraphQL

#1511 feat(event): Weighted sum aggregation at clickhouse level
  app/services/billable_metrics/aggregation_factory.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse/weighted_sum_query.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres/weighted_sum_query.rb
  app/services/events/stores/postgres_store.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: Event

#1533 fix(invoice): Finalize each invoice in a single job
  app/jobs/clock/finalize_invoices_job.rb
  app/jobs/invoices/finalize_job.rb
  spec/jobs/clock/finalize_invoices_job_spec.rb
  spec/jobs/invoices/finalize_job_spec.rb
Labels: Invoice, 🐞 Bug

#1536 fix(event): Pay in advance with missing or invalid group
  app/services/fees/create_pay_in_advance_service.rb
  spec/scenarios/pay_in_advance_charges_spec.rb
Labels: Event, 🐞 Bug

#1532 feat(taxes): Customer EU VAT autodetection
  Gemfile
  Gemfile.lock
  app/services/customers/create_service.rb
  app/services/customers/eu_auto_taxes_service.rb
  app/services/customers/update_service.rb
  app/services/taxes/auto_generate_service.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/eu_auto_taxes_service_spec.rb
  spec/services/customers/update_service_spec.rb
Labels: Customer, Tax

#1537 Fix in advance group events
  app/services/invoices/create_pay_in_advance_charge_service.rb
  spec/scenarios/pay_in_advance_charges_spec.rb
Labels: Invoice, Event, 🐞 Bug

#1517 feat(event): Use event stores for unique count aggregation
  app/models/event.rb
  app/services/billable_metrics/aggregation_factory.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/events/post_process_service.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  db/clickhouse_schema.rb
  db/migrate/20231205153156_remove_events_quantified_events_relation.rb
  db/schema.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/events/post_process_service_spec.rb
  spec/services/fees/charge_service_spec.rb
Labels: Billable Metric, Event

#1538 misc: Cleanup base aggregation service
  app/services/billable_metrics/aggregations/base_service.rb
Labels: Billable Metric, Event

#1541 fix(unit-price): Standard charge model with dimensions
  app/views/templates/invoices/v4/_default_fee_with_groups.slim
  app/views/templates/invoices/v4/_subscription_details.slim
Labels: Invoice

#1542 fix(invoice): Add missing unique index on invoice sequential ids
  db/migrate/20231214103653_add_unique_index_on_invoice_sequential_id.rb
  db/schema.rb
Labels: Invoice, 🐞 Bug

#1539 feat(taxes): Add Vies check webhook
  app/jobs/send_webhook_job.rb
  app/serializers/v1/customer_serializer.rb
  app/services/customers/eu_auto_taxes_service.rb
  app/services/webhooks/customers/vies_check_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/customers/eu_auto_taxes_service_spec.rb
  spec/services/webhooks/customers/vies_check_service_spec.rb
Labels: Customer, :bell: Webhook, Tax

#1525 misc: Enable clickhouse CI
  .github/workflows/spec.yml
  ci/clickhouse/config.xml
  config/database.yml
  db/clickhouse_schema.rb
  docker-compose.ci.yml
  spec/spec_helper.rb
Labels: enhancement, Infrastructure, improvement

#1543 fix(invoice): Add missing unique index on invoice organization_sequential ids
  app/models/invoice.rb
  db/migrate/20231214133638_add_unique_index_on_invoice_organization_sequential_id.rb
  db/schema.rb
  spec/factories/invoices.rb
  spec/models/invoice_spec.rb
Labels: Invoice, 🐞 Bug

#1544 feat(invoice): Add new generating status to invoices
  app/controllers/api/v1/credit_notes_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/graphql/mutations/credit_notes/create.rb
  app/graphql/mutations/customer_portal/download_invoice.rb
  app/graphql/mutations/invoices/download.rb
  app/graphql/mutations/invoices/refresh.rb
  app/graphql/mutations/invoices/retry_payment.rb
  app/graphql/mutations/invoices/update.rb
  app/graphql/mutations/invoices/void.rb
  app/graphql/resolvers/credit_notes/estimate_resolver.rb
  app/graphql/resolvers/invoice_resolver.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/invoices/status_type_enum.rb
  app/models/invoice.rb
  app/queries/invoices_query.rb
Labels: Invoice

#1546 feat(invoice): Add invoice create generating service
  app/models/invoice.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/create_generating_service.rb
  spec/services/invoices/create_generating_service_spec.rb
Labels: Invoice

#1549 fix(invoice): Fix specs with organization sequential id initial value
  spec/models/invoice_spec.rb
Labels: Invoice

#1556 fix(plan): cancel pending subscription on destroy
  app/services/plans/destroy_service.rb
  spec/services/plans/destroy_service_spec.rb
Labels: Subscription, Plan, 🐞 Bug

#1548 feat(event): Plug invoice create generating invoice for in advance aggregation
  app/jobs/invoices/create_pay_in_advance_charge_job.rb
  app/services/fees/create_pay_in_advance_service.rb
  app/services/invoices/create_generating_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  spec/jobs/invoices/create_pay_in_advance_charge_job_spec.rb
  spec/services/fees/create_pay_in_advance_service_spec.rb
  spec/services/invoices/create_pay_in_advance_charge_service_spec.rb
Labels: Invoice

#1552 feat(event): Use generating invoice service for prepaid credit invoices
  app/jobs/bill_paid_credit_job.rb
  app/services/invoices/paid_credit_service.rb
  spec/jobs/bill_paid_credit_job_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
Labels: Invoice, 🐞 Bug

#1555 fix(events): Negative event values should not be flagged as invalid
  db/migrate/20231219121735_update_last_hour_events_mv_to_version2.rb
  db/schema.rb
  db/views/last_hour_events_mv_v02.sql
  spec/services/events/post_validation_service_spec.rb
Labels: Event, 🐞 Bug

#1562 fix(webhooks): Handle Errno::ECONNREFUSED error class for retry
  app/services/webhooks/base_service.rb
Labels: :bell: Webhook, 🐞 Bug

#1564 hotfix(invoice): Add missing return condition in BillPaidCreditJob
  app/jobs/bill_paid_credit_job.rb
Labels: 🐞 Bug

#1563 fix(webhooks): Handle OpenSSL::SSL::SSLError error class for retry
  app/services/webhooks/base_service.rb
Labels: :bell: Webhook, 🐞 Bug

#1565 fix(unit-price): Fix true-up fees on pdf template
  app/views/templates/invoices/v4/_subscription_details.slim
Labels: Invoice

#1561 feat(event): Plug invoice create generating invoice for in advance aggregation
  app/jobs/bill_subscription_job.rb
  app/services/base_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/create_generating_service.rb
  app/services/invoices/create_invoice_subscription_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  app/services/invoices/refresh_draft_service.rb
  app/services/invoices/subscription_service.rb
  db/seeds/invoices.rb
  lib/tasks/subscriptions.rake
  spec/jobs/bill_subscription_job_spec.rb
  spec/jobs/invoices/create_pay_in_advance_charge_job_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/create_generating_service_spec.rb
  spec/services/invoices/create_invoice_subscription_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
Labels: Invoice

#1559 feat(invoices): Do not send invoice when amount is zero
  app/mailers/invoice_mailer.rb
  spec/mailers/invoice_mailer_spec.rb
Labels: Invoice, Email

#1567 fix(invoice): Monthly boundaries with aniversary on the 31st
  app/services/subscriptions/dates/monthly_service.rb
  spec/scenarios/subscriptions/billing_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
Labels: Invoice, 🐞 Bug

#1570 fix(taxes): Remove GB from EU taxes
  lib/lago_eu_vat/lago_eu_vat/eu_vat_rates.json
  spec/lib/lago_eu_vat/rate_spec.rb
  spec/services/taxes/auto_generate_service_spec.rb
Labels: 🐞 Bug, Tax

#1571 feat(stripe): do not mark invoice as failed when amount is too small
  app/services/invoices/payments/stripe_service.rb
  spec/services/invoices/payments/stripe_service_spec.rb
Labels: Invoice

#1572 feat(taxes): Add EU VAT terms
  app/views/templates/credit_note.slim
  app/views/templates/invoices/v4.slim
  app/views/templates/invoices/v4/_eu_tax_management.slim
  app/views/templates/invoices/v4/charge.slim
  app/views/templates/invoices/v4/one_off.slim
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/es/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/it/invoice.yml
  config/locales/nb/invoice.yml
  config/locales/sv/invoice.yml
Labels: Invoice, Tax
