Repository getlago/lago-api, pull requests merged in 2023-02, with the labels that each got.

#786 fix: Flaky test on finalizing invoices
  spec/services/invoices/finalize_service_spec.rb
Labels: Invoice

#789 feat(delete_coupon): Add unscoped to legacy coupon's tasks
  lib/tasks/coupons.rake
Labels: Coupon

#784 fix(subscription): Fix credit note amount validation when terminating
  app/services/credit_notes/create_from_termination.rb
  spec/scenarios/invoices_spec.rb
Labels: 🐞 bug

#794 misc: Refactor AddOns::UpdateService
  app/controllers/api/v1/add_ons_controller.rb
  app/graphql/mutations/add_ons/update.rb
  app/services/add_ons/update_service.rb
  spec/services/add_ons/update_service_spec.rb
Labels: Add On

#795 feat: Restrict add on update if already applied
  app/services/add_ons/update_service.rb
  spec/services/add_ons/update_service_spec.rb
Labels: Add On

#796 feat(delete_customer): Keep customer visible from invoice
  app/graphql/types/customers/object.rb
  app/models/invoice.rb
  app/models/organization.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/customer_usage_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/subscription_service.rb
  db/migrate/20230202163249_add_organization_id_to_invoices.rb
  db/schema.rb
  lib/tasks/invoices.rake
  schema.graphql
  schema.json
  spec/factories/invoices.rb
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/graphql/mutations/invoices/finalize_spec.rb
  spec/graphql/mutations/invoices/refresh_spec.rb
  spec/graphql/mutations/invoices/retry_all_payments_spec.rb
  spec/graphql/mutations/invoices/retry_payment_spec.rb
  spec/graphql/resolvers/billable_metric_resolver_spec.rb
  spec/graphql/resolvers/customers/invoices_resolver_spec.rb
  spec/graphql/resolvers/invoice_credit_notes_resolver_spec.rb
  spec/graphql/resolvers/invoice_resolver_spec.rb
  spec/graphql/resolvers/invoices_resolver_spec.rb
  spec/jobs/clock/finalize_invoices_job_spec.rb
  spec/jobs/invoices/payments/retry_all_job_spec.rb
  spec/jobs/invoices/prepaid_credit_job_spec.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/models/credit_note_spec.rb
  spec/models/invoice_spec.rb
  spec/queries/invoices_query_spec.rb
  spec/requests/api/v1/credit_notes_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/serializers/v1/billable_metric_serializer_spec.rb
  spec/services/credit_notes/generate_service_spec.rb
  spec/services/customers/update_invoice_grace_period_service_spec.rb
  spec/services/fees/paid_credit_service_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/invoices/generate_service_spec.rb
  spec/services/invoices/payments/create_service_spec.rb
  spec/services/invoices/payments/gocardless_service_spec.rb
  spec/services/invoices/payments/retry_service_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/invoices/refresh_draft_service_spec.rb
  spec/services/organizations/update_invoice_grace_period_service_spec.rb
  spec/services/organizations/update_service_spec.rb
  spec/services/wallets/apply_paid_credits_service_spec.rb
  spec/services/webhooks/add_on_service_spec.rb
  spec/services/webhooks/invoices/drafted_service_spec.rb
  spec/services/webhooks/invoices/generated_service_spec.rb
  spec/services/webhooks/invoices/payment_status_updated_service_spec.rb
  spec/services/webhooks/invoices_service_spec.rb
  spec/services/webhooks/payment_providers/invoice_payment_failure_service_spec.rb
Labels: API, GraphQL, Invoice

#804 fix(credit_note): Fix item label when related to an add on invoice
  app/models/credit_note.rb
  app/views/templates/credit_note.slim
  spec/models/credit_note_spec.rb
Labels: GraphQL, Credit Note

#803 feat(delete_coupon): Ability to terminate an applied coupon from the API
  app/controllers/api/v1/customers/applied_coupons_controller.rb
  app/controllers/api/v1/customers_controller.rb
  config/routes.rb
  spec/requests/api/v1/customers/applied_coupons_spec.rb
Labels: Coupon

#802 feat(delete_customer): Terminate all customer resources
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/mutations/wallets/terminate.rb
  app/jobs/customers/terminate_relations_job.rb
  app/models/subscription.rb
  app/services/customers/destroy_service.rb
  app/services/customers/terminate_relations_service.rb
  app/services/wallets/terminate_service.rb
  spec/jobs/customers/terminate_relations_job_spec.rb
  spec/services/customers/destroy_service_spec.rb
  spec/services/customers/terminate_relations_service_spec.rb
  spec/services/wallets/terminate_service_spec.rb
Labels: Customers

#805 feat(webhooks): Add Webhooks Table and Model
  app/models/webhook.rb
  db/migrate/20230206143214_create_webhooks.rb
  db/schema.rb
  db/seeds/base.rb
  db/seeds/invoices.rb
  db/seeds/webhooks.rb
  spec/factories/webhooks.rb
Labels: :bell: Webhook

#810 feat(delete_customer): Add scenario spec
  spec/scenarios/delete_customer_spec.rb
  spec/support/scenarios_helper.rb
Labels: Customers

#808 feat(webhooks): Add Webhooks GQL Resolver
  app/graphql/resolvers/webhooks_resolver.rb
  app/graphql/types/query_type.rb
  app/graphql/types/webhooks/object.rb
  app/graphql/types/webhooks/status_enum.rb
  app/models/organization.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/webhooks_resolver_spec.rb
Labels: :bell: Webhook

#809 feat(webhooks): Add Cleanup Job
  app/jobs/clock/webhooks_cleanup_job.rb
  clock.rb
  spec/jobs/clock/webhooks_cleanup_job_spec.rb
Labels: :bell: Webhook

#818 fix(credit_notes): Fix downgrade credit notes when timezone
  app/services/credit_notes/create_from_termination.rb
  spec/scenarios/terminate_pay_in_advance_spec.rb
  spec/services/credit_notes/create_from_termination_spec.rb
Labels: Subscription, 🐞 bug, Credit Note

#821 fix(invoices): Round VAT at invoice level
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/compute_amounts_from_fees.rb
  app/services/invoices/refresh_draft_service.rb
  spec/services/invoices/compute_amounts_from_fees_spec.rb
Labels: Invoice, 🐞 bug

#822 misc: Clean up calculate fee specs to make it clearer
  spec/services/invoices/calculate_fees_service_spec.rb
Labels: Invoice

#824 fix(usage): Round VAT at invoice level
  app/services/invoices/customer_usage_service.rb
  spec/services/invoices/customer_usage_service_spec.rb
Labels: Customers, Invoice, 🐞 bug

#828 misc: Add default value for vat_rate on fees and invoices
  db/migrate/20230214145444_add_default_to_vat_rate.rb
  db/schema.rb
  spec/services/invoices/refresh_draft_service_spec.rb
Labels: Invoice, Fee

#829 fix(credit_notes): Round VAT at credit note level
  app/models/invoice.rb
  spec/models/invoice_spec.rb
  spec/services/credit_notes/validate_item_service_spec.rb
  spec/services/credit_notes/validate_service_spec.rb
Labels: Invoice, 🐞 bug, Credit Note

#832 misc(invites): set order on created_at
  app/graphql/resolvers/invites_resolver.rb
Labels: GraphQL

#814 feat(webhooks): Add Search capability
  app/graphql/resolvers/webhooks_resolver.rb
  app/models/webhook.rb
  app/queries/webhooks_query.rb
  schema.graphql
  schema.json
  spec/queries/webhooks_query_spec.rb
Labels: :bell: Webhook

#831 fix(credit_notes): Round VAT at credit note level
  app/graphql/types/credit_note_items/object.rb
  app/models/credit_note_item.rb
  app/models/invoice.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/validate_item_service.rb
  app/services/credit_notes/validate_service.rb
  schema.graphql
  schema.json
Labels: 🐞 bug, Credit Note

#834 misc: Merge API and GraphQL AppliedAddOn create services
  app/controllers/api/v1/applied_add_ons_controller.rb
  app/graphql/mutations/applied_add_ons/create.rb
  app/services/applied_add_ons/create_service.rb
  spec/services/applied_add_ons/create_service_spec.rb
Labels: API, GraphQL, Add On

#836 misc: Merge API and GraphQL AppliedCoupon create services
  app/controllers/api/v1/applied_coupons_controller.rb
  app/graphql/mutations/applied_coupons/create.rb
  app/services/applied_coupons/create_service.rb
  spec/services/applied_coupons/create_service_spec.rb
Labels: API, GraphQL, Coupon

#839 misc: Merge API and GraphQL BillableMetric update services
  app/controllers/api/v1/billable_metrics_controller.rb
  app/graphql/mutations/billable_metrics/update.rb
  app/services/billable_metrics/update_service.rb
  spec/services/billable_metrics/update_service_spec.rb
Labels: API, GraphQL, Billable Metric

#841 misc: Merge API and GraphQL Invoice generate services
  app/controllers/api/v1/invoices_controller.rb
  app/graphql/mutations/invoices/download.rb
  app/jobs/invoices/generate_job.rb
  app/jobs/invoices/generate_pdf_job.rb
  app/services/invoices/generate_pdf_service.rb
  lib/tasks/subscriptions.rake
  spec/graphql/mutations/invoices/download_spec.rb
  spec/jobs/invoices/generate_pdf_job_spec.rb
  spec/services/invoices/generate_pdf_service_spec.rb
Labels: API, GraphQL, Invoice

#842 misc: Merge API and GraphQL Subscription create services
  app/controllers/api/v1/subscriptions_controller.rb
  app/graphql/mutations/subscriptions/create.rb
  app/services/subscriptions/create_service.rb
  spec/services/subscriptions/create_service_spec.rb
Labels: API, GraphQL, Subscription

#845 fix(stripe): Ignore not found payment webhook when no invoice
  app/services/invoices/payments/stripe_service.rb
  spec/services/invoices/payments/stripe_service_spec.rb
Labels: 🐞 bug

#846 fix(stripe): Ignore not found customer webhook when no customer
  app/services/payment_provider_customers/stripe_service.rb
  app/services/payment_providers/stripe_service.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: 🐞 bug

#840 misc: Merge API and GraphQL Coupons update services
  app/controllers/api/v1/coupons_controller.rb
  app/graphql/mutations/coupons/update.rb
  app/services/coupons/update_service.rb
  spec/services/coupons/update_service_spec.rb
Labels: API, GraphQL, Coupon

#849 fix(stripe): Capture error when removing webhook url
  app/services/payment_providers/stripe_service.rb
Labels: 🐞 bug

#859 fix(credit-notes): Take max creditable amount when terminating subscription
  app/services/credit_notes/create_from_termination.rb
  spec/services/credit_notes/create_from_termination_spec.rb
Labels: Subscription, 🐞 bug, Credit Note

#864 fix(coupons): Fix deleted coupon display on invoice
  app/models/credit.rb
  spec/models/credit_spec.rb
Labels: Invoice, 🐞 bug, Coupon

#862 feat(webhooks): Resend webhooks
  app/graphql/mutations/webhooks/retry.rb
  app/graphql/types/mutation_type.rb
  app/services/webhooks/base_service.rb
  app/services/webhooks/retry_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/webhooks/retry_spec.rb
  spec/jobs/clock/webhooks_cleanup_job_spec.rb
  spec/services/webhooks/base_service_spec.rb
  spec/services/webhooks/retry_service_spec.rb
Labels: GraphQL, :bell: Webhook

#870 fix: Do not duplicate events on debugger
  app/graphql/resolvers/events_resolver.rb
  spec/graphql/resolvers/events_resolver_spec.rb
Labels: Billable Metric
