Repository getlago/lago-api, pull requests merged in 2023-05, with the labels that each got.

#1022 fix(subscription): Take coupons into account for credit note creation at subscription termination
  app/services/credit_notes/compute_amount_service.rb
  app/services/credit_notes/create_from_termination.rb
  app/services/credit_notes/create_service.rb
  spec/services/credit_notes/compute_amount_service_spec.rb
  spec/services/credit_notes/create_from_termination_spec.rb
Labels: Subscription, 🐞 bug, Credit Note

#1024 feat(tax_rates): Migration from vat_rate to tax rates
  app/models/customer.rb
  app/models/customers_tax_rate.rb
  app/models/organization.rb
  app/models/tax_rate.rb
  db/migrate/20230510113501_create_customers_tax_rates.rb
  db/schema.rb
  lib/tasks/tax_rates.rake
  spec/factories/customers_tax_rates.rb
  spec/factories/tax_rates.rb
  spec/models/customers_tax_rate_spec.rb
Labels: Tax Rate

#1025 feat(tax_rate): Assign a tax rate to an organization via API
  app/controllers/api/v1/tax_rates_controller.rb
  app/serializers/v1/tax_rate_serializer.rb
  app/services/tax_rates/create_service.rb
  app/services/tax_rates/update_service.rb
  spec/requests/api/v1/tax_rates_spec.rb
Labels: Tax Rate

#1032 fix: Display sub_total_vat_excluded_amount_cents on invoice template
  app/views/templates/invoices/v3.slim
Labels: 🐞 bug

#1035 hotfix: Fix monthly charges for yearly plan when subscription starts on last day of the month
  app/services/subscriptions/dates/monthly_service.rb
  app/services/subscriptions/dates_service.rb
  spec/scenarios/billing_scenario_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
Labels: Subscription, Invoice, 🐞 bug

#1049 fix(aggregation): Fix sum aggregation when event property is a float
  app/services/billable_metrics/aggregations/sum_service.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
Labels: Billable Metric, Event, 🐞 bug

#1044 feat(tax): Rename invoice vat fields into taxes
  app/graphql/types/invoices/object.rb
  app/graphql/types/invoices/usage.rb
  app/models/invoice.rb
  app/serializers/v1/customer_usage_serializer.rb
  app/serializers/v1/invoice_serializer.rb
  app/serializers/v1/legacy/customer_usage_serializer.rb
  app/serializers/v1/legacy/invoice_serializer.rb
  app/services/credits/applied_coupons_service.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/compute_amounts_from_fees.rb
  app/services/invoices/customer_usage_service.rb
  app/services/invoices/one_off_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/refresh_draft_service.rb
  app/services/invoices/subscription_service.rb
  app/views/templates/credit_note.slim
  app/views/templates/invoices/one_off.slim
  app/views/templates/invoices/v1.slim
  app/views/templates/invoices/v2.slim
  app/views/templates/invoices/v3.slim
  db/migrate/20230523094557_rename_invoices_vat_fields.rb
  db/schema.rb
  lib/tasks/invoices.rake
  schema.graphql
  schema.json
  spec/graphql/mutations/credit_notes/create_spec.rb
  spec/graphql/mutations/invoices/create_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/models/invoice_spec.rb
  spec/requests/api/v1/credit_notes_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/scenarios/spending_minimum_spec.rb
  spec/serializers/v1/invoice_serializer_spec.rb
  spec/services/credit_notes/compute_amount_service_spec.rb
  spec/services/credit_notes/create_from_termination_spec.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/validate_service_spec.rb
  spec/services/credits/applied_coupons_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/compute_amounts_from_fees_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
  spec/services/invoices/one_off_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/refresh_draft_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: Tax

#1050 feat(tax): Add fees_taxes resource
  app/models/fee.rb
  app/models/fees_tax.rb
  app/models/tax.rb
  db/migrate/20230525120005_create_fees_taxes.rb
  db/schema.rb
  spec/factories/fees_taxes.rb
  spec/models/fees_tax_spec.rb
Labels: Tax

#1052 feat(tax): Add fees_taxes resource
  app/models/fee.rb
  app/models/fees_tax.rb
  app/models/tax.rb
  db/migrate/20230525120005_create_fees_taxes.rb
  db/schema.rb
  spec/factories/fees_taxes.rb
  spec/models/fees_tax_spec.rb
Labels: Tax

#1055 feat(tax): Add credit_notes_taxes resource
  app/models/credit_notes_tax.rb
  db/migrate/20230525154612_create_credit_notes_taxes.rb
  db/schema.rb
  spec/factories/credit_notes_taxes.rb
  spec/models/credit_notes_tax_spec.rb
Labels: Tax

#1054 fix(coupons): Ignore applied coupons for deleted customers
  app/controllers/api/v1/applied_coupons_controller.rb
  app/queries/applied_coupons_query.rb
  spec/queries/applied_coupons_query_spec.rb
  spec/requests/api/v1/applied_coupons_spec.rb
Labels: API, 🐞 bug, Coupon

#1057 fix: Monetize fee with expected currency
  app/models/fee.rb
  spec/models/fee_spec.rb
Labels: 🐞 bug

#1062 fix: Invoice credit amount migration
  db/migrate/20221020093745_add_credit_amount_to_invoices.rb
  lib/tasks/invoices.rake
Labels: 🐞 bug

#1056 feat(tax): Add a service to apply taxes to a fee
  app/models/tax.rb
  app/services/fees/apply_taxes_service.rb
  lib/tasks/taxes.rake
  spec/services/fees/apply_taxes_service_spec.rb
Labels: Fee, Tax

#1064 feat(tax): Use a customer namespace for applied taxes
  app/controllers/api/v1/customers/applied_taxes_controller.rb
  app/graphql/mutations/applied_taxes/create.rb
  app/graphql/mutations/applied_taxes/destroy.rb
  app/graphql/mutations/customers/applied_taxes/create.rb
  app/graphql/mutations/customers/applied_taxes/destroy.rb
  app/graphql/types/applied_taxes/object.rb
  app/graphql/types/customers/applied_taxes/object.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/mutation_type.rb
  app/models/applied_tax.rb
  app/models/customer.rb
  app/models/customer/applied_tax.rb
  app/models/tax.rb
  app/serializers/v1/applied_tax_serializer.rb
  app/serializers/v1/customers/applied_tax_serializer.rb
  app/services/applied_taxes/create_service.rb
  app/services/applied_taxes/destroy_service.rb
  app/services/customers/applied_taxes/create_service.rb
  app/services/customers/applied_taxes/destroy_service.rb
  db/migrate/20230529093955_rename_applied_taxes_to_customers_taxes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/customer_applied_taxes.rb
  spec/graphql/mutations/customers/applied_taxes/create_spec.rb
  spec/graphql/mutations/customers/applied_taxes/destroy_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/models/applied_tax_spec.rb
  spec/models/customer/applied_tax_spec.rb
  spec/models/tax_spec.rb
  spec/requests/api/v1/customers/applied_taxes_spec.rb
  spec/serializers/v1/customers/applied_tax_serializer_spec.rb
  spec/services/customers/applied_taxes/create_service_spec.rb
  spec/services/customers/applied_taxes/destroy_service_spec.rb
  spec/services/fees/apply_taxes_service_spec.rb
Labels: Tax

#1067 fix: Invoice organization_id migration
  db/migrate/20230202163249_add_organization_id_to_invoices.rb
  lib/tasks/invoices.rake
Labels: 🐞 bug
