Repository getlago/lago-api, pull requests merged in 2023-04, with the labels that each got.

#950 bug(password-reset): fix displayed links in email
  app/mailers/password_reset_mailer.rb
  app/views/password_reset_mailer/requested.slim
Labels: 🐞 bug, Email

#955 fix: Do not bill subscription if not active
  app/services/subscriptions/create_service.rb
  spec/services/subscriptions/create_service_spec.rb
Labels: 🐞 bug

#951 feat: Turn balance float amounts into cents
  app/graphql/types/wallets/object.rb
  app/models/wallet.rb
  app/serializers/v1/legacy/wallet_serializer.rb
  app/serializers/v1/wallet_serializer.rb
  app/services/credits/applied_prepaid_credit_service.rb
  app/services/wallet_transactions/create_service.rb
  app/services/wallets/apply_paid_credits_service.rb
  app/services/wallets/balance/decrease_service.rb
  app/services/wallets/balance/increase_service.rb
  db/migrate/20230403093407_add_balance_cents_to_wallets.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/factories/wallets.rb
  spec/jobs/invoices/prepaid_credit_job_spec.rb
  spec/models/wallet_spec.rb
  spec/serializers/v1/wallet_serializer_spec.rb
  spec/services/credits/applied_prepaid_credit_service_spec.rb
  spec/services/wallet_transactions/create_service_spec.rb
  spec/services/wallets/apply_paid_credits_service_spec.rb
  spec/services/wallets/balance/decrease_service_spec.rb
  spec/services/wallets/balance/increase_service_spec.rb
Labels: API, GraphQL

#959 hofix: Issue in wallet migration with deleted customers
  db/migrate/20230403093407_add_balance_cents_to_wallets.rb
Labels: 🐞 bug

#962 HOTFIX: naming and migration for wallet balance and currency
  app/models/wallet.rb
  db/migrate/20230403093407_add_balance_cents_to_wallets.rb
  db/migrate/20230411085545_fix_wallet_consumed_amount_currency_naming.rb
  db/schema.rb
  spec/models/wallet_spec.rb
Labels: 🐞 bug

#967 feat(billable_metric): allow to filter by aggregation_type
  app/graphql/resolvers/billable_metrics_resolver.rb
  app/queries/billable_metrics_query.rb
  schema.graphql
  schema.json
  spec/queries/billable_metrics_query_spec.rb
Labels: feature, GraphQL

#971 feat(min_charge): Add min_amount_cents to Charge for graphql
  app/graphql/types/charges/input.rb
  app/graphql/types/charges/object.rb
  schema.graphql
  schema.json
Labels: Charge

#974 fix(instant_charge): event properties might be nil
  app/services/events/validate_creation_service.rb
  spec/services/events/validate_creation_service_spec.rb
Labels: 🐞 bug

#984 fix(redis): activejob-uniqueness should take care of redis password
  config/initializers/active_job_uniqueness.rb
  db/schema.rb
Labels: 🐞 bug

#985 misc(invoice): update some fr copy
  config/locales/fr/invoice.yml
Labels: improvement

#992 feat(min_charge): Update invoice template to include true up fees
  app/models/charge.rb
  app/models/fee.rb
  app/views/templates/invoices/v2.slim
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/nb/invoice.yml
Labels: Invoice, Fee

#991 feat(coupons): Add before_vat flag to credits
  app/serializers/v1/credit_serializer.rb
  app/services/credits/applied_coupon_service.rb
  app/services/credits/credit_note_service.rb
  db/migrate/20230421094757_add_before_vat_to_credits.rb
  db/schema.rb
Labels: Invoice, Coupon

#998 feat(coupon): Add coupons adjustment amount to credit notes
  app/graphql/types/credit_notes/object.rb
  app/models/credit_note.rb
  app/serializers/v1/credit_note_serializer.rb
  app/serializers/v1/legacy/credit_note_serializer.rb
  app/views/templates/credit_note.slim
  config/locales/en/credit_note.yml
  db/migrate/20230424091446_add_coupons_adjustment_amount_to_credit_notes.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/credit_note_resolver_spec.rb
  spec/serializers/v1/credit_note_serializer_spec.rb
Labels: Credit Note, Coupon

#1006 fix: Refresh draft credit note
  app/services/credit_notes/refresh_draft_service.rb
  app/services/invoices/refresh_draft_service.rb
  spec/services/credit_notes/refresh_draft_service_spec.rb
Labels: Invoice, 🐞 bug, Credit Note
