Repository getlago/lago-api, pull requests merged in 2023-06, with the labels that each got.

#1078 fix(event): fix event webhook error
  app/services/events/create_service.rb
Labels: 🐞 bug

#1077 fix(credit-note): retries webhook delivery as it could be sent inside a DB transaction
  app/jobs/send_webhook_job.rb
Labels: 🐞 bug

#1080 fix: Fix legacy vat migration
  db/migrate/20221018144521_add_legacy_flag_to_invoices.rb
Labels: 🐞 bug

#1084 fix(plan): Prevent error when creating a plan without interval
  app/services/plans/create_service.rb
Labels: Plan, 🐞 bug

#1087 feat(invoices): display customer and orga legal_number
  app/views/templates/credit_note.slim
  app/views/templates/invoices/charge.slim
  app/views/templates/invoices/one_off.slim
  app/views/templates/invoices/v3.slim
Labels: Invoice, improvement

#1091 feat(invoice): Add specs sceanrios for every billing cases
  spec/scenarios/billing_spec.rb
  spec/scenarios/duplicate_invoices_spec.rb
  spec/scenarios/subscriptions/billing_spec.rb
Labels: Invoice, 🐞 bug

#1097 misc: Remove properties from invoice_subscriptions
  app/models/invoice_subscription.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/subscriptions/billing_service.rb
  db/migrate/20230608085013_remove_properties_from_invoice_subscriptions.rb
  db/schema.rb
  spec/models/invoice_subscription_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/subscriptions/billing_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
  spec/support/matchers/datetime_matcher.rb
Labels: Invoice

#1099 misc: Remove condition on fee properties
  app/services/invoices/refresh_draft_service.rb
Labels: Invoice

#1102 misc: Add unique index on invoice_subscriptions to prevent duplicated invoices
  db/migrate/20230608154821_add_unique_index_to_invoice_subscriptions.rb
  db/schema.rb
Labels: Invoice

#1027 feat(tax_rates): Remove vat_rate from graphql
  app/graphql/mutations/customers/create.rb
  app/graphql/mutations/customers/update_vat_rate.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/update_customer_input.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/organizations/billing_configuration_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_vat_rate_spec.rb
  spec/graphql/mutations/organizations/update_spec.rb
Labels: Tax

#1029 feat(tax_rate): Handle legacy vat_rate at organization level
  app/controllers/api/v1/organizations_controller.rb
  app/serializers/v1/legacy/organization_serializer.rb
  app/serializers/v1/organization_serializer.rb
  app/services/organizations/update_service.rb
  spec/requests/api/v1/organizations_spec.rb
  spec/serializers/v1/organization_serializer_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: Tax

#1034 feat(tax_rates): Handle legacy vat_rate at customer level
  app/controllers/api/v1/customers_controller.rb
  app/serializers/v1/customer_serializer.rb
  app/serializers/v1/legacy/customer_serializer.rb
  app/services/customers/applied_taxes/create_service.rb
  app/services/customers/create_service.rb
  spec/requests/api/v1/customers_spec.rb
  spec/serializers/v1/customer_serializer_spec.rb
  spec/services/customers/applied_taxes/create_service_spec.rb
  spec/services/customers/create_service_spec.rb
Labels: Tax

#1063 feat(tax): Apply taxes to fees
  app/services/fees/add_on_service.rb
  app/services/fees/charge_service.rb
  app/services/fees/create_pay_in_advance_service.rb
  app/services/fees/create_true_up_service.rb
  app/services/fees/one_off_service.rb
  app/services/fees/paid_credit_service.rb
  app/services/fees/subscription_service.rb
  spec/graphql/mutations/invoices/create_spec.rb
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/requests/api/v1/customers_spec.rb
  spec/requests/api/v1/invoices_spec.rb
  spec/scenarios/charge_models/percentage_spec.rb
  spec/scenarios/invoices_spec.rb
  spec/scenarios/spending_minimum_spec.rb
  spec/scenarios/terminate_pay_in_advance_spec.rb
  spec/services/fees/add_on_service_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/fees/create_pay_in_advance_service_spec.rb
  spec/services/fees/create_true_up_service_spec.rb
  spec/services/fees/one_off_service_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
  spec/services/invoices/one_off_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
Labels: Fee, Tax

#1107 feat(stripe) send webhook when user is created
  app/jobs/payment_provider_customers/stripe_checkout_url_job.rb
  app/services/payment_provider_customers/stripe_service.rb
  spec/jobs/payment_provider_customers/stripe_checkout_url_job_spec.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: feature, :bell: Webhook

#1108 Prevent creating invoices in case of duplicate
  app/services/invoices/subscription_service.rb
Labels: Invoice

#1114 fix(stripe): checkout URL should return empty result when no webhook URL
  app/services/payment_provider_customers/stripe_service.rb
Labels: 🐞 bug

#1117 fix: first subscription fee with timezone
  app/services/fees/subscription_service.rb
  app/services/subscriptions/dates_service.rb
  spec/scenarios/invoices_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
Labels: 🐞 bug

#1105 feat(tax): Add service to appliy taxes on credit notes
  app/services/credit_notes/apply_taxes_service.rb
  app/services/invoices/apply_taxes_service.rb
  spec/services/credit_notes/apply_taxes_service_spec.rb
Labels: Credit Note, Tax

#1126 fix(credit_note): takes coupons into account when refreshing a credit…
  app/models/credit_note.rb
  app/services/credit_notes/create_from_termination.rb
  app/services/credit_notes/refresh_draft_service.rb
  db/schema.rb
  spec/services/credit_notes/refresh_draft_service_spec.rb
Labels: 🐞 bug, Credit Note

#1133 feat(taxes): Migrate taxes with Tax name
  db/migrate/20230626124005_migrate_organization_taxes.rb
Labels: Tax

#1138 Display true up fees and groups on credit note template
  app/views/templates/credit_note.slim
Labels: 🐞 bug, Credit Note

#1139 fix: Pay in advance invoice template
  app/services/invoices/generate_pdf_service.rb
Labels: Invoice
