Repository getlago/lago-api, pull requests merged in 2024-03, with the labels that each got.

#1736 fix: Deliver email with SendEmailJob
  app/jobs/send_email_job.rb
  app/mailers/application_mailer.rb
  app/services/payment_providers/stripe_service.rb
  config/sidekiq.yml
  spec/services/credit_notes/create_service_spec.rb
  spec/services/fees/charge_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_pay_in_advance_charge_service_spec.rb
  spec/services/invoices/create_service_spec.rb
  spec/services/invoices/finalize_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/password_resets/create_service_spec.rb
Labels: 🐞 Bug

#1735 feat(filter): Expose charge filters into GraphQL API
  app/graphql/types/charge_filters/input.rb
  app/graphql/types/charge_filters/object.rb
  app/graphql/types/charge_filters/values.rb
  app/graphql/types/charges/input.rb
  app/graphql/types/charges/object.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/create_spec.rb
  spec/graphql/types/charge_filters/input_spec.rb
  spec/graphql/types/charge_filters/object_spec.rb
  spec/graphql/types/charges/input_spec.rb
  spec/graphql/types/charges/object_spec.rb
Labels: Charge, Group

#1757 mics(graph) change type name
  app/graphql/types/billable_metric_filters/input.rb
  schema.graphql
  schema.json
  spec/graphql/types/billable_metrics/create_input_spec.rb
  spec/graphql/types/billable_metrics/update_input_spec.rb
Labels: GraphQL, improvement

#1765 fix(weighted-sum): Fix TypeError with grouped weighted sum
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
Labels: 🐞 Bug

#1766 fix: Rollback post validation job with filters
  app/services/events/post_validation_service.rb
  db/migrate/20240308104003_rollback_post_validation_view.rb
  db/schema.rb
  spec/services/events/post_validation_service_spec.rb
Labels: 🐞 Bug

#1744 feat(sso): Add Google Auth Support
  Gemfile
  Gemfile.lock
  app/controllers/admin/base_controller.rb
  app/controllers/graphql_controller.rb
  app/graphql/mutations/auth/google/login_user.rb
  app/graphql/resolvers/auth/google/auth_url_resolver.rb
  app/graphql/types/auth/google/auth_url.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/services/auth/google_service.rb
  app/services/users_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/auth/google/login_user_spec.rb
  spec/graphql/resolvers/auth/google/auth_url_resolver_spec.rb
  spec/services/auth/google_service_spec.rb
  spec/services/users_service_spec.rb
  spec/support/graphql_helper.rb
Labels: Feature, GraphQL

#1776 fix(credit-note): Store plan amount on fees to compute termination credit note
  app/services/credit_notes/create_from_termination.rb
  app/services/fees/subscription_service.rb
  app/services/subscriptions/dates_service.rb
  spec/services/credit_notes/create_from_termination_spec.rb
  spec/services/fees/subscription_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
Labels: 🐞 Bug, Credit Note

#1778 fix(credit_note): Handle consecutive subscription upgrade
  app/services/credit_notes/create_from_termination.rb
  spec/scenarios/subscriptions/multiple_upgrade_spec.rb
Labels: 🐞 Bug, Credit Note

#1779 feat(sso): Add Google signup
  app/graphql/mutations/auth/google/register_user.rb
  app/graphql/types/mutation_type.rb
  app/services/auth/google_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/auth/google/register_user_spec.rb
  spec/services/auth/google_service_spec.rb
Labels: Feature, GraphQL

#1789 fix(payment): Stop failing all the process when failing to enqueue a payment
  app/services/invoices/payments/create_service.rb
Labels: 🐞 Bug

#1793 feat(filter): Accept multiple values on a charge_filter_value
  app/graphql/types/charge_filters/values.rb
  app/models/charge_filter.rb
  app/models/charge_filter_value.rb
  app/services/billable_metric_filters/create_or_update_batch_service.rb
  app/services/charge_filters/create_or_update_batch_service.rb
  db/migrate/20240314163426_add_multiple_values_to_charge_filter_values.rb
  db/schema.rb
  spec/factories/charge_filter_values.rb
  spec/graphql/mutations/plans/create_spec.rb
  spec/models/charge_filter_spec.rb
  spec/models/charge_filter_value_spec.rb
  spec/serializers/v1/charge_filter_serializer_spec.rb
  spec/services/billable_metric_filters/create_or_update_batch_service_spec.rb
  spec/services/charge_filters/create_or_update_batch_service_spec.rb
  spec/services/charges/override_service_spec.rb
  spec/services/plans/create_service_spec.rb
  spec/services/plans/update_service_spec.rb
Labels: Charge

#1803 fix(filters): Allow update of charge model
  app/services/plans/update_service.rb
  spec/scenarios/charge_models/edit_with_filter_spec.rb
  spec/support/scenarios_helper.rb
Labels: 🐞 Bug

#1804 fix(filter): Invoice should be created when default prices is set
  app/services/fees/charge_service.rb
Labels: 🐞 Bug

#1806 feat(sso): Google Accept Invite
  app/graphql/mutations/auth/google/accept_invite.rb
  app/graphql/types/mutation_type.rb
  app/services/auth/google_service.rb
  app/services/invites/accept_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/auth/google/accept_invite_spec.rb
  spec/services/auth/google_service_spec.rb
Labels: GraphQL

#1816 fix(prepaid-credit): Automatic topup without any usage
  app/services/wallets/balance/decrease_ongoing_service.rb
  spec/services/wallets/balance/decrease_ongoing_service_spec.rb
Labels: 🐞 Bug

#1817 misc(observability): Add OpenTelemetry support
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/environments/staging.rb
Labels: Infrastructure, Configuration
