Repository getlago/lago-api, pull requests merged in 2024-09, with the labels that each got.

#2521 feat(dunning): Add update_payment_status for stripe payments
  app/services/payment_requests/payments/stripe_service.rb
  spec/services/payment_requests/payments/gocardless_service_spec.rb
  spec/services/payment_requests/payments/stripe_service_spec.rb
Labels: Payment Request

#2522 feat(dunning): Add update_payment_status for adyen payments
  app/services/payment_requests/payments/adyen_service.rb
  spec/services/payment_requests/payments/adyen_service_spec.rb
Labels: Payment Request

#2525 Fix(permissions): Allow Finance Role to View and Update Organization’s Tax ID
  app/graphql/types/organizations/current_organization_type.rb
  app/graphql/types/organizations/update_organization_input.rb
  spec/graphql/mutations/organizations/update_spec.rb
  spec/graphql/types/organizations/current_organization_type_spec.rb
  spec/graphql/types/organizations/update_organization_input_spec.rb
Labels: GraphQL

#2528 feat(dunning): Process PSPs event for payment requests payment status update
  app/services/payment_providers/adyen_service.rb
  app/services/payment_providers/gocardless_service.rb
  app/services/payment_providers/stripe_service.rb
  spec/fixtures/adyen/webhook_authorisation_payment_response_invalid_payable.json
  spec/fixtures/adyen/webhook_authorisation_payment_response_payment_request.json
  spec/fixtures/gocardless/events_invalid_payable_type.json
  spec/fixtures/gocardless/events_payment_request.json
  spec/fixtures/stripe/charge_event_invalid_payable_type.json
  spec/fixtures/stripe/charge_event_payment_request.json
  spec/fixtures/stripe/payment_intent_event_invalid_payable_type.json
  spec/fixtures/stripe/payment_intent_event_payment_request.json
  spec/services/payment_providers/adyen_service_spec.rb
  spec/services/payment_providers/gocardless_service_spec.rb
  spec/services/payment_providers/stripe_service_spec.rb
Labels: Payment, Payment Request

#2530 feat(dunning): Include payment link to payment request email when available
  app/mailers/payment_request_mailer.rb
  app/views/payment_request_mailer/requested.slim
  spec/mailers/payment_request_mailer_spec.rb
  spec/mailers/previews/payment_request_mailer_preview.rb
Labels: Payment Request

#2542 fix(wallet): Exclude pay in advance fees from the ongoing balance
  app/services/wallets/balance/refresh_ongoing_service.rb
  app/services/wallets/balance/update_ongoing_service.rb
  spec/services/wallets/balance/update_ongoing_service_spec.rb
Labels: 🐞 Bug, Wallet

#2547 fix(wallet): Add validation rule on rate_amount
  app/models/wallet.rb
  spec/models/wallet_spec.rb
Labels: 🐞 Bug

#2548 fix(taxes): tax_error handling must target ValidationFailure
  app/jobs/bill_subscription_job.rb
  app/jobs/fees/create_pay_in_advance_job.rb
  app/jobs/invoices/create_pay_in_advance_charge_job.rb
  app/jobs/invoices/finalize_all_job.rb
Labels: 🐞 Bug

#2550 feat(customer-type): Add new customer fields to serializer
  app/serializers/v1/customer_serializer.rb
  spec/factories/customers.rb
  spec/serializers/v1/customer_serializer_spec.rb
Labels: Customer

#2551 feat: Add customer type to services
  app/services/customers/create_service.rb
  app/services/customers/update_service.rb
  spec/services/customers/create_service_spec.rb
  spec/services/customers/update_service_spec.rb
Labels: Customer

#2552 Feat customer type graphql
  app/graphql/types/customers/create_customer_input.rb
  app/graphql/types/customers/customer_type_enum.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/update_customer_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/types/customers/create_customer_input_spec.rb
  spec/graphql/types/customers/customer_type_enum_spec.rb
  spec/graphql/types/customers/object_spec.rb
  spec/graphql/types/customers/update_customer_input_spec.rb
Labels: Customer

#2553 feat: Add firstname and last name to queries
  app/models/customer.rb
  app/queries/customers_query.rb
  app/queries/invoices_query.rb
  spec/queries/customers_query_spec.rb
  spec/queries/invoices_query_spec.rb
Labels: Customer, Invoice

#2554 feat(customer-type): Whitelist new params in customer controller
  app/controllers/api/v1/customers_controller.rb
  spec/requests/api/v1/customers_controller_spec.rb
Labels: Customer

#2557 feat(customer_type): Gocardless add firstname and lastname
  app/services/payment_provider_customers/gocardless_service.rb
  spec/services/payment_provider_customers/gocardless_service_spec.rb
Labels: Customer

#2559 feat(customer-type): Update netsuite payload with new fields
  app/services/integrations/aggregator/contacts/payloads/netsuite.rb
  spec/services/integrations/aggregator/contacts/create_service_spec.rb
  spec/services/integrations/aggregator/contacts/payloads/netsuite_spec.rb
  spec/services/integrations/aggregator/contacts/update_service_spec.rb
Labels: Customer

#2563 feat(customer-type): Update anrok and xero payloads with new fields
  app/models/customer.rb
  app/services/integrations/aggregator/contacts/payloads/anrok.rb
  app/services/integrations/aggregator/contacts/payloads/base_payload.rb
  spec/models/customer_spec.rb
  spec/services/integrations/aggregator/contacts/create_service_spec.rb
  spec/services/integrations/aggregator/contacts/payloads/anrok_spec.rb
  spec/services/integrations/aggregator/contacts/payloads/factory_spec.rb
  spec/services/integrations/aggregator/contacts/payloads/xero_spec.rb
  spec/services/integrations/aggregator/contacts/update_service_spec.rb
Labels: Customer

#2526 Feat(invoice): Add finalize zero invoice to GraphQL
  app/graphql/types/customers/create_customer_input.rb
  app/graphql/types/customers/finalize_zero_amount_invoice_enum.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/update_customer_input.rb
  app/graphql/types/invoices/status_type_enum.rb
  app/graphql/types/organizations/current_organization_type.rb
  app/graphql/types/organizations/update_organization_input.rb
  app/services/customers/update_service.rb
  app/services/invoices/advance_charges_service.rb
  app/services/invoices/create_one_off_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  app/services/invoices/refresh_draft_and_finalize_service.rb
  app/services/invoices/subscription_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customers/create_spec.rb
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/mutations/organizations/update_spec.rb
  spec/graphql/types/customers/create_customer_input_spec.rb
  spec/graphql/types/customers/object_spec.rb
  spec/graphql/types/organizations/current_organization_type_spec.rb
  spec/graphql/types/organizations/update_organization_input_spec.rb
Labels: GraphQL, Customer, Organization

#2564 feat(customer-type): Update stripe customer name with new fields
  app/services/payment_provider_customers/stripe_service.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: Customer

#2574 feat(customer_portal): Remove premium restriction
  app/services/customer_portal/generate_url_service.rb
  spec/requests/api/v1/customers_controller_spec.rb
  spec/services/customer_portal/generate_url_service_spec.rb
Labels: Customer Portal

#2566 misc: create a random id on generated plain object
  app/graphql/types/customers/usage/charge.rb
  app/graphql/types/customers/usage/grouped_usage.rb
  schema.graphql
  schema.json
  spec/graphql/types/customers/usage/charge_spec.rb
Labels: GraphQL

#2581 fix(subscription): Fix generating invoice with pending downgrade
  app/services/subscriptions/dates_service.rb
  spec/models/invoice_spec.rb
  spec/scenarios/subscriptions/terminate_ended_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/quarterly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
Labels: 🐞 Bug

#2587 feat(dunning): update FR email copy
  config/locales/fr/email.yml
Labels: Payment Request

#2623 feat(hubspot): add hubspot to Integrations types
  app/graphql/types/integrations/object.rb
  graphql_schemas/api.graphql
  graphql_schemas/api.json
  schema.graphql
  schema.json
Labels: GraphQL

#2627 feat(dunning): Add subscriptions resolver to customer portal
  app/graphql/resolvers/customer_portal/subscriptions_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_portal/subscriptions_resolver_spec.rb
Labels: Customer Portal

#2599 feat(cp-improv): Customer Portal expose and edit customer info
  app/graphql/mutations/customer_portal/update_customer.rb
  app/graphql/resolvers/customer_portal/customer_resolver.rb
  app/graphql/types/customer_portal/customers/object.rb
  app/graphql/types/customer_portal/customers/update_input.rb
  app/graphql/types/mutation_type.rb
  app/services/customer_portal/customer_update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customer_portal/update_customer_spec.rb
  spec/graphql/types/customer_portal/customers/object_spec.rb
  spec/graphql/types/customer_portal/customers/update_input_spec.rb
  spec/services/customer_portal/customer_update_service_spec.rb
Labels: Customer Portal

#2630 feat(cp-improv): Customer portal - expose wallet info and top up workflow
  app/graphql/mutations/customer_portal/wallet_transactions/create.rb
  app/graphql/resolvers/customer_portal/wallets_resolver.rb
  app/graphql/types/customer_portal/wallet_transactions/object.rb
  app/graphql/types/customer_portal/wallets/object.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customer_portal/wallet_transactions/create_spec.rb
  spec/graphql/resolvers/customer_portal/wallets_resolver_spec.rb
  spec/graphql/types/customer_portal/wallet_transactions/object_spec.rb
  spec/graphql/types/customer_portal/wallets/object_spec.rb
Labels: Wallet, Customer Portal

#2634 feat: added translations
  app/models/invoice.rb
  app/views/templates/invoices/v3/charge.slim
  app/views/templates/invoices/v4/charge.slim
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/es/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/it/invoice.yml
  config/locales/nb/invoice.yml
  config/locales/sv/invoice.yml
Labels: Invoice

#2636 feat(customer_portal): Add usage resolver to customer portal
  app/graphql/resolvers/customer_portal/customers/usage_resolver.rb
  app/graphql/resolvers/customers/usage_resolver.rb
  app/graphql/types/query_type.rb
  app/services/invoices/customer_usage_service.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_portal/customers/usage_resolver_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
Labels: Customer Portal
