Repository getlago/lago-api, pull requests merged in 2024-07, with the labels that each got.

#2226 feat(export invoices): Create data export
  app/jobs/data_exports/export_resources_job.rb
  app/mailers/data_export_mailer.rb
  app/models/data_export.rb
  app/models/membership.rb
  app/models/organization.rb
  app/services/data_exports/create_service.rb
  app/services/data_exports/export_resources_service.rb
  app/views/data_export_mailer/completed.slim
  config/environments/development.rb
  config/locales/en/email.yml
  db/migrate/20240628083654_add_membership_id_and_organization_id_to_data_exports.rb
  db/migrate/20240628083830_remove_user_id_from_data_exports.rb
  db/schema.rb
  spec/factories/data_exports.rb
  spec/fixtures/export.csv
  spec/jobs/data_exports/export_resources_job_spec.rb
  spec/mailers/data_export_mailer_spec.rb
  spec/mailers/previews/base_preview_mailer.rb
  spec/mailers/previews/data_export_mailer_preview.rb
  spec/models/data_export_spec.rb
  spec/models/membership_spec.rb
  spec/models/organization_spec.rb
  spec/services/data_exports/create_service_spec.rb
  spec/services/data_exports/export_resources_service_spec.rb
Labels: Feature, Export

#2243 fix(wallet): Prevent from having duplicate Invoices::PrepaidCreditJob
  app/jobs/invoices/prepaid_credit_job.rb
Labels: 🐞 Bug, Wallet

#2171 feat(fees): Invoice non-invoiceable fees at the end of the period
  app/graphql/types/fees/object.rb
  app/jobs/bill_non_invoiceable_fees_job.rb
  app/models/invoice.rb
  app/models/invoice_subscription.rb
  app/services/invoices/advance_charges_service.rb
  app/services/subscriptions/billing_service.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/terminate_service.rb
  app/views/templates/invoices/v4/_subscription_details.slim
  app/views/templates/invoices/v4/charge.slim
  db/migrate/20240619082054_add_in_advance_charge_periodic_invoicing_reason.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/scenarios/invoices/advance_charges_spec.rb
  spec/services/invoices/advance_charges_service_spec.rb
Labels: Invoice, Fee

#2250 Add all available filters to /api/v1/invoices endpoint
  app/controllers/api/v1/invoices_controller.rb
  spec/requests/api/v1/invoices_controller_spec.rb
Labels: Feature, Export

#2245 feat(export invoices): add mutation to request data export for invoices
  app/config/permissions/definition.yml
  app/graphql/mutations/data_exports/invoices/create.rb
  app/graphql/types/data_exports/format_type_enum.rb
  app/graphql/types/data_exports/invoices/create_input.rb
  app/graphql/types/data_exports/invoices/export_type_enum.rb
  app/graphql/types/data_exports/invoices/filters_input.rb
  app/graphql/types/data_exports/object.rb
  app/graphql/types/data_exports/status_enum.rb
  app/graphql/types/mutation_type.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/data_exports/invoices/create_spec.rb
  spec/graphql/types/data_exports/invoices/filters_input_spec.rb
  spec/graphql/types/data_exports/object_spec.rb
Labels: Feature, Export

#2256 fix(signup): Use correct env var to check if signup is disabled
  app/services/users_service.rb
  spec/services/users_service_spec.rb
Labels: 🐞 Bug

#2253 feat: Enable Regroup Fees Feature
  app/services/subscriptions/billing_service.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/terminate_service.rb
  spec/scenarios/invoices/advance_charges_spec.rb
  spec/services/subscriptions/billing_service_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
Labels: Invoice, Fee

#2248 feat(export invoices): CSV export
  app/models/data_export.rb
  app/services/data_exports/create_service.rb
  app/services/data_exports/csv/invoices.rb
  app/services/data_exports/export_resources_service.rb
  db/migrate/20240706204557_remove_data_exports_resource_query_null_constraint.rb
  db/schema.rb
  spec/models/data_export_spec.rb
  spec/services/data_exports/csv/invoices_spec.rb
  spec/services/data_exports/export_resources_service_spec.rb
Labels: Feature, Export

#2259 fix(grouped-usage): Fix graphql grouped usage when no display name
  app/graphql/types/customers/usage/grouped_usage.rb
Labels: 🐞 Bug

#2233 feat: Add ability to soft delete fees
  app/controllers/api/v1/fees_controller.rb
  app/models/fee.rb
  app/services/fees/destroy_service.rb
  config/routes.rb
  db/migrate/20240701184757_add_deleted_at_to_fees.rb
  db/schema.rb
  spec/requests/api/v1/fees_controller_spec.rb
Labels: API, Fee

#2268 feat(export-invoice-fees): Export invoice fees to CSV
  app/mailers/data_export_mailer.rb
  app/services/data_exports/csv/invoice_fees.rb
  app/services/data_exports/export_resources_service.rb
  app/views/data_export_mailer/completed.slim
  config/locales/en/email.yml
  spec/mailers/data_export_mailer_spec.rb
  spec/services/data_exports/csv/invoice_fees_spec.rb
  spec/services/data_exports/export_resources_service_spec.rb
Labels: Feature, Export

#2285 fix(analytics): Prevent fetching deleted customer analytics
  app/models/analytics/gross_revenue.rb
  app/models/analytics/invoice_collection.rb
  app/models/analytics/overdue_balance.rb
Labels: 🐞 Bug

#2294 fix(fees): Add pay_in_advance_event_transaction_id index with deleted_at
  db/migrate/20240716153753_add_index_on_fees_pay_in_advance_event_transaction_id.rb
  db/schema.rb
Labels: 🐞 Bug

#2320 fix(invoices): Add index on status
  db/migrate/20240722201341_add_index_to_invoices_status.rb
  db/schema.rb
Labels: Invoice, 🐞 Bug

#2315 feat(invoice): Introduce visible/invisible invoice status
  app/controllers/api/v1/credit_notes_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/graphql/mutations/credit_notes/create.rb
  app/graphql/mutations/customer_portal/download_invoice.rb
  app/graphql/mutations/invoices/download.rb
  app/graphql/mutations/invoices/lose_dispute.rb
  app/graphql/mutations/invoices/refresh.rb
  app/graphql/mutations/invoices/retry.rb
  app/graphql/mutations/invoices/retry_payment.rb
  app/graphql/mutations/invoices/update.rb
  app/graphql/mutations/invoices/void.rb
  app/graphql/resolvers/credit_notes/estimate_resolver.rb
  app/graphql/resolvers/invoice_resolver.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/invoices/status_type_enum.rb
  app/models/invoice.rb
  app/queries/invoices_query.rb
  spec/models/invoice_spec.rb
Labels: Invoice

#2326 feat(wallet): Add `invoice_require_successful_payment` attributes on wallet-related models
  app/controllers/api/v1/wallet_transactions_controller.rb
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/mutations/wallet_transactions/create.rb
  app/graphql/types/wallet_transactions/object.rb
  app/graphql/types/wallets/object.rb
  app/serializers/v1/wallet_serializer.rb
  app/serializers/v1/wallet_transaction_serializer.rb
  app/serializers/v1/wallets/recurring_transaction_rule_serializer.rb
  app/services/plans/create_service.rb
  app/services/plans/update_service.rb
  app/services/wallet_transactions/create_service.rb
  app/services/wallet_transactions/void_service.rb
  app/services/wallets/create_interval_wallet_transactions_service.rb
  app/services/wallets/create_service.rb
  app/services/wallets/recurring_transaction_rules/create_service.rb
  app/services/wallets/recurring_transaction_rules/update_service.rb
  app/services/wallets/threshold_top_up_service.rb
  app/services/wallets/update_service.rb
  db/migrate/20240723150304_add_invoice_require_successful_payment.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/wallet_transactions/create_spec.rb
  spec/graphql/types/wallet_transactions/object_spec.rb
  spec/graphql/types/wallets/object_spec.rb
  spec/requests/api/v1/wallets_controller_spec.rb
  spec/serializers/v1/wallet_serializer_spec.rb
  spec/serializers/v1/wallet_transaction_serializer_spec.rb
  spec/serializers/v1/wallets/recurring_transaction_rule_serializer_spec.rb
  spec/services/wallets/create_interval_wallet_transactions_service_spec.rb
  spec/services/wallets/create_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/create_service_spec.rb
  spec/services/wallets/threshold_top_up_service_spec.rb
  spec/services/wallets/update_service_spec.rb
Labels: Wallet

#2304 feat: Add Migration Scripts for Separate Migration Docker Container
  scripts/start.migrate.dev.sh
  scripts/start.migrate.sh
Labels: Infrastructure
