Repository getlago/lago-api, pull requests merged in 2024-04, with the labels that each got.

#1826 misc(sidekiq): use JSON Sidekiq Logger
  config/initializers/sidekiq.rb
Labels: Infrastructure, Configuration

#1843 fix(grace-period): Avoid multiple finalize call when grace period is the same
  app/services/customers/update_invoice_grace_period_service.rb
  app/services/organizations/update_invoice_grace_period_service.rb
  spec/services/customers/update_invoice_grace_period_service_spec.rb
  spec/services/organizations/update_invoice_grace_period_service_spec.rb
Labels: Customer, Organization, 🐞 Bug

#1860 feat(okta): Add Okta integration setup
  app/graphql/mutations/integrations/okta/create.rb
  app/graphql/mutations/integrations/okta/update.rb
  app/graphql/types/integrations/okta.rb
  app/graphql/types/integrations/okta/create_input.rb
  app/graphql/types/integrations/okta/update_input.rb
  app/graphql/types/mutation_type.rb
  app/models/integrations/okta_integration.rb
  app/services/integrations/okta/create_service.rb
  app/services/integrations/okta/update_service.rb
  schema.graphql
  schema.json
  spec/factories/integrations.rb
  spec/graphql/mutations/integrations/okta/create_spec.rb
  spec/graphql/mutations/integrations/okta/update_spec.rb
  spec/services/integrations/okta/create_service_spec.rb
  spec/services/integrations/okta/update_service_spec.rb
Labels: GraphQL, Organization

#1905 misc(wallet): Refactor WalletTransaction create service
  app/controllers/api/v1/wallet_transactions_controller.rb
  app/graphql/mutations/wallet_transactions/create.rb
  app/jobs/wallet_transactions/create_job.rb
  app/services/base_validator.rb
  app/services/wallet_transactions/create_service.rb
  app/services/wallet_transactions/recredit_service.rb
  app/services/wallets/balance/decrease_ongoing_service.rb
  app/services/wallets/create_interval_wallet_transactions_service.rb
  app/services/wallets/create_service.rb
  spec/jobs/wallet_transactions/create_job_spec.rb
  spec/requests/api/v1/wallet_transactions_controller_spec.rb
  spec/services/wallet_transactions/create_service_spec.rb
  spec/services/wallets/create_interval_wallet_transactions_service_spec.rb
Labels: Wallet

#1914 fix(filter): Render discarded charge filters when attached to fees
  app/models/charge_filter.rb
  app/models/charge_filter_value.rb
  app/services/plans/create_service.rb
  app/services/plans/update_service.rb
  spec/graphql/resolvers/invoice_resolver_spec.rb
  spec/requests/api/v1/invoices_controller_spec.rb
  spec/services/invoices/generate_pdf_service_spec.rb
Labels: 🐞 Bug

#1924 misc: add netsuite connection ID to object type definition
  app/graphql/types/integrations/netsuite.rb
  schema.graphql
  schema.json
Labels: GraphQL

#1933 fix: Ruby sandbox support for ruby 3.3.0
  lib/lago_utils/lago_utils/ruby_sandbox/safe_environment.rb
Labels: 🐞 Bug

#1871 feat(okta): Add Okta Authorize mutation and logic
  app/graphql/mutations/auth/okta/authorize.rb
  app/graphql/types/auth/okta/authorize.rb
  app/graphql/types/integrations/okta.rb
  app/graphql/types/integrations/okta/create_input.rb
  app/graphql/types/integrations/okta/update_input.rb
  app/graphql/types/mutation_type.rb
  app/models/integrations/okta_integration.rb
  app/services/auth/okta/authorize_service.rb
  app/services/integrations/okta/create_service.rb
  app/services/integrations/okta/update_service.rb
  schema.graphql
  schema.json
  spec/factories/integrations.rb
  spec/graphql/mutations/auth/okta/authorize_spec.rb
  spec/graphql/mutations/integrations/okta/create_spec.rb
  spec/graphql/mutations/integrations/okta/update_spec.rb
  spec/services/auth/okta/authorize_service_spec.rb
  spec/services/integrations/okta/create_service_spec.rb
  spec/services/integrations/okta/update_service_spec.rb
Labels: GraphQL

#1944 feat(wallet): Rename transaction statuses for wallet
  app/models/wallet_transaction.rb
  app/services/credits/applied_prepaid_credit_service.rb
  app/services/wallet_transactions/create_service.rb
  db/migrate/20240419071607_add_transaction_status_to_wallet_transactions.rb
  db/seeds/base.rb
  schema.graphql
  schema.json
  spec/services/credits/applied_prepaid_credit_service_spec.rb
  spec/services/wallet_transactions/create_service_spec.rb
Labels: Wallet

#1951 misc(amount_details): fix attributes type definition
  app/graphql/types/fees/amount_details/graduated_percentage_range.rb
  app/graphql/types/fees/amount_details/graduated_range.rb
  schema.graphql
  schema.json
Labels: GraphQL

#1953 feat(wallet): Send wallet.depleted_ongoing_balance webhook
  app/jobs/send_webhook_job.rb
  app/services/wallets/balance/update_ongoing_service.rb
  app/services/webhooks/wallets/depleted_ongoing_balance_service.rb
  db/migrate/20240424124802_add_depleted_ongoing_balance_to_wallets.rb
  db/schema.rb
  spec/services/wallets/balance/update_ongoing_service_spec.rb
  spec/services/webhooks/wallets/depleted_ongoing_balance_service_spec.rb
Labels: Wallet

#1962 fix(wallet): Prevent creation of several recurring topup
  app/services/wallets/balance/update_ongoing_service.rb
  spec/services/wallets/balance/update_ongoing_service_spec.rb
Labels: Wallet
