Repository getlago/lago-api, pull requests merged in 2024-08, with the labels that each got.

#2388 fix: Prevent creating subscription fee in advance for yearly plan started in the past
  app/services/invoices/calculate_fees_service.rb
  app/services/subscriptions/dates/yearly_service.rb
  app/services/subscriptions/dates_service.rb
  spec/services/invoices/calculate_fees_service_spec.rb
Labels: Invoice

#2404 fix: incorrect country on credit note template
  app/views/templates/credit_note.slim
Labels: 🐞 Bug

#2405 fix: Correct computation for paid in advance events
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/count_service.rb
  app/services/billable_metrics/aggregations/custom_service.rb
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/charges/apply_pay_in_advance_charge_model_service.rb
  app/services/charges/charge_models/percentage_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/charges/apply_pay_in_advance_charge_model_service_spec.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: 🐞 Bug

#2409 fix(bulk_events) - Add #blank? check to `Events::CreateBatchService`
  app/services/events/create_batch_service.rb
  spec/services/events/create_batch_service_spec.rb
Labels: 🐞 Bug

#2400 misc: allow finance role to create invoices
  app/config/permissions/role-finance.yml
Labels: enhancement

#2406 Feat(Wallet): Add metadata to wallet transactions
  app/controllers/api/v1/wallet_transactions_controller.rb
  app/controllers/api/v1/wallets_controller.rb
  app/serializers/v1/wallet_transaction_serializer.rb
  app/serializers/v1/wallets/recurring_transaction_rule_serializer.rb
  app/services/validators/metadata_validator.rb
  app/services/wallet_transactions/create_service.rb
  app/services/wallet_transactions/validate_service.rb
  app/services/wallet_transactions/void_service.rb
  app/services/wallets/create_interval_wallet_transactions_service.rb
  app/services/wallets/create_service.rb
  app/services/wallets/recurring_transaction_rules/create_service.rb
  app/services/wallets/recurring_transaction_rules/validate_service.rb
  app/services/wallets/threshold_top_up_service.rb
  app/services/wallets/validate_service.rb
  db/migrate/20240807100609_add_metadata_to_wallet_transactions.rb
  db/migrate/20240808085506_add_metadata_to_recurring_transaction_rules.rb
  db/schema.rb
  spec/requests/api/v1/wallet_transactions_controller_spec.rb
  spec/requests/api/v1/wallets_controller_spec.rb
  spec/serializers/v1/wallet_transaction_serializer_spec.rb
  spec/serializers/v1/wallets/recurring_transaction_rule_serializer_spec.rb
  spec/services/validators/metadata_validator_spec.rb
  spec/services/wallet_transactions/create_service_spec.rb
  spec/services/wallet_transactions/validate_service_spec.rb
  spec/services/wallet_transactions/void_service_spec.rb
  spec/services/wallets/create_interval_wallet_transactions_service_spec.rb
  spec/services/wallets/create_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/create_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/validate_service_spec.rb
  spec/services/wallets/threshold_top_up_service_spec.rb
  spec/services/wallets/validate_service_spec.rb
Labels: API, Wallet

#2420 feat(dunning): Ability to fetch payment requests from API
  app/controllers/api/v1/payment_requests_controller.rb
  app/models/organization.rb
  app/models/payable_group.rb
  app/models/payment_request.rb
  app/queries/payment_requests_query.rb
  config/routes.rb
  db/migrate/20240814144137_add_organization_id_to_payment_requests_and_payable_groups.rb
  db/schema.rb
  spec/factories/payable_groups.rb
  spec/factories/payment_requests.rb
  spec/models/payment_request_spec.rb
  spec/queries/payment_requests_query_spec.rb
  spec/requests/api/v1/payment_requests_controller_spec.rb
Labels: Payment

#2426 feat(dunning): Add skeleton for creating a payment request
  app/config/permissions/definition.yml
  app/config/permissions/role-finance.yml
  app/config/permissions/role-manager.yml
  app/controllers/api/v1/payment_requests_controller.rb
  app/graphql/mutations/payment_requests/create.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/payment_requests/create_input.rb
  app/services/payment_requests/create_service.rb
  config/routes.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/payment_requests/create_spec.rb
  spec/requests/api/v1/payment_requests_controller_spec.rb
Labels: Payment

#2441 feat(dunning): Create payment request
  app/jobs/send_webhook_job.rb
  app/services/payment_requests/create_service.rb
  app/services/webhooks/payment_requests/created_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/payment_requests/create_service_spec.rb
  spec/services/webhooks/payment_requests/created_service_spec.rb
Labels: Payment

#2445 feat(dunning): Prevent creating payment request when not overdue
  app/services/payment_requests/create_service.rb
  spec/requests/api/v1/payment_requests_controller_spec.rb
  spec/services/payment_requests/create_service_spec.rb
Labels: Payment

#2456 feat(dunning): Refactor payment_requests and remove payable_groups
  app/controllers/api/v1/payment_requests_controller.rb
  app/models/customer.rb
  app/models/invoice.rb
  app/models/organization.rb
  app/models/payable_group.rb
  app/models/payment.rb
  app/models/payment_request.rb
  app/models/payment_request/applied_invoice.rb
  app/services/payment_requests/create_service.rb
  db/migrate/20240821093145_create_invoices_payment_requests.rb
  db/schema.rb
  spec/factories/payable_groups.rb
  spec/factories/payment_request_applied_invoices.rb
  spec/factories/payment_requests.rb
  spec/models/customer_spec.rb
  spec/models/invoice_spec.rb
  spec/models/payable_group_spec.rb
  spec/models/payment_request_spec.rb
  spec/models/payment_spec.rb
  spec/requests/api/v1/payment_requests_controller_spec.rb
  spec/serializers/v1/payment_request_serializer_spec.rb
  spec/services/payment_requests/create_service_spec.rb
Labels: Payment Request

#2459 feat(dunning): Prevent creation of payment request
  app/services/payment_requests/create_service.rb
  spec/services/payment_requests/create_service_spec.rb
Labels: Payment Request

#2481 feat(dunning): Create GoCardLess payment
  app/services/payment_requests/payments/gocardless_service.rb
  spec/services/payment_requests/payments/gocardless_service_spec.rb
Labels: Payment, Payment Request

#2483 feat: fix email validation
  app/validators/email_validator.rb
Labels: API, 🐞 Bug

#2501 feat(dunning): Add payment_request.payment_failure webhook
  app/jobs/send_webhook_job.rb
  app/serializers/v1/payment_providers/payment_request_payment_error_serializer.rb
  app/services/payment_requests/payments/deliver_error_webhook_service.rb
  app/services/webhooks/payment_providers/payment_request_payment_failure_service.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/serializers/v1/payment_providers/payment_request_payment_error_serializer_spec.rb
  spec/services/webhooks/payment_providers/payment_request_payment_failure_service_spec.rb
Labels: Payment Request

#2500 feat(dunning): Generate PDF files for payment request invoices
  app/mailers/payment_request_mailer.rb
Labels: Payment Request

#2504 feat(dunning): Add payment_request.payment_failure webhook (#2501)
  spec/services/payment_requests/payments/adyen_service_spec.rb
  spec/services/payment_requests/payments/stripe_service_spec.rb
Labels: Payment Request

#2505 feat(dunning): Add dunning to premium integrations
  app/models/organization.rb
  schema.graphql
  schema.json
Labels: Payment Request

#2510 feat(dunning): define right description/reference/product name within stripe and adyen payloads
  app/services/payment_requests/payments/adyen_service.rb
  app/services/payment_requests/payments/stripe_service.rb
  spec/services/payment_requests/payments/adyen_service_spec.rb
  spec/services/payment_requests/payments/stripe_service_spec.rb
Labels: Payment Request

#2462 feat(invoices): Ability to skip 0 invoices
  app/controllers/api/v1/customers_controller.rb
  app/controllers/api/v1/organizations_controller.rb
  app/models/customer.rb
  app/models/invoice.rb
  app/models/organization.rb
  app/serializers/v1/customer_serializer.rb
  app/serializers/v1/organization_serializer.rb
  app/services/customers/create_service.rb
  app/services/invoices/advance_charges_service.rb
  app/services/invoices/create_one_off_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  app/services/invoices/refresh_draft_and_finalize_service.rb
  app/services/invoices/subscription_service.rb
  app/services/invoices/transition_to_final_status_service.rb
  app/services/organizations/update_service.rb
  db/migrate/20240821172352_add_finalize_zero_amount_invoice_to_organizations.rb
  db/migrate/20240821174724_add_finalize_zero_amount_invoice_to_customers.rb
  db/schema.rb
  spec/models/customer_spec.rb
  spec/models/invoice_spec.rb
  spec/models/organization_spec.rb
  spec/requests/api/v1/customers_controller_spec.rb
  spec/requests/api/v1/organizations_controller_spec.rb
  spec/serializers/v1/customer_serializer_spec.rb
  spec/serializers/v1/organization_serializer_spec.rb
  spec/services/customers/create_service_spec.rb
  spec/services/invoices/advance_charges_service_spec.rb
  spec/services/invoices/create_one_off_service_spec.rb
  spec/services/invoices/create_pay_in_advance_charge_service_spec.rb
  spec/services/invoices/refresh_draft_and_finalize_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/invoices/transition_to_final_status_service_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: Customer, Invoice, Organization

#2518 feat(dunning): Add update_payment_status for gocardless payments
  app/jobs/send_webhook_job.rb
  app/services/payment_requests/payments/gocardless_service.rb
  app/services/payment_requests/update_service.rb
  app/services/webhooks/payment_requests/payment_status_updated_service.rb
  spec/services/payment_requests/payments/gocardless_service_spec.rb
  spec/services/payment_requests/update_service_spec.rb
  spec/services/webhooks/payment_requests/payment_status_updated_service_spec.rb
Labels: Payment Request

#2513 feat(dunning): Add customerId to invoices graphql resolver
  app/graphql/resolvers/invoices_resolver.rb
  schema.graphql
  schema.json
Labels: Invoice
