Repository getlago/lago-api, pull requests merged in 2024-02, with the labels that each got.

#1652 fix(grouped-by): Current usage with in advance aggregation
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/charges/validators/standard_service.rb
  spec/services/charges/validators/standard_service_spec.rb
Labels: 🐞 Bug

#1662 fix(grouped-by): temporary fallback for unique-count until it is finalized
  app/services/billable_metrics/aggregations/unique_count_service.rb
Labels: Billable Metric, 🐞 Bug

#1666 fix: Ensure subscription activation clock job cannot be enqueued twice
  app/jobs/clock/activate_subscriptions_job.rb
Labels: 🐞 Bug

#1668 feat(grouped_by): Add support for unique count
  app/services/billable_metrics/aggregations/unique_count_service.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
Labels: Billable Metric, Event

#1670 feat(grouped-by): Prorated unique count aggregation
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/count_service.rb
  app/services/billable_metrics/aggregations/latest_service.rb
  app/services/billable_metrics/aggregations/max_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/billable_metrics/prorated_aggregations/base_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/billable_metrics/prorated_aggregations/unique_count_service.rb
  spec/scenarios/billable_metrics/unique_count_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
Labels: Billable Metric, Event

#1672 feat(grouped-by): Quantified event processing after event creation
  app/services/quantified_events/create_or_update_service.rb
  spec/scenarios/billable_metrics/unique_count_spec.rb
  spec/services/quantified_events/create_or_update_service_spec.rb
Labels: Event

#1682 fix(customers): Fix provider emails
  app/services/payment_provider_customers/adyen_service.rb
  app/services/payment_provider_customers/gocardless_service.rb
  app/services/payment_provider_customers/stripe_service.rb
Labels: 🐞 Bug

#1687 fix(currency): Add missing KWD currency
  app/models/concerns/currencies.rb
  schema.graphql
  schema.json
Labels: GraphQL, 🐞 Bug

#1690 fix(weighted-sum): Turn kafka timestamp into a string
  app/services/events/create_service.rb
  db/clickhouse_migrate/20231026124912_create_events_raw_queue.rb
  db/clickhouse_schema.rb
Labels: 🐞 Bug

#1688 fix(graphql): Fix potential travers on memberships
  app/graphql/types/organization_type.rb
  app/graphql/types/safe_organization_type.rb
  app/graphql/types/user_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/memberships_resolver_spec.rb
  spec/requests/graphql_spec.rb
Labels: GraphQL, 🐞 Bug

#1706 fix: Updating plan with new charge
  app/controllers/api/v1/subscriptions_controller.rb
  db/schema.rb
  spec/services/plans/update_service_spec.rb
Labels: 🐞 Bug

#1713 fix: Fix a small edge case with datetime diff computation
  app/services/utils/datetime_service.rb
  spec/scenarios/charge_models/prorated_graduated_spec.rb
  spec/services/utils/datetime_service_spec.rb
Labels: 🐞 Bug

#1714 fix: Add Net::HTTPBadResponse in the webhook error retry list
  app/services/webhooks/base_service.rb
Labels: 🐞 Bug

#1724 fix(groupe-by): Ensure all groups appears on invoice
  app/views/templates/invoices/v4/_default_fee.slim
  app/views/templates/invoices/v4/_fees_without_groups.slim
  app/views/templates/invoices/v4/_subscription_details.slim
Labels: Invoice, 🐞 Bug

#1727 feat(filter): Discard filter and its values
  app/services/billable_metric_filters/create_or_update_batch_service.rb
  spec/services/billable_metric_filters/create_or_update_batch_service_spec.rb
Labels: Billable Metric

#1729 misc(currency) add JOD
  app/models/concerns/currencies.rb
  schema.graphql
  schema.json
Labels: enhancement
