Repository getlago/lago-api, pull requests merged in 2024-10, with the labels that each got.

#2644 feat(customer-portal): Add Subscription graphql resolver
  app/graphql/resolvers/customer_portal/subscription_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_portal/subscription_resolver_spec.rb
Labels: Customer Portal

#2647 fix(okta): Fix okta auth url
  app/services/auth/okta/base_service.rb
Labels: 🐞 Bug

#2648 feat(customer-portal): Extract organization type and add premium integrations
  app/graphql/resolvers/customer_portal/organization_resolver.rb
  app/graphql/types/customer_portal/organizations/object.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/customer_portal/organization_resolver_spec.rb
  spec/graphql/types/customer_portal/organizations/object_spec.rb
Labels: Customer Portal

#2651 fix(okta): fix auth URL
  app/services/auth/okta/authorize_service.rb
Labels: 🐞 Bug

#2652 feat(customer-portal): Add applicable timezone to customer portal customer
  app/graphql/types/customer_portal/customers/object.rb
  schema.graphql
  schema.json
  spec/graphql/types/customer_portal/customers/object_spec.rb
Labels: Customer Portal

#2666 feat(cp-improve): Customer portal update customer's customer_type
  app/graphql/types/customer_portal/customers/object.rb
  app/graphql/types/customer_portal/customers/update_input.rb
  app/graphql/types/customer_portal/wallets/object.rb
  app/services/customer_portal/customer_update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/customer_portal/update_customer_spec.rb
  spec/graphql/types/customer_portal/customers/object_spec.rb
  spec/graphql/types/customer_portal/customers/update_input_spec.rb
  spec/graphql/types/customer_portal/wallets/object_spec.rb
  spec/services/customer_portal/customer_update_service_spec.rb
Labels: Customer Portal

#2675 fix: Generate invoice for paid instant charges on subscription termination
  app/services/invoices/advance_charges_service.rb
Labels: 🐞 Bug

#2688 fix(wallet): Save wallet transaction using floor for credits
  app/services/wallet_transactions/create_service.rb
  app/services/wallet_transactions/void_service.rb
  spec/services/wallet_transactions/create_service_spec.rb
  spec/services/wallet_transactions/void_service_spec.rb
Labels: Wallet

#2691 misc: Retry RefreshOngoingBalanceJob if stale object
  app/jobs/wallets/refresh_ongoing_balance_job.rb
Labels: Wallet

#2709 feat(fee): Allow filtering fees on event transaction id
  app/controllers/api/v1/fees_controller.rb
  app/queries/fees_query.rb
  spec/queries/fees_query_spec.rb
Labels: Fee

#2713 feat(dunning): update dunning campaign as applied to organization
  app/config/permissions/definition.yml
  app/config/permissions/role-finance.yml
  app/config/permissions/role-manager.yml
  app/graphql/mutations/dunning_campaigns/update.rb
  app/graphql/types/dunning_campaigns/update_input.rb
  app/graphql/types/mutation_type.rb
  app/models/dunning_campaign.rb
  app/models/organization.rb
  app/services/dunning_campaigns/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/dunning_campaigns/update_spec.rb
  spec/graphql/types/dunning_campaigns/update_input_spec.rb
  spec/services/dunning_campaigns/update_service_spec.rb
Labels: Dunning Campaign

#2723 bug(PastUsage) - Filter fees by external subscription id
  app/queries/past_usage_query.rb
  spec/queries/past_usage_query_spec.rb
  spec/requests/api/v1/customers/usage_controller_spec.rb
Labels: API, 🐞 Bug

#2719 feat(dunning): Filter dunning campaigns by threshold currency
  app/graphql/resolvers/dunning_campaigns_resolver.rb
  app/queries/dunning_campaigns_query.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/dunning_campaigns_resolver_spec.rb
  spec/queries/dunning_campaigns_query_spec.rb
Labels: Dunning Campaign

#2717 feat(dunning): Update dunning campaign config for customers
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/update_customer_input.rb
  app/models/organization.rb
  app/services/customers/update_service.rb
  app/services/dunning_campaigns/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/types/customers/object_spec.rb
  spec/graphql/types/customers/update_customer_input_spec.rb
  spec/models/organization_spec.rb
  spec/services/customers/update_service_spec.rb
Labels: Dunning Campaign

#2727 feat: Add redis pool size
  config/environments/production.rb
  config/environments/staging.rb
Labels: 🐞 Bug

#2742 misc: Avoid reloading charge filter if already loaded
  app/services/charge_filters/event_matching_service.rb
Labels: enhancement, Event

#2733 feat(dunning): update customer to fallback to organization dunning
  app/graphql/types/organizations/current_organization_type.rb
  app/models/organization.rb
  app/services/customers/update_service.rb
  schema.graphql
  schema.json
  spec/graphql/types/organizations/current_organization_type_spec.rb
  spec/models/organization_spec.rb
  spec/services/customers/update_service_spec.rb
Labels: Dunning Campaign

#2748 feat(dunning): process dunning campaign attempt
  app/models/organization.rb
  app/services/dunning_campaigns/process_attempt_service.rb
  spec/services/dunning_campaigns/process_attempt_service_spec.rb
Labels: Dunning Campaign

#2753 feat(hubspot): Sync subscriptions
  app/services/integration_customers/hubspot_service.rb
  app/services/integrations/aggregator/invoices/crm/create_customer_association_service.rb
  app/services/integrations/aggregator/subscriptions/crm/create_customer_association_service.rb
  app/services/integrations/hubspot/invoices/deploy_object_service.rb
  app/services/integrations/hubspot/subscriptions/deploy_object_service.rb
  app/services/subscriptions/activate_service.rb
  app/services/subscriptions/billing_service.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/free_trial_billing_service.rb
  app/services/subscriptions/terminate_service.rb
  app/services/subscriptions/update_service.rb
  spec/factories/customers.rb
  spec/services/integration_customers/hubspot_service_spec.rb
  spec/services/integrations/aggregator/invoices/crm/create_customer_association_service_spec.rb
  spec/services/integrations/aggregator/subscriptions/crm/create_customer_association_service_spec.rb
  spec/services/subscriptions/activate_service_spec.rb
  spec/services/subscriptions/billing_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/free_trial_billing_service_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
  spec/services/subscriptions/update_service_spec.rb
Labels: Subscription

#2758 chore(currencies): Add BHD support
  app/models/concerns/currencies.rb
  schema.graphql
  schema.json
Labels: enhancement
