Repository getlago/lago-api, pull requests merged in 2024-06, with the labels that each got.

#2065 feat(wallet): Add granted and paid credits on recurring transaction rule
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/mutations/wallets/create.rb
  app/graphql/types/wallets/recurring_transaction_rules/create_input.rb
  app/services/wallets/balance/update_ongoing_service.rb
  app/services/wallets/create_service.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/services/wallets/create_service_spec.rb
Labels: Wallet

#2161 Fix exception handling
  clock.rb
Labels: Contribution

#2202 bug: change netsuite trigger action_path
  app/services/integrations/aggregator/sync_service.rb
  spec/services/integrations/aggregator/sync_service_spec.rb
Labels: 🐞 Bug

#2206 feat(export invoices): Extend InvoicesQuery with new filters
  app/queries/base_query.rb
  app/queries/invoices_query.rb
  spec/queries/invoices_query_spec.rb
Labels: Feature, Export

#2185 feat(fees): Create Recurring non invoiceable fees on billing day
  app/serializers/v1/fee_serializer.rb
  app/services/fees/charge_service.rb
  app/services/invoices/calculate_fees_service.rb
  app/services/invoices/subscription_service.rb
  spec/factories/fees.rb
  spec/scenarios/fees/recurring_fee_downgrade_spec.rb
  spec/scenarios/fees/recurring_fee_upgrade_spec.rb
  spec/scenarios/fees/recurring_fees_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/support/scenarios_helper.rb
Labels: Fee

#2210 feat(export invoices): Add DataExport model
  app/models/data_export.rb
  db/migrate/20240625090742_create_data_exports.rb
  db/schema.rb
  spec/factories/data_exports.rb
  spec/models/data_export_spec.rb
Labels: Feature, Export
