Repository getlago/lago-api, pull requests merged in 2024-11, with the labels that each got.

#2759 feat(dunning): campaign creation requires organization premium add-on
  app/services/dunning_campaigns/create_service.rb
  spec/graphql/mutations/dunning_campaigns/create_spec.rb
  spec/services/dunning_campaigns/create_service_spec.rb
Labels: Dunning Campaign

#2757 feat(dunning): find eligible customers and applied dunning campaign
  app/jobs/clock/process_dunning_campaigns_job.rb
  app/jobs/dunning_campaigns/bulk_process_job.rb
  app/jobs/dunning_campaigns/process_attempt_job.rb
  app/models/customer.rb
  app/models/dunning_campaign.rb
  app/queries/dunning_campaigns_query.rb
  app/services/dunning_campaigns/bulk_process_service.rb
  spec/jobs/clock/process_dunning_campaigns_job_spec.rb
  spec/jobs/dunning_campaigns/bulk_process_job_spec.rb
  spec/jobs/dunning_campaigns/process_attempt_job_spec.rb
  spec/models/customer_spec.rb
  spec/services/dunning_campaigns/bulk_process_service_spec.rb
Labels: Dunning Campaign

#2777 fix: Ensure DataExports::CombinePartsJob uniqueness
  app/jobs/data_exports/combine_parts_job.rb
Labels: 🐞 Bug

#2762 feat(dunning): validate dunning campaign has at least one threshold
  app/services/dunning_campaigns/create_service.rb
  spec/services/dunning_campaigns/bulk_process_service_spec.rb
  spec/services/dunning_campaigns/create_service_spec.rb
Labels: Dunning Campaign

#2791 feat(salesforce): Add invoice resynced Webhook
  app/graphql/mutations/integrations/salesforce/sync_invoice.rb
  app/graphql/types/integrations/salesforce/sync_invoice_input.rb
  app/graphql/types/mutation_type.rb
  app/jobs/send_webhook_job.rb
  app/services/webhooks/invoices/resynced_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/integrations/salesforce/sync_invoice_spec.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/webhooks/invoices/resynced_service_spec.rb
Labels: Invoice, :bell: Webhook

#2796 feat(dunning): Stop and reset counters for customers
  app/services/dunning_campaigns/bulk_process_service.rb
  app/services/dunning_campaigns/create_service.rb
  app/services/dunning_campaigns/update_service.rb
  spec/services/dunning_campaigns/create_service_spec.rb
  spec/services/dunning_campaigns/update_service_spec.rb
Labels: Dunning Campaign

#2766 feat(dunning): schedule process dunning campaigns jobs every hour at 45'
  clock.rb
  spec/clockwork_spec.rb
Labels: Dunning Campaign

#2814 fix: Ability to delete assigned customer taxes from the API
  app/services/customers/create_service.rb
  spec/services/customers/create_service_spec.rb
Labels: Customer, 🐞 Bug, Tax

#2823 fix(subscription upgrade): Upgrade subscriptions previously considered downgrade on amount increase
  app/services/plans/update_service.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/plan_upgrade_service.rb
  spec/services/plans/update_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/plan_upgrade_service_spec.rb
Labels: 🐞 Bug

#2832 feat(dunning): Add flag to customers when completed a dunning campaign
  app/models/customer.rb
  db/migrate/20241119114948_add_dunning_campaign_completed_to_customers.rb
  db/schema.rb
Labels: Dunning Campaign

#2834 feat(dunning): Add DunningCampaign resolver to graphql api
  app/graphql/resolvers/dunning_campaign_resolver.rb
  app/graphql/types/dunning_campaigns/object.rb
  app/graphql/types/query_type.rb
  app/models/customer.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/dunning_campaign_resolver_spec.rb
  spec/graphql/types/dunning_campaigns/object_spec.rb
Labels: Dunning Campaign

#2844 feat(dunning): extend DunningCampaigns Update mutation and types to update all campaign attributes
  app/graphql/mutations/dunning_campaigns/update.rb
  app/graphql/types/dunning_campaign_thresholds/input.rb
  app/graphql/types/dunning_campaign_thresholds/object.rb
  app/graphql/types/dunning_campaigns/create_input.rb
  app/graphql/types/dunning_campaigns/update_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/dunning_campaigns/update_spec.rb
  spec/graphql/types/dunning_campaign_thresholds/input_spec.rb
  spec/graphql/types/dunning_campaign_thresholds/object_spec.rb
  spec/graphql/types/dunning_campaigns/create_input_spec.rb
  spec/graphql/types/dunning_campaigns/update_input_spec.rb
Labels: Dunning Campaign

#2840 feat(dunning): Reset customers last attempt on dunning campaign deletion
  app/models/customer.rb
  app/models/dunning_campaign.rb
  app/models/organization.rb
  app/services/dunning_campaigns/create_service.rb
  app/services/dunning_campaigns/destroy_service.rb
  app/services/dunning_campaigns/update_service.rb
  spec/models/dunning_campaign_spec.rb
  spec/models/organization_spec.rb
  spec/services/dunning_campaigns/destroy_service_spec.rb
Labels: Dunning Campaign

#2861 feat(dunning): reset customer dunning campaign last attempt data on threshold changes
  app/models/dunning_campaign_threshold.rb
  app/services/dunning_campaigns/update_service.rb
  spec/models/dunning_campaign_threshold_spec.rb
  spec/services/dunning_campaigns/update_service_spec.rb
Labels: Dunning Campaign

#2868 feat(dunning): unflag customers as dunning campaign completed...
  app/models/customer.rb
  app/services/dunning_campaigns/update_service.rb
  spec/services/dunning_campaigns/update_service_spec.rb
Labels: Dunning Campaign

#2869 feat(dunning): Dunning Campaign processing skip customers completed
  app/services/dunning_campaigns/bulk_process_service.rb
  spec/services/dunning_campaigns/bulk_process_service_spec.rb
Labels: Dunning Campaign

#2870 feat(dunning): flag customers as dunning campaign completed
  app/services/customers/update_service.rb
  spec/services/customers/update_service_spec.rb
Labels: Dunning Campaign

#2873 feat(dunning): Assign dunning campaign when creating a payment request
  app/models/dunning_campaign.rb
  app/models/payment_request.rb
  app/services/dunning_campaigns/process_attempt_service.rb
  app/services/payment_requests/create_service.rb
  db/migrate/20241126103448_add_dunning_campaign_id_to_payment_requests.rb
  db/schema.rb
  spec/models/dunning_campaign_spec.rb
  spec/models/payment_request_spec.rb
  spec/services/dunning_campaigns/process_attempt_service_spec.rb
  spec/services/payment_requests/create_service_spec.rb
Labels: Payment Request, Dunning Campaign

#2876 feat(dunning): reset customer dunning counters on invoice updates
  app/services/invoices/update_service.rb
  spec/services/invoices/update_service_spec.rb
Labels: Dunning Campaign

#2875 feat(dunning): reset customer dunning campaign status on payment request succeeded payment status
  app/services/payment_requests/payments/adyen_service.rb
  app/services/payment_requests/payments/gocardless_service.rb
  app/services/payment_requests/payments/stripe_service.rb
  spec/services/payment_requests/payments/adyen_service_spec.rb
  spec/services/payment_requests/payments/gocardless_service_spec.rb
  spec/services/payment_requests/payments/stripe_service_spec.rb
Labels: Dunning Campaign

#2867 feat(dunning): Populate dunning_campaign_completed on existing customers
  db/migrate/20241126102447_set_dunning_campaign_completed_to_customers.rb
Labels: Dunning Campaign

#2887 feat(salesforce): Add create customer without external id
  app/services/integration_customers/factory.rb
  app/services/integration_customers/salesforce_service.rb
  spec/services/integration_customers/factory_spec.rb
  spec/services/integration_customers/salesforce_service_spec.rb
Labels: Customer
