Repository getlago/lago-api, pull requests merged in 2024-01, with the labels that each got.

#1578 fix: Prevent from having NaN precise_coupons_amount_cents
  app/services/credits/applied_coupon_service.rb
  spec/services/credits/applied_coupon_service_spec.rb
Labels: Fee

#1569 fix(invoice): Quarterly boundaries with anniversary on the 31st
  app/services/subscriptions/dates/monthly_service.rb
  app/services/subscriptions/dates/quarterly_service.rb
  spec/scenarios/subscriptions/billing_spec.rb
  spec/services/subscriptions/dates/quarterly_service_spec.rb
Labels: Invoice

#1589 fix: Migration should perform when starting the api
  scripts/start.sh
Labels: 🐞 Bug

#1593 fix(subscription): Add missing validation rule for billing time
  app/models/subscription.rb
  spec/services/subscriptions/create_service_spec.rb
Labels: Subscription, 🐞 Bug

#1594 feat(unit-price): Add unit price to prepaid credit fees
  app/services/fees/paid_credit_service.rb
  spec/services/fees/paid_credit_service_spec.rb
Labels: Fee

#1580 feat(unit-price) add amount_details attribute to Fee object
  app/graphql/types/fees/amount_details/graduated_percentage_range.rb
  app/graphql/types/fees/amount_details/graduated_range.rb
  app/graphql/types/fees/amount_details/object.rb
  app/graphql/types/fees/object.rb
  schema.graphql
  schema.json
Labels: Feature, GraphQL

#1596 misc: Improve clickhouse migration filter task
  lib/tasks/db.rake
Labels: improvement

#1604 misc: Rename CustomerUsage#usage to CustomerUsage#call
  app/controllers/api/v1/customers/usage_controller.rb
  app/graphql/resolvers/customers/usage_resolver.rb
  app/services/invoices/customer_usage_service.rb
  spec/services/invoices/customer_usage_service_spec.rb
Labels: Customer

#1600 feat(filter): Add new models and relations
  app/models/billable_metric.rb
  app/models/billable_metric_filter.rb
  app/models/charge.rb
  app/models/charge_filter.rb
  app/models/charge_filter_value.rb
  app/models/fee.rb
  db/migrate/20240111140424_create_billable_metric_filters.rb
  db/migrate/20240111151140_create_charge_filters.rb
  db/migrate/20240111155133_create_charge_filter_values.rb
  db/migrate/20240112091706_add_charge_filter_id_to_fees.rb
  db/schema.rb
  spec/factories/billable_metric_filters.rb
  spec/factories/charge_filter_values.rb
  spec/factories/charge_filters.rb
  spec/factories/fees.rb
  spec/models/billable_metric_filter_spec.rb
  spec/models/billable_metric_spec.rb
  spec/models/charge_filter_spec.rb
  spec/models/charge_filter_value_spec.rb
  spec/models/charge_spec.rb
Labels: Group

#1615 fix: Initial migration is broken with missing task
  db/migrate/20221114102649_fill_sync_with_provider_field.rb
Labels: 🐞 Bug

#1608 feat(filter): Discard filters with billable metrics
  app/models/billable_metric_filter.rb
  app/services/billable_metrics/destroy_service.rb
  spec/models/billable_metric_filter_spec.rb
  spec/services/billable_metrics/destroy_service_spec.rb
Labels: Billable Metric, Group

#1609 feat(filter): Handle billable metric filters in GraphQL and API
  app/controllers/api/v1/billable_metrics_controller.rb
  app/graphql/types/billable_metric_filters/input.rb
  app/graphql/types/billable_metric_filters/object.rb
  app/graphql/types/billable_metrics/create_input.rb
  app/graphql/types/billable_metrics/object.rb
  app/graphql/types/billable_metrics/update_input.rb
  app/serializers/v1/billable_metric_filter_serializer.rb
  app/serializers/v1/billable_metric_serializer.rb
  app/services/billable_metric_filters/create_or_update_batch_service.rb
  schema.graphql
  schema.json
  spec/graphql/types/billable_metric_filters/input_spec.rb
  spec/graphql/types/billable_metric_filters/object_spec.rb
  spec/graphql/types/billable_metrics/create_input_spec.rb
  spec/graphql/types/billable_metrics/object_spec.rb
  spec/graphql/types/billable_metrics/update_input_spec.rb
  spec/requests/api/v1/billable_metrics_spec.rb
  spec/serializers/v1/billable_metric_filter_serializer_spec.rb
  spec/serializers/v1/billable_metric_serializer_spec.rb
  spec/services/billable_metric_filters/create_or_update_batch_service_spec.rb
Labels: API, Billable Metric, Group

#1617 feat(group-by): add grouped_by_value logic to event stores
  .gitignore
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/billable_metrics/breakdown/sum_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: Event, 🐞 Bug

#1616 feat(group-by): Expose grouped_by for fees in GraphQL API
  app/graphql/types/charges/properties.rb
  app/graphql/types/charges/properties_input.rb
  app/graphql/types/customers/usage/charge.rb
  app/graphql/types/fees/object.rb
  app/serializers/v1/customers/charge_usage_serializer.rb
  app/serializers/v1/fee_serializer.rb
  db/migrate/20240118140703_add_grouped_by_to_cached_aggregations.rb
  db/migrate/20240118141022_add_grouped_by_to_fees.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/types/charges/properties_input_spec.rb
  spec/graphql/types/charges/properties_spec.rb
  spec/graphql/types/customers/usage/charge_spec.rb
  spec/graphql/types/fees/object_spec.rb
  spec/serializers/v1/customers/charge_usage_serializer_spec.rb
  spec/serializers/v1/fee_serializer_spec.rb
Labels: Charge, Fee

#1606 feat(filter): Create or update service for billable metric filters
  app/services/billable_metric_filters/create_or_update_batch_service.rb
  app/services/billable_metrics/create_service.rb
  app/services/billable_metrics/update_service.rb
  spec/services/billable_metric_filters/create_or_update_batch_service_spec.rb
  spec/services/billable_metrics/create_service_spec.rb
  spec/services/billable_metrics/update_service_spec.rb
Labels: Billable Metric, Group

#1620 feat(group-by): handle group for in pay in advance charges
  app/models/invoice.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/billable_metrics/breakdown/sum_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/charges/pay_in_advance_aggregation_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  app/services/fees/charge_service.rb
  app/services/fees/create_pay_in_advance_service.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/latest_service_spec.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/unique_count_service_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/billable_metrics/breakdown/sum_service_spec.rb
  spec/services/billable_metrics/breakdown/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/unique_count_service_spec.rb
  spec/services/charges/pay_in_advance_aggregation_service_spec.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
  spec/services/fees/create_pay_in_advance_service_spec.rb
Labels: Billable Metric, Event, Charge

#1624 feat(filter): Add grouped_by logic on events aggregation
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: Event

#1626 feat(group-by): Change grouped_by type for fees and cached_aggregation
  app/graphql/types/fees/object.rb
  app/services/fees/create_pay_in_advance_service.rb
  db/migrate/20240123104811_change_fees_grouped_by_type.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/types/fees/object_spec.rb
  spec/services/fees/create_pay_in_advance_service_spec.rb
Labels: Event, Fee

#1630 feat(grouped-by) Refact AdjustedFees for grouped by
  app/graphql/types/customers/usage/charge.rb
  app/services/adjusted_fees/create_service.rb
  app/services/charges/charge_model_factory.rb
  app/services/fees/charge_service.rb
  app/services/fees/init_from_adjusted_charge_fee_service.rb
  db/migrate/20240125080718_add_grouped_by_to_adjusted_fees.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/types/customers/usage/charge_spec.rb
  spec/services/charges/charge_model_factory_spec.rb
  spec/services/fees/init_from_adjusted_charge_fee_service_spec.rb
Labels: Fee, Group

#1631 fix(clickhouse): Refact clickhouse grouped_max to prevent flaky tests
  app/services/events/stores/clickhouse_store.rb
Labels: Event, 🐞 Bug

#1634 feat(grouped-by) Adapt sum aggregation to return grouped aggregation
  app/graphql/types/customers/usage/charge.rb
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/charges/charge_model_factory.rb
  app/services/charges/charge_models/grouped_standard_service.rb
  app/services/fees/charge_service.rb
  app/services/fees/init_from_adjusted_charge_fee_service.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/charges/charge_model_factory_spec.rb
  spec/services/charges/charge_models/grouped_standard_service_spec.rb
  spec/services/fees/charge_service_spec.rb
Labels: Billable Metric, Charge

#1637 feat(grouped-by): Current usage for in advance aggregation
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
Labels: Billable Metric, Charge

#1638 feat(grouped-by): Add grouped count aggregation
  app/services/billable_metrics/aggregations/count_service.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
Labels: Billable Metric, Charge

#1639 feat(grouped-by): Add grouped prorated sum logic
  app/services/billable_metrics/aggregations/base_service.rb
  app/services/billable_metrics/aggregations/sum_service.rb
  app/services/billable_metrics/aggregations/unique_count_service.rb
  app/services/billable_metrics/prorated_aggregations/base_service.rb
  app/services/billable_metrics/prorated_aggregations/sum_service.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
Labels: Billable Metric, Event

#1641 feat(grouped-by): Adapt max aggregation to return grouped aggregation
  app/services/billable_metrics/aggregations/max_service.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
Labels: Billable Metric

#1642 feat(grouped-by): Adapt latest aggregation to return grouped aggregation
  app/services/billable_metrics/aggregations/latest_service.rb
  spec/services/billable_metrics/aggregations/latest_service_spec.rb
Labels: Billable Metric

#1645 fix(grouped-by): GraphQL current usage was invalid
  Gemfile
  Gemfile.lock
  app/graphql/types/customers/usage/charge.rb
  app/graphql/types/customers/usage/grouped_usage.rb
  spec/graphql/resolvers/customers/usage_resolver_spec.rb
  spec/rails_helper.rb
Labels: Billable Metric, Customer, Charge

#1647 fix(event): Add missing organization scope to event stores
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres_store.rb
  spec/scenarios/invoices/invoices_spec.rb
  spec/services/billable_metrics/aggregations/count_service_spec.rb
  spec/services/billable_metrics/aggregations/latest_service_spec.rb
  spec/services/billable_metrics/aggregations/max_service_spec.rb
  spec/services/billable_metrics/aggregations/sum_service_spec.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/billable_metrics/breakdown/sum_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
Labels: Event, 🐞 Bug

#1649 feat(grouped-by): Add full logic on weighted sum aggregation
  app/services/billable_metrics/aggregations/weighted_sum_service.rb
  app/services/events/stores/base_store.rb
  app/services/events/stores/clickhouse/weighted_sum_query.rb
  app/services/events/stores/clickhouse_store.rb
  app/services/events/stores/postgres/weighted_sum_query.rb
  app/services/events/stores/postgres_store.rb
  app/services/fees/charge_service.rb
  db/migrate/20240129155938_add_grouped_by_to_quantified_events.rb
  db/schema.rb
  spec/services/billable_metrics/aggregations/weighted_sum_service_spec.rb
  spec/services/events/stores/clickhouse_store_spec.rb
  spec/services/events/stores/postgres_store_spec.rb
  spec/services/fees/charge_service_spec.rb
Labels: Billable Metric, Event, Charge

#1654 feat(organizations): Add Show endpoint
  app/controllers/api/v1/organizations_controller.rb
  config/routes.rb
  spec/requests/api/v1/organizations_spec.rb
Labels: API, Organization
