Repository getlago/lago-api, pull requests merged in 2025-09, with the labels that each got.

#3762 feat(multientities): Remove old InvoiceCustomSections code
  app/graphql/mutations/invoice_custom_sections/create.rb
  app/graphql/mutations/invoice_custom_sections/update.rb
  app/graphql/types/invoice_custom_sections/create_input.rb
  app/graphql/types/invoice_custom_sections/object.rb
  app/graphql/types/invoice_custom_sections/update_input.rb
  app/models/invoice_custom_section.rb
  app/serializers/v1/invoice_custom_section_serializer.rb
  app/services/billing_entities/deselect_invoice_custom_section_service.rb
  app/services/billing_entities/select_invoice_custom_section_service.rb
  app/services/invoice_custom_sections/create_service.rb
  app/services/invoice_custom_sections/update_service.rb
  app/services/payment_provider_customers/stripe/sync_funding_instructions_service.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/invoice_custom_sections/create_spec.rb
  spec/graphql/mutations/invoice_custom_sections/update_spec.rb
  spec/graphql/resolvers/invoice_custom_section_resolver_spec.rb
  spec/graphql/resolvers/invoice_custom_sections_resolver_spec.rb
  spec/graphql/types/invoice_custom_sections/create_input_spec.rb
  spec/graphql/types/invoice_custom_sections/object_spec.rb
  spec/graphql/types/invoice_custom_sections/update_input_spec.rb
  spec/models/invoice_custom_section_spec.rb
  spec/serializers/v1/invoice_custom_section_serializer_spec.rb
  spec/services/billing_entities/deselect_invoice_custom_section_service_spec.rb
  spec/services/billing_entities/select_invoice_custom_section_service_spec.rb
  spec/services/invoice_custom_sections/create_service_spec.rb
  spec/services/invoice_custom_sections/update_service_spec.rb
Labels: multi_entities

#4332 feat(fixed_charges): Add fixed charges boundaries to billing period
  app/models/billing_period_boundaries.rb
  spec/factories/fees.rb
  spec/models/billing_period_boundaries_spec.rb
  spec/scenarios/invoices/advance_charges_dates_spec.rb
Labels: fixed charges

#4323 feat(fixed_charges): Compute date boundaries for Fixed Charges
  app/services/subscriptions/dates/monthly_service.rb
  app/services/subscriptions/dates/quarterly_service.rb
  app/services/subscriptions/dates/weekly_service.rb
  app/services/subscriptions/dates/yearly_service.rb
  app/services/subscriptions/dates_service.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
  spec/services/subscriptions/dates/quarterly_service_spec.rb
  spec/services/subscriptions/dates/weekly_service_spec.rb
  spec/services/subscriptions/dates/yearly_service_spec.rb
  spec/services/subscriptions/dates_service_spec.rb
Labels: fixed charges

#4281 feat(ai-agent): Setup graphql subscription for streaming ai conversation
  .github/workflows/spec.yml
  Gemfile
  Gemfile.lock
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/channels/graphql_channel.rb
  app/config/permissions/definition.yml
  app/config/permissions/role-finance.yml
  app/config/permissions/role-manager.yml
  app/graphql/lago_api_schema.rb
  app/graphql/mutations/ai_conversations/create.rb
  app/graphql/types/ai_conversations/object.rb
  app/graphql/types/ai_conversations/stream.rb
  app/graphql/types/base_subscription.rb
  app/graphql/types/graphql_subscription_type.rb
  app/graphql/types/graphql_subscriptions/ai_conversation.rb
  app/graphql/types/mutation_type.rb
  app/jobs/ai_conversations/stream_job.rb
  app/models/ai_conversation.rb
  app/models/organization.rb
  app/services/ai_conversations/stream_service.rb
  config/cable.yml
  config/environments/development.rb
  config/environments/staging.rb
  config/routes.rb
  db/migrate/20250901143217_create_ai_conversations.rb
  db/structure.sql
  lib/lago_http_client/lago_http_client/client.rb
  schema.graphql
  schema.json
  spec/factories/ai_conversations.rb
  spec/graphql/mutations/ai_conversations/create_spec.rb
  spec/graphql/types/ai_conversations/object_spec.rb
  spec/graphql/types/ai_conversations/stream_spec.rb
  spec/jobs/ai_conversations/stream_job_spec.rb
  spec/models/ai_conversation_spec.rb
  spec/models/organization_spec.rb
  spec/services/ai_conversations/stream_service_spec.rb
Labels: AI Agent
