Repository getlago/lago-api, pull requests merged in 2025-03, with the labels that each got.

#3278 feat(data): Add graphql endpoint for revenue streams plans
  app/graphql/resolvers/data_api/revenue_streams/plans_resolver.rb
  app/graphql/resolvers/data_api/revenue_streams_resolver.rb
  app/graphql/types/data_api/revenue_streams/object.rb
  app/graphql/types/data_api/revenue_streams/order_by_enum.rb
  app/graphql/types/data_api/revenue_streams/plans/object.rb
  app/graphql/types/query_type.rb
  app/services/data_api/revenue_streams/plans_service.rb
  schema.graphql
  schema.json
  spec/fixtures/lago_data_api/revenue_streams_plans.json
  spec/graphql/resolvers/data_api/revenue_streams/plans_resolver_spec.rb
  spec/graphql/resolvers/data_api/revenue_streams_resolver_spec.rb
  spec/graphql/types/data_api/revenue_streams/object_spec.rb
  spec/graphql/types/data_api/revenue_streams/order_by_enum_spec.rb
  spec/graphql/types/data_api/revenue_streams/plans/object_spec.rb
  spec/services/data_api/revenue_streams/plans_service_spec.rb
Labels: Data

#3281 feat(data): Add graphql endpoint for revenue streams customers
  app/graphql/resolvers/data_api/revenue_streams/customers_resolver.rb
  app/graphql/types/data_api/revenue_streams/customers/object.rb
  app/graphql/types/query_type.rb
  app/services/data_api/revenue_streams/customers_service.rb
  schema.graphql
  schema.json
  spec/fixtures/lago_data_api/revenue_streams_customers.json
  spec/graphql/resolvers/data_api/revenue_streams/customers_resolver_spec.rb
  spec/graphql/types/data_api/revenue_streams/customers/object_spec.rb
  spec/services/data_api/revenue_streams/customers_service_spec.rb
Labels: Data

#3284 bug(advance_charges): invoice paid in advance succeeded fees
  app/services/invoices/advance_charges_service.rb
  spec/services/invoices/advance_charges_service_spec.rb
Labels: 🐞 Bug

#3248 feat(payment-receipts): Add pdf templates
  app/controllers/dev_tools/payment_receipts_controller.rb
  app/models/payment.rb
  app/models/payment_receipt.rb
  app/models/payment_request.rb
  app/services/payment_receipts/generate_pdf_service.rb
  app/services/webhooks/payment_receipts/created_service.rb
  app/services/webhooks/payment_receipts/generated_service.rb
  app/views/helpers/slim_helper.rb
  app/views/templates/invoices/v4/_credit.slim
  app/views/templates/invoices/v4/_progressive_billing_details.slim
  app/views/templates/invoices/v4/_subscription_details.slim
  app/views/templates/invoices/v4/_subscriptions_summary.slim
  app/views/templates/payment_receipts/v1.slim
  app/views/templates/payment_receipts/v1/_invoice.slim
  app/views/templates/payment_receipts/v1/_payment_request.slim
  app/views/templates/payment_receipts/v1/_powered_by_logo.slim
  app/views/templates/payment_receipts/v1/_styles.slim
  config/locales/de/payment_receipt.yml
  config/locales/en/payment_receipt.yml
  config/locales/es/payment_receipt.yml
  config/locales/fr/payment_receipt.yml
  config/locales/it/payment_receipt.yml
  config/locales/nb/payment_receipt.yml
  config/locales/sv/payment_receipt.yml
  config/routes.rb
  spec/models/payment_receipt_spec.rb
  spec/models/payment_spec.rb
  spec/services/payment_receipts/generate_pdf_service_spec.rb
  spec/services/webhooks/payment_receipts/created_service_spec.rb
  spec/services/webhooks/payment_receipts/generated_service_spec.rb
Labels: Payment Receipt

#3255 feat(payment-receipts): Add services to create payment receipt and generate pdf
  app/jobs/payment_receipts/create_job.rb
  app/jobs/payment_receipts/generate_pdf_job.rb
  app/jobs/send_webhook_job.rb
  app/services/payment_receipts/create_service.rb
  app/services/payments/manual_create_service.rb
  spec/jobs/payment_receipts/create_job_spec.rb
  spec/jobs/payment_receipts/generate_pdf_job_spec.rb
  spec/jobs/send_webhook_job_spec.rb
  spec/services/payment_receipts/create_service_spec.rb
  spec/services/payments/manual_create_service_spec.rb
Labels: Payment Receipt

#3289 feat(payment-receipts): Add GraphQL mutation and type
  app/graphql/mutations/payment_receipts/download.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/payment_receipts/object.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/payment_receipts/download_spec.rb
  spec/graphql/types/payment_receipts/object_spec.rb
Labels: Payment Receipt

#3313 feat(wallet): Add Expiration Support to RecurringTransactionRules
  app/controllers/api/v1/wallets_controller.rb
  app/graphql/types/wallets/object.rb
  app/jobs/clock/terminate_recurring_transaction_rules_job.rb
  app/models/recurring_transaction_rule.rb
  app/serializers/v1/wallet_serializer.rb
  app/serializers/v1/wallets/recurring_transaction_rule_serializer.rb
  app/services/wallets/create_interval_wallet_transactions_service.rb
  app/services/wallets/recurring_transaction_rules/create_service.rb
  app/services/wallets/recurring_transaction_rules/terminate_service.rb
  app/services/wallets/recurring_transaction_rules/update_service.rb
  app/services/wallets/recurring_transaction_rules/validate_service.rb
  app/services/wallets/terminate_service.rb
  app/services/wallets/threshold_top_up_service.rb
  clock.rb
  db/migrate/20250310213734_add_expiration_and_termination_to_recurring_transaction_rules.rb
  db/schema.rb
  spec/clockwork_spec.rb
  spec/jobs/clock/terminate_recurring_transaction_rules_job_spec.rb
  spec/models/recurring_transaction_rule_spec.rb
  spec/requests/api/v1/wallets_controller_spec.rb
  spec/serializers/v1/wallets/recurring_transaction_rule_serializer_spec.rb
  spec/services/wallets/create_interval_wallet_transactions_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/create_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/terminate_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/update_service_spec.rb
  spec/services/wallets/recurring_transaction_rules/validate_service_spec.rb
  spec/services/wallets/terminate_service_spec.rb
  spec/services/wallets/threshold_top_up_service_spec.rb
  spec/services/wallets/update_service_spec.rb
Labels: Wallet

#3323 feat: Update GraphQL to Support Metadata and Expiration on wallets and Rules
  app/graphql/mutations/wallet_transactions/create.rb
  app/graphql/types/wallet_transactions/metadata_input.rb
  app/graphql/types/wallet_transactions/metadata_object.rb
  app/graphql/types/wallet_transactions/object.rb
  app/graphql/types/wallets/recurring_transaction_rules/create_input.rb
  app/graphql/types/wallets/recurring_transaction_rules/object.rb
  app/graphql/types/wallets/recurring_transaction_rules/transaction_metadata_input.rb
  app/graphql/types/wallets/recurring_transaction_rules/transaction_metadata_object.rb
  app/graphql/types/wallets/recurring_transaction_rules/update_input.rb
  app/services/validators/metadata_validator.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/wallet_transactions/create_spec.rb
  spec/graphql/mutations/wallets/create_spec.rb
  spec/graphql/mutations/wallets/update_spec.rb
  spec/graphql/types/wallet_transactions/metadata_input_spec.rb
  spec/graphql/types/wallet_transactions/metadata_object_spec.rb
  spec/graphql/types/wallet_transactions/object_spec.rb
  spec/graphql/types/wallets/recurring_transaction_rules/create_input_spec.rb
  spec/graphql/types/wallets/recurring_transaction_rules/object_spec.rb
  spec/graphql/types/wallets/recurring_transaction_rules/transaction_metadata_input_spec.rb
  spec/graphql/types/wallets/recurring_transaction_rules/transaction_metadata_object_spec.rb
  spec/graphql/types/wallets/recurring_transaction_rules/update_input_spec.rb
Labels: GraphQL, Wallet

#3307 fix(data): Fix data api urls
  app/services/data_api/mrrs/plans_service.rb
  app/services/data_api/revenue_streams/customers_service.rb
  app/services/data_api/revenue_streams/plans_service.rb
  app/services/data_api/usages/invoiced_service.rb
  spec/graphql/resolvers/data_api/mrrs/plans_resolver_spec.rb
  spec/graphql/resolvers/data_api/revenue_streams/customers_resolver_spec.rb
  spec/graphql/resolvers/data_api/revenue_streams/plans_resolver_spec.rb
  spec/graphql/resolvers/data_api/usages/invoiced_resolver_spec.rb
  spec/services/data_api/mrrs/plans_service_spec.rb
  spec/services/data_api/revenue_streams/customers_service_spec.rb
  spec/services/data_api/revenue_streams/plans_service_spec.rb
  spec/services/data_api/usages/invoiced_service_spec.rb
Labels: Data

#3316 feat(multi-entities): create billing entity with full data...
  app/models/billing_entity.rb
  app/models/organization.rb
  app/services/billing_entities/create_service.rb
  spec/models/billing_entity_spec.rb
  spec/models/organization_spec.rb
  spec/services/billing_entities/create_service_spec.rb
Labels: multi_entities

#3339 feat: add wallet transaction details
  app/graphql/resolvers/wallet_transaction_resolver.rb
  app/graphql/types/invoices/object.rb
  app/graphql/types/query_type.rb
  app/graphql/types/wallet_transactions/object.rb
  app/jobs/invoices/prepaid_credit_job.rb
  app/models/wallet_transaction.rb
  app/serializers/v1/wallet_transaction_serializer.rb
  app/services/invoices/update_service.rb
  app/services/wallet_transactions/mark_as_failed_service.rb
  db/migrate/20250318093216_add_failed_at_to_wallet_transactions.rb
  db/migrate/20250318175216_mark_pending_wallet_transactions_as_failed.rb
  db/schema.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/wallet_transaction_resolver_spec.rb
  spec/graphql/types/invoices/object_spec.rb
  spec/graphql/types/wallet_transactions/object_spec.rb
  spec/jobs/invoices/prepaid_credit_job_spec.rb
  spec/models/wallet_transaction_spec.rb
  spec/scenarios/wallets/topup_with_open_invoices_spec.rb
  spec/serializers/v1/wallet_transaction_serializer_spec.rb
  spec/services/invoices/update_service_spec.rb
  spec/services/wallet_transactions/mark_as_failed_service_spec.rb
Labels: GraphQL, Wallet, Payment

#3376 fix(clickhouse): Use from_datetime for prorated unique count
  app/services/events/stores/clickhouse/unique_count_query.rb
Labels: 🐞 Bug

#3377 feat(multi-entities): Organizations' first billing entity matches its id with the organization_id
  app/services/billing_entities/create_service.rb
  app/services/organizations/create_service.rb
  db/migrate/20250325145324_assign_customers_to_billing_entities.rb
  db/schema.rb
  spec/services/billing_entities/create_service_spec.rb
  spec/services/organizations/create_service_spec.rb
Labels: multi_entities

#3371 feat(multi-entities) Invoices services with billing entities
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_generating_service.rb
  app/services/invoices/customer_usage_service.rb
  app/services/invoices/preview_service.rb
  db/migrate/20250325162648_assign_invoices_to_billing_entities.rb
  db/schema.rb
  spec/services/billing_entities/resolve_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_generating_service_spec.rb
  spec/services/invoices/customer_usage_service_spec.rb
  spec/services/invoices/preview_service_spec.rb
Labels: multi_entities

#3384 Fix charge update service params
  app/services/charges/update_service.rb
  app/services/plans/update_service.rb
  spec/graphql/resolvers/customer_portal/customers/usage_resolver_spec.rb
Labels: 🐞 Bug

#3405 misc(GraphQL): add deletedAt on plans object
  app/graphql/types/plans/object.rb
  schema.graphql
  schema.json
  spec/graphql/types/plans/object_spec.rb
Labels: GraphQL

#3415 fix(regroup_fees): Compute taxable_base_amount_cents on applied taxes
  app/services/invoices/aggregate_amounts_and_taxes_from_fees.rb
  spec/scenarios/invoices/advance_charges_spec.rb
  spec/services/invoices/aggregate_amounts_and_taxes_from_fees_spec.rb
Labels: 🐞 Bug

#3416 fix: Use BigDecimal instead of Float on amount details
  app/services/charges/pay_in_advance/amount_details_calculator.rb
Labels: 🐞 Bug
