Repository getlago/lago-api, pull requests merged in 2025-05, with the labels that each got.

#3513 feat(audit_logs): Ability to fetch activity logs thru the API
  app/controllers/api/v1/activity_logs_controller.rb
  app/models/api_key.rb
  app/queries/activity_logs_query.rb
  app/serializers/v1/activity_log_serializer.rb
  config/routes.rb
  spec/factories/clickhouse/activity_logs.rb
  spec/queries/activity_logs_query_spec.rb
  spec/requests/api/v1/activity_logs_controller_spec.rb
  spec/serializers/v1/activity_log_serializer_spec.rb
Labels: Audit Logs

#3572 feat(audit_logs): Add ActivityLogsController#show
  app/controllers/api/v1/activity_logs_controller.rb
  config/routes.rb
  spec/requests/api/v1/activity_logs_controller_spec.rb
Labels: Audit Logs

#3573 feat(audit_logs): Create GraphQL classes for activity log
  app/graphql/resolvers/activity_log_resolver.rb
  app/graphql/resolvers/activity_logs_resolver.rb
  app/graphql/types/activity_logs/activity_source_enum.rb
  app/graphql/types/activity_logs/activity_type_enum.rb
  app/graphql/types/activity_logs/object.rb
  app/graphql/types/query_type.rb
  app/models/clickhouse/activity_log.rb
  app/models/organization.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/activity_log_resolver_spec.rb
  spec/graphql/resolvers/activity_logs_resolver_spec.rb
  spec/graphql/types/activity_logs/activity_source_enum_spec.rb
  spec/graphql/types/activity_logs/activity_type_enum_spec.rb
  spec/graphql/types/activity_logs/object_spec.rb
Labels: Audit Logs

#3581 feat(audit_logs): Utils to push activity logs to kafka
  app/controllers/admin/base_controller.rb
  app/controllers/api/base_controller.rb
  app/controllers/graphql_controller.rb
  app/services/utils/activity_log.rb
  lib/current_context.rb
  spec/requests/api/base_controller_spec.rb
  spec/requests/graphql_controller_spec.rb
  spec/services/utils/activity_log_spec.rb
Labels: Audit Logs

#3612 misc(webhooks): Add lago_id to payment.requires_action webhook payload
  app/serializers/v1/payments/requires_action_serializer.rb
  spec/serializers/v1/payments/requires_action_serializer_spec.rb
Labels: :bell: Webhook

#3523 feat(multi entities): Invoice mailer uses billing entity as data source
  app/mailers/invoice_mailer.rb
  app/models/billing_entity.rb
  app/views/invoice_mailer/finalized.slim
  config/locales/de/email.yml
  config/locales/en/email.yml
  config/locales/es/email.yml
  config/locales/fr/email.yml
  config/locales/it/email.yml
  config/locales/nb/email.yml
  config/locales/sv/email.yml
  spec/mailers/invoice_mailer_spec.rb
  spec/models/billing_entity_spec.rb
Labels: multi_entities

#3563 feat(multi entities): Add REST endpoint and GraphQL mutation to update a billing entity
  app/controllers/api/v1/billing_entities_controller.rb
  app/graphql/mutations/billing_entities/update.rb
  app/graphql/types/billing_entities/object.rb
  app/graphql/types/billing_entities/update_input.rb
  app/models/api_key.rb
  app/services/billing_entities/update_service.rb
  config/environments/test.rb
  config/routes.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/billing_entities/update_spec.rb
  spec/requests/api/v1/billing_entities_controller_spec.rb
  spec/services/billing_entities/update_service_spec.rb
Labels: multi_entities

#3567 feat(multi entities): Add REST endpoint and GraphQL mutation to create a billing entity
  app/controllers/api/v1/billing_entities_controller.rb
  app/graphql/mutations/billing_entities/create.rb
  app/graphql/types/billing_entities/create_input.rb
  config/routes.rb
  spec/graphql/mutations/billing_entities/create_spec.rb
  spec/requests/api/v1/billing_entities_controller_spec.rb
Labels: multi_entities

#3641 feat: Add webhook resolver
  app/graphql/resolvers/webhook_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/webhook_resolver_spec.rb
Labels: :bell: Webhook

#3644 feat: add event resolver
  app/graphql/resolvers/event_resolver.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/event_resolver_spec.rb
Labels: Event

#3648 feat(multientities): add billing_entity_id to payment_receipts and mailers
  app/mailers/credit_note_mailer.rb
  app/mailers/invoice_mailer.rb
  app/mailers/payment_receipt_mailer.rb
  app/mailers/payment_request_mailer.rb
  app/models/billing_entity.rb
  app/models/payment_receipt.rb
  app/services/payment_receipts/create_service.rb
  app/views/credit_note_mailer/created.slim
  app/views/payment_receipt_mailer/created.slim
  app/views/payment_request_mailer/requested.slim
  config/locales/de/email.yml
  config/locales/en/email.yml
  config/locales/es/email.yml
  config/locales/fr/email.yml
  config/locales/it/email.yml
  config/locales/nb/email.yml
  config/locales/sv/email.yml
  db/migrate/20250515083649_add_billing_entity_id_to_payment_receipts.rb
  db/migrate/20250515083802_populate_payment_receipts_billing_entity_id.rb
  db/migrate/20250515083935_set_payment_receipts_not_null_constraint_on_billing_entity_id.rb
  db/migrate/20250515085230_validate_set_payment_receipts_not_null_constraint_on_billing_entity_id.rb
  db/structure.sql
  spec/factories/payment_receipts.rb
  spec/mailers/credit_note_mailer_spec.rb
  spec/mailers/payment_receipt_mailer_spec.rb
  spec/mailers/payment_request_mailer_spec.rb
  spec/models/billing_entity_spec.rb
  spec/models/payment_receipt_spec.rb
  spec/scenarios/dunning/dunning_campaign_v1_spec.rb
Labels: multi_entities

#3531 feat(multi entities): Invoice numbering from billing entity
  app/models/invoice.rb
  app/services/billing_entities/change_invoice_numbering_service.rb
  app/services/organizations/update_invoice_numbering_service.rb
  app/services/organizations/update_service.rb
  spec/models/invoice_spec.rb
  spec/scenarios/customers/create_partner_and_run_billing_spec.rb
  spec/scenarios/invoices/invoice_numbering_spec.rb
  spec/services/billing_entities/change_invoice_numbering_service_spec.rb
  spec/services/invoices/provider_taxes/pull_taxes_and_apply_service_spec.rb
  spec/services/organizations/update_invoice_numbering_service_spec.rb
  spec/support/scenarios_helper.rb
Labels: multi_entities

#3668 fix(activity-log):add invoice.one_off_created to ActivityTypeEnum
  app/models/clickhouse/activity_log.rb
  schema.graphql
  schema.json
  spec/graphql/types/activity_logs/activity_type_enum_spec.rb
Labels: Audit Logs

#3699 feat(audit-logs): Return resource as an object for graphql
  app/graphql/types/activity_logs/object.rb
  app/graphql/types/activity_logs/resource_object.rb
  schema.graphql
  schema.json
  spec/graphql/types/activity_logs/object_spec.rb
  spec/graphql/types/activity_logs/resource_object_spec.rb
Labels: Audit Logs

#3693 feat(multientities): add billing entity and customer invoice custom sections join models
  app/models/billing_entity/applied_invoice_custom_section.rb
  app/models/customer/applied_invoice_custom_section.rb
  db/migrate/20250521095733_create_customers_invoice_custom_sections.rb
  db/migrate/20250521104239_create_billing_entities_invoice_custom_sections.rb
  db/structure.sql
  spec/factories/billing_entity_applied_invoice_custom_sections.rb
  spec/factories/customer_applied_invoice_custom_sections.rb
  spec/models/billing_entity/applied_invoice_custom_section_spec.rb
  spec/models/customer/applied_invoice_custom_section_spec.rb
Labels: multi_entities

#3702 feat(audit-logs): Return activity_object for deleted log
  app/services/utils/activity_log.rb
  spec/services/utils/activity_log_spec.rb
Labels: Audit Logs

#3707 feat(audit_logs): Add resource_type as an enum
  app/graphql/resolvers/activity_logs_resolver.rb
  app/graphql/types/activity_logs/resource_type_enum.rb
  app/models/clickhouse/activity_log.rb
  schema.graphql
  schema.json
  spec/graphql/types/activity_logs/resource_type_enum_spec.rb
Labels: Audit Logs

#3715 feat(audit-logs): Add activity ids filter
  app/graphql/resolvers/activity_logs_resolver.rb
  app/queries/activity_logs_query.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/activity_logs_resolver_spec.rb
  spec/queries/activity_logs_query_spec.rb
Labels: Audit Logs

#3691 feat(audit_logs): Activity log for credit notes
  app/controllers/api/v1/credit_notes_controller.rb
  app/graphql/mutations/credit_notes/create.rb
  app/graphql/mutations/credit_notes/download.rb
  app/jobs/credit_notes/generate_pdf_job.rb
  app/mailers/credit_note_mailer.rb
  app/models/wallet_transaction.rb
  app/services/credit_notes/create_from_progressive_billing_invoice.rb
  app/services/credit_notes/create_service.rb
  app/services/credit_notes/generate_service.rb
  app/services/credit_notes/refunds/adyen_service.rb
  app/services/credit_notes/refunds/gocardless_service.rb
  app/services/credit_notes/refunds/stripe_service.rb
  app/services/invoices/refresh_draft_and_finalize_service.rb
  app/services/utils/activity_log.rb
  spec/services/credit_notes/create_service_spec.rb
  spec/services/credit_notes/generate_service_spec.rb
  spec/services/credit_notes/refunds/adyen_service_spec.rb
  spec/services/credit_notes/refunds/gocardless_service_spec.rb
  spec/services/credit_notes/refunds/stripe_service_spec.rb
  spec/services/invoices/refresh_draft_and_finalize_service_spec.rb
Labels: Audit Logs

#3684 Invoice activity logs
  app/services/invoices/advance_charges_service.rb
  app/services/invoices/create_one_off_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  app/services/invoices/finalize_open_credit_service.rb
  app/services/invoices/generate_pdf_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/payments/deliver_error_webhook_service.rb
  app/services/invoices/payments/mark_overdue_service.rb
  app/services/invoices/payments/retry_service.rb
  app/services/invoices/progressive_billing_service.rb
  app/services/invoices/provider_taxes/pull_taxes_and_apply_service.rb
  app/services/invoices/refresh_draft_and_finalize_service.rb
  app/services/invoices/subscription_service.rb
  app/services/invoices/update_service.rb
  app/services/invoices/void_service.rb
  app/services/payment_receipts/create_service.rb
  app/services/payment_receipts/generate_pdf_service.rb
  spec/jobs/invoices/generate_pdf_job_spec.rb
  spec/jobs/payment_receipts/generate_pdf_and_notify_job_spec.rb
  spec/jobs/payment_receipts/generate_pdf_job_spec.rb
  spec/requests/admin/invoices_controller_spec.rb
  spec/services/invoices/advance_charges_service_spec.rb
  spec/services/invoices/create_one_off_service_spec.rb
  spec/services/invoices/create_pay_in_advance_charge_service_spec.rb
  spec/services/invoices/finalize_open_credit_service_spec.rb
  spec/services/invoices/generate_pdf_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/payments/deliver_error_webhook_service_spec.rb
  spec/services/invoices/payments/mark_overdue_service_spec.rb
  spec/services/invoices/payments/retry_service_spec.rb
  spec/services/invoices/progressive_billing_service_spec.rb
  spec/services/invoices/provider_taxes/pull_taxes_and_apply_service_spec.rb
  spec/services/invoices/refresh_draft_and_finalize_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/invoices/update_service_spec.rb
  spec/services/invoices/void_service_spec.rb
  spec/services/payment_receipts/create_service_spec.rb
  spec/services/payment_receipts/generate_pdf_service_spec.rb
Labels: Audit Logs

#3711 Subscription activity logs
  app/services/subscriptions/activate_service.rb
  app/services/subscriptions/create_service.rb
  app/services/subscriptions/plan_upgrade_service.rb
  app/services/subscriptions/terminate_service.rb
  app/services/subscriptions/update_service.rb
  spec/services/subscriptions/activate_service_spec.rb
  spec/services/subscriptions/create_service_spec.rb
  spec/services/subscriptions/plan_upgrade_service_spec.rb
  spec/services/subscriptions/terminate_service_spec.rb
  spec/services/subscriptions/update_service_spec.rb
Labels: Audit Logs

#3729 feat: coupon recrediting when voiding invoices
  app/graphql/types/applied_coupons/object.rb
  app/models/applied_coupon.rb
  app/models/credit.rb
  app/serializers/v1/applied_coupon_serializer.rb
  app/services/applied_coupons/recredit_service.rb
  app/services/invoices/void_service.rb
  spec/graphql/types/applied_coupons/object_spec.rb
  spec/models/applied_coupon_spec.rb
  spec/models/credit_spec.rb
  spec/services/applied_coupons/recredit_service_spec.rb
  spec/services/invoices/void_service_spec.rb
Labels: Invoice, Coupon

#3742 feat(multientities): Update Invoice custom sections services
  app/graphql/resolvers/invoice_custom_sections_resolver.rb
  app/graphql/types/invoice_custom_sections/object.rb
  app/models/billing_entity.rb
  app/models/customer.rb
  app/models/invoice_custom_section.rb
  app/models/organization.rb
  app/serializers/v1/invoice_custom_section_serializer.rb
  app/services/billing_entities/deselect_invoice_custom_section_service.rb
  app/services/billing_entities/select_invoice_custom_section_service.rb
  app/services/customers/manage_invoice_custom_sections_service.rb
  app/services/invoice_custom_sections/create_service.rb
  app/services/invoice_custom_sections/deselect_all_service.rb
  app/services/invoice_custom_sections/destroy_service.rb
  app/services/invoice_custom_sections/update_service.rb
  app/services/organizations/deselect_invoice_custom_section_service.rb
  app/services/organizations/select_invoice_custom_section_service.rb
  db/migrate/20250521135607_create_customer_applied_invoice_custom_section_records.rb
  db/migrate/20250521151540_create_billing_entity_invoice_custom_sections_records.rb
  db/structure.sql
  spec/factories/invoice_custom_sections.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/graphql/resolvers/invoice_custom_sections_resolver_spec.rb
  spec/models/billing_entity_spec.rb
  spec/models/customer_spec.rb
  spec/models/invoice_custom_section_spec.rb
  spec/models/organization_spec.rb
  spec/requests/api/v1/customers_controller_spec.rb
  spec/serializers/v1/customer_serializer_spec.rb
  spec/serializers/v1/invoice_custom_section_serializer_spec.rb
  spec/services/billing_entities/deselect_invoice_custom_section_service_spec.rb
  spec/services/billing_entities/select_invoice_custom_section_service_spec.rb
  spec/services/customers/manage_invoice_custom_sections_service_spec.rb
  spec/services/customers/update_service_spec.rb
  spec/services/invoice_custom_sections/create_service_spec.rb
  spec/services/invoice_custom_sections/deselect_all_service_spec.rb
  spec/services/invoice_custom_sections/destroy_service_spec.rb
  spec/services/invoice_custom_sections/update_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/apply_invoice_custom_sections_service_spec.rb
  spec/services/invoices/create_one_off_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/progressive_billing_service_spec.rb
  spec/services/invoices/refresh_draft_and_finalize_service_spec.rb
  spec/services/invoices/refresh_draft_service_spec.rb
  spec/services/organizations/deselect_invoice_custom_section_service_spec.rb
  spec/services/organizations/select_invoice_custom_section_service_spec.rb
  spec/support/shared_examples/applied_invoice_custom_sections.rb
Labels: multi_entities
