Repository getlago/lago-api, pull requests merged in 2025-08, with the labels that each got.

#4098 Feat(fixed_charges): Move `AmountDetails` to `ChargeModels` namespace
  app/services/charge_models/amount_details/range_graduated_percentage_service.rb
  app/services/charge_models/amount_details/range_graduated_service.rb
  app/services/charge_models/graduated_percentage_service.rb
  app/services/charge_models/graduated_service.rb
  spec/services/charge_models/amount_details/range_graduated_percentage_service_spec.rb
  spec/services/charge_models/amount_details/range_graduated_service_spec.rb
Labels: fixed charges

#4100 Feat(fixed_charges): Extract ChargeModel::FilterPropertiesService
  app/services/charge_filters/create_or_update_batch_service.rb
  app/services/charge_models/filter_properties/base_service.rb
  app/services/charge_models/filter_properties/charge_service.rb
  app/services/charge_models/filter_properties/fixed_charge_service.rb
  app/services/charge_models/filter_properties_service.rb
  app/services/charges/calculate_price_service.rb
  app/services/charges/create_service.rb
  app/services/charges/filter_charge_model_properties_service.rb
  app/services/charges/update_service.rb
  app/services/plans/create_service.rb
  spec/services/charge_models/filter_properties/charge_service_spec.rb
  spec/services/charge_models/filter_properties/fixed_charge_service_spec.rb
  spec/services/charge_models/filter_properties_service_spec.rb
Labels: fixed charges

#4109 Feat(fixed_charges): Extract chargeable validation service
  app/services/plans/chargeables_validation_service.rb
  app/services/plans/create_service.rb
  spec/services/plans/chargeables_validation_service_spec.rb
  spec/services/plans/create_service_spec.rb
Labels: fixed charges

#4126 Feat(fixed_charges): Add GraphQL types, update Plan resolver and create mutation
  app/graphql/mutations/plans/create.rb
  app/graphql/types/charge_models/graduated_percentage_range.rb
  app/graphql/types/charge_models/graduated_percentage_range_input.rb
  app/graphql/types/charge_models/graduated_range.rb
  app/graphql/types/charge_models/graduated_range_input.rb
  app/graphql/types/charge_models/volume_range.rb
  app/graphql/types/charge_models/volume_range_input.rb
  app/graphql/types/charges/properties.rb
  app/graphql/types/charges/properties_input.rb
  app/graphql/types/fixed_charges/charge_model_enum.rb
  app/graphql/types/fixed_charges/input.rb
  app/graphql/types/fixed_charges/object.rb
  app/graphql/types/fixed_charges/properties.rb
  app/graphql/types/fixed_charges/properties_input.rb
  app/graphql/types/plans/create_input.rb
  app/graphql/types/plans/object.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/create_spec.rb
  spec/graphql/resolvers/plan_resolver_spec.rb
  spec/graphql/types/charge_models/graduated_percentage_range_input_spec.rb
  spec/graphql/types/charge_models/graduated_percentage_range_spec.rb
  spec/graphql/types/charge_models/graduated_range_input_spec.rb
  spec/graphql/types/charge_models/graduated_range_spec.rb
  spec/graphql/types/charge_models/volume_range_input_spec.rb
  spec/graphql/types/charge_models/volume_range_spec.rb
  spec/graphql/types/charges/charge_model_enum_spec.rb
  spec/graphql/types/fixed_charges/charge_model_enum_spec.rb
  spec/graphql/types/fixed_charges/input_spec.rb
  spec/graphql/types/fixed_charges/object_spec.rb
  spec/graphql/types/fixed_charges/properties_input_spec.rb
  spec/graphql/types/fixed_charges/properties_spec.rb
  spec/graphql/types/plans/create_input_spec.rb
  spec/graphql/types/plans/object_spec.rb
Labels: fixed charges

#4072 fix(daily-usage): Refactor DailyUsages::FillHistoryService
  app/jobs/daily_usages/fill_history_job.rb
  app/models/daily_usage.rb
  app/services/billable_metrics/prorated_aggregations/base_service.rb
  app/services/daily_usages/fill_history_service.rb
  lib/tasks/daily_usages.rake
  spec/scenarios/daily_usages/fill_history_spec.rb
  spec/services/billable_metrics/breakdown/sum_service_spec.rb
  spec/services/billable_metrics/breakdown/unique_count_service_spec.rb
  spec/services/billable_metrics/prorated_aggregations/sum_service_spec.rb
  spec/services/daily_usages/fill_history_service_spec.rb
Labels: Data

#4154 Feat(fixed_charges): update graphql for updating plan fixed charges
  app/graphql/mutations/plans/update.rb
  app/graphql/types/fixed_charges/input.rb
  app/graphql/types/fixed_charges/object.rb
  app/graphql/types/plans/object.rb
  app/graphql/types/plans/update_input.rb
  schema.graphql
  schema.json
  spec/graphql/mutations/plans/update_spec.rb
  spec/graphql/types/fixed_charges/input_spec.rb
  spec/graphql/types/fixed_charges/object_spec.rb
  spec/graphql/types/plans/update_input_spec.rb
Labels: fixed charges

#4183 Feat(fixed_charges-9): plan override changes
  app/services/plans/override_service.rb
  spec/services/plans/override_service_spec.rb
Labels: fixed charges

#4198 feat: change the calculations
  app/services/credits/progressive_billing_service.rb
  spec/services/credits/progressive_billing_service_spec.rb
  spec/services/invoices/calculate_fees_service_spec.rb
  spec/services/invoices/progressive_billing_service_spec.rb
Labels: Invoice
