Repository getlago/lago-api, pull requests merged in 2025-04, with the labels that each got.

#3422 Fix Invoices::PrepaidCreditJob queueing to ensure uniqueness
  app/jobs/invoices/prepaid_credit_job.rb
  app/services/invoices/update_service.rb
  spec/services/invoices/update_service_spec.rb
Labels: 🐞 Bug

#3426 fix(bug): Stripe payment intent creation payload
  app/services/payment_providers/stripe/payments/create_service.rb
  spec/services/payment_providers/stripe/payments/create_service_spec.rb
Labels: 🐞 Bug

#3294 feat(payment-receipts): Use services
  app/config/permissions/definition.yml
  app/config/permissions/role-finance.yml
  app/config/permissions/role-manager.yml
  app/controllers/api/v1/payment_receipts_controller.rb
  app/graphql/mutations/payment_receipts/download.rb
  app/graphql/types/payments/object.rb
  app/mailers/payment_receipt_mailer.rb
  app/services/payment_providers/stripe/webhooks/payment_intent_succeeded_service.rb
  app/services/payment_requests/payments/create_service.rb
  app/services/payments/manual_create_service.rb
  app/views/payment_receipt_mailer/created.slim
  app/views/templates/invoices/v4/_charge.slim
  app/views/templates/invoices/v4/_credit.slim
  app/views/templates/invoices/v4/_progressive_billing_details.slim
  app/views/templates/invoices/v4/_subscription_details.slim
  app/views/templates/invoices/v4/_subscriptions_summary.slim
  app/views/templates/invoices/v4/charge.slim
  app/views/templates/payment_receipts/v1.slim
  app/views/templates/payment_receipts/v1/_invoice.slim
  app/views/templates/payment_receipts/v1/_payment_request.slim
  config/locales/de/email.yml
  config/locales/en/email.yml
  config/locales/es/email.yml
  config/locales/fr/email.yml
  config/locales/it/email.yml
  config/locales/nb/email.yml
  config/locales/sv/email.yml
  schema.graphql
  schema.json
  spec/graphql/mutations/payment_receipts/download_spec.rb
  spec/graphql/types/payments/object_spec.rb
  spec/requests/api/v1/payment_receipts_controller_spec.rb
  spec/services/invoices/payments/create_service_spec.rb
  spec/services/invoices/payments/gocardless_service_spec.rb
  spec/services/invoices/payments/stripe_service_spec.rb
  spec/services/payment_providers/stripe/webhooks/payment_intent_succeeded_service_spec.rb
  spec/services/payment_requests/payments/cashfree_service_spec.rb
  spec/services/payment_requests/payments/create_service_spec.rb
Labels: Payment Receipt

#3456 feat: Add section_type to InvoiceCustomSections to support different section types
  app/graphql/resolvers/invoice_custom_sections_resolver.rb
  app/graphql/types/customers/object.rb
  app/graphql/types/customers/update_customer_input.rb
  app/models/customer.rb
  app/models/invoice_custom_section.rb
  app/models/organization.rb
  app/services/customers/manage_invoice_custom_sections_service.rb
  app/services/customers/update_service.rb
  db/migrate/20250403110833_add_section_type_to_invoice_custom_sections.rb
  db/migrate/20250407202459_add_section_type_index_to_invoice_custom_sections.rb
  db/structure.sql
  schema.graphql
  schema.json
  spec/graphql/mutations/customers/update_spec.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/graphql/resolvers/invoice_custom_sections_resolver_spec.rb
  spec/graphql/types/customers/object_spec.rb
  spec/graphql/types/customers/update_customer_input_spec.rb
  spec/models/customer_spec.rb
  spec/models/invoice_custom_section_spec.rb
  spec/models/organization_spec.rb
  spec/services/customers/manage_invoice_custom_sections_service_spec.rb
  spec/services/customers/update_service_spec.rb
Labels: Configuration

#3458 feat: Add Stripe funding instructions as system-generated invoice custom sections
  app/jobs/payment_provider_customers/stripe_sync_funding_instructions_job.rb
  app/services/invoice_custom_sections/funding_instructions_formatter_service.rb
  app/services/payment_provider_customers/stripe/sync_funding_instructions_service.rb
  app/services/payment_provider_customers/stripe_service.rb
  config/locales/de/invoice.yml
  config/locales/en/invoice.yml
  config/locales/es/invoice.yml
  config/locales/fr/invoice.yml
  config/locales/it/invoice.yml
  config/locales/nb/invoice.yml
  config/locales/sv/invoice.yml
  spec/jobs/payment_provider_customers/stripe_sync_funding_instructions_job_spec.rb
  spec/services/invoice_custom_sections/funding_instructions_formatter_service_spec.rb
  spec/services/payment_provider_customers/stripe/sync_funding_instructions_service_spec.rb
  spec/services/payment_provider_customers/stripe_service_spec.rb
Labels: Invoice

#3394 feat(multientities): Assign billing entity sequential id to invoices
  app/models/invoice.rb
  app/services/billing_entities/change_invoice_numbering_service.rb
  app/services/billing_entities/update_service.rb
  db/migrate/20250327124640_change_invoices_index_on_billing_entity_sequential_id.rb
  db/migrate/20250327130155_remove_default_billing_entity_sequential_id_on_invoices.rb
  db/migrate/20250408121522_ensure_all_billing_entities_have_invoice_sequential_id.rb
  db/migrate/20250409100421_add_finalized_at_timestamp_to_invoices.rb
  db/structure.sql
  spec/models/invoice_spec.rb
  spec/scenarios/invoices/invoice_numbering_spec.rb
  spec/services/billing_entities/change_invoice_numbering_service_spec.rb
Labels: multi_entities

#3495 feat(multientities): Add taxes (applied) to billing entity serializer
  app/controllers/api/v1/billing_entities_controller.rb
  app/serializers/v1/billing_entity_serializer.rb
  spec/requests/api/v1/billing_entities_controller_spec.rb
  spec/serializers/v1/billing_entity_serializer_spec.rb
Labels: multi_entities

#3489 feat(multientities): Migrate organization applied taxes.
  db/migrate/20250411152022_migrate_applied_taxes_to_billing_entities.rb
  db/structure.sql
Labels: multi_entities

#3506 feat(multientities) BillingEntity as source of truth for Invoices
  app/views/templates/invoices/v1.slim
  app/views/templates/invoices/v2.slim
  app/views/templates/invoices/v3.slim
  app/views/templates/invoices/v3/charge.slim
  app/views/templates/invoices/v3/one_off.slim
  app/views/templates/invoices/v4.slim
  app/views/templates/invoices/v4/_eu_tax_management.slim
  app/views/templates/invoices/v4/charge.slim
  app/views/templates/invoices/v4/one_off.slim
  app/views/templates/invoices/v4/self_billed.slim
Labels: multi_entities

#3500 feat(multientities): Handle eu tax management at billing entity level
  app/services/billing_entities/change_eu_tax_management_service.rb
  app/services/billing_entities/create_service.rb
  app/services/billing_entities/update_service.rb
  app/services/organizations/update_service.rb
  spec/services/billing_entities/change_eu_tax_management_service_spec.rb
  spec/services/billing_entities/update_service_spec.rb
  spec/services/organizations/update_service_spec.rb
Labels: multi_entities

#3515 feat(multi entities): Billing entities as source of truth for invoices
  app/models/customer.rb
  app/services/invoices/add_on_service.rb
  app/services/invoices/create_one_off_service.rb
  app/services/invoices/create_pay_in_advance_charge_service.rb
  app/services/invoices/finalize_open_credit_service.rb
  app/services/invoices/paid_credit_service.rb
  app/services/invoices/progressive_billing_service.rb
  app/services/invoices/provider_taxes/pull_taxes_and_apply_service.rb
  app/services/invoices/refresh_draft_and_finalize_service.rb
  app/services/invoices/subscription_service.rb
  app/services/invoices/transition_to_final_status_service.rb
  spec/graphql/resolvers/customer_resolver_spec.rb
  spec/models/customer_spec.rb
  spec/scenarios/dunning/dunning_campaign_v1_spec.rb
  spec/scenarios/fees/recurring_fees_spec.rb
  spec/scenarios/invoices/progressive_billing_spec.rb
  spec/scenarios/wallets/balance_spec.rb
  spec/services/customers/update_invoice_payment_due_date_service_spec.rb
  spec/services/daily_usages/compute_service_spec.rb
  spec/services/invoices/add_on_service_spec.rb
  spec/services/invoices/create_one_off_service_spec.rb
  spec/services/invoices/create_pay_in_advance_charge_service_spec.rb
  spec/services/invoices/paid_credit_service_spec.rb
  spec/services/invoices/preview_service_spec.rb
  spec/services/invoices/progressive_billing_service_spec.rb
  spec/services/invoices/provider_taxes/pull_taxes_and_apply_service_spec.rb
  spec/services/invoices/refresh_draft_and_finalize_service_spec.rb
  spec/services/invoices/subscription_service_spec.rb
  spec/services/invoices/transition_to_final_status_service_spec.rb
  spec/services/subscriptions/dates/monthly_service_spec.rb
Labels: multi_entities

#3561 fix(docker): Add psql dependency
  Dockerfile
Labels: 🐞 Bug

#3502 feat(audit_logs): Create Clickhouse::ActivityLog model
  app/config/permissions/definition.yml
  app/config/permissions/role-finance.yml
  app/config/permissions/role-manager.yml
  app/models/billable_metric.rb
  app/models/billing_entity.rb
  app/models/clickhouse/activity_log.rb
  app/models/coupon.rb
  app/models/credit_note.rb
  app/models/customer.rb
  app/models/invoice.rb
  app/models/organization.rb
  app/models/plan.rb
  app/models/subscription.rb
  app/models/wallet.rb
  db/clickhouse_migrate/20250416103745_create_activity_logs.rb
  db/clickhouse_migrate/20250416104012_create_activity_logs_queue.rb
  db/clickhouse_migrate/20250416104534_create_activity_logs_mv.rb
  schema.graphql
  schema.json
  spec/factories/clickhouse/activity_logs.rb
  spec/models/billable_metric_spec.rb
  spec/models/billing_entity_spec.rb
  spec/models/clickhouse/activity_log_spec.rb
  spec/models/coupon_spec.rb
  spec/models/credit_note_spec.rb
  spec/models/customer_spec.rb
  spec/models/invoice_spec.rb
  spec/models/organization_spec.rb
  spec/models/plan_spec.rb
  spec/models/subscription_spec.rb
  spec/models/wallet_spec.rb
Labels: Audit Logs
