Repository getlago/lago-api, pull requests merged in 2025-02, with the labels that each got.

#3157 chore(GraphQL): rename invoice subscription attribute
  app/graphql/types/invoice_subscriptions/object.rb
  schema.graphql
  schema.json
  spec/graphql/types/invoice_subscriptions/object_spec.rb
Labels: GraphQL

#3151 feat(data): Add revenue streams resolver
  .env.dist
  .github/workflows/spec.yml
  app/graphql/resolvers/analytics/revenue_streams_resolver.rb
  app/graphql/types/analytics/revenue_streams/object.rb
  app/graphql/types/analytics/time_granularity_enum.rb
  app/graphql/types/query_type.rb
  app/services/analytics/base_service.rb
  app/services/data_api/base_service.rb
  app/services/data_api/revenue_streams_service.rb
  schema.graphql
  schema.json
  spec/fixtures/lago_data_api/revenue_streams.json
  spec/graphql/resolvers/analytics/revenue_streams_resolver_spec.rb
  spec/services/data_api/revenue_streams_service_spec.rb
Labels: Data

#3172 feat(data): Compute daily usages for positive fees only
  app/services/daily_usages/compute_service.rb
  app/services/daily_usages/fill_from_invoice_service.rb
  app/services/daily_usages/fill_history_service.rb
  spec/jobs/daily_usages/compute_job_spec.rb
  spec/services/daily_usages/compute_service_spec.rb
  spec/services/daily_usages/fill_from_invoice_service_spec.rb
Labels: Data

#3187 feat(data): Remove in_advance_fee_amount_cents from revenue streams
  app/graphql/types/analytics/revenue_streams/object.rb
  schema.graphql
  schema.json
  spec/fixtures/lago_data_api/revenue_streams.json
  spec/graphql/resolvers/analytics/revenue_streams_resolver_spec.rb
  spec/services/data_api/revenue_streams_service_spec.rb
Labels: Data

#3197 fix: Don't raise error when invoice's status is invalid
  app/services/invoices/provider_taxes/pull_taxes_and_apply_service.rb
  spec/services/invoices/provider_taxes/pull_taxes_and_apply_service_spec.rb
Labels: Invoice, 🐞 Bug

#3198 feat(data): Do not create daily usage when no usage
  app/services/daily_usages/compute_service.rb
  app/services/daily_usages/fill_from_invoice_service.rb
  app/services/daily_usages/fill_history_service.rb
  spec/services/daily_usages/compute_service_spec.rb
  spec/services/daily_usages/fill_from_invoice_service_spec.rb
Labels: Data

#3202 fix(data): Convert revenue stream amount currency to non nullable
  app/graphql/types/analytics/revenue_streams/object.rb
  schema.graphql
  schema.json
Labels: Data

#3223 fix: Add unique index on payment provider id
  app/models/payment.rb
  db/migrate/20250220085848_add_unique_index_to_provider_payment_id.rb
  db/schema.rb
Labels: Invoice, Payment

#3233 fix(netsuite): Prevent trying to create customer with max netsuite state reached
  app/services/integrations/aggregator/contacts/payloads/netsuite.rb
Labels: 🐞 Bug

#3245 fix(netsuite): Use max length when creating netsuite customer
  app/services/integrations/aggregator/contacts/payloads/netsuite.rb
Labels: 🐞 Bug

#3236 Feat stripe bank transfers
  app/models/payment_provider_customers/stripe_customer.rb
  app/services/payment_providers/stripe/payments/create_service.rb
  schema.graphql
  schema.json
  spec/graphql/types/payment_provider_customers/provider_payment_methods_enum_spec.rb
  spec/models/payment_provider_customers/stripe_customer_spec.rb
  spec/services/payment_providers/stripe/payments/create_service_spec.rb
Labels: Payment

#3252 feat(multi-entities): Add multi_entities premium integrations with two tiers...
  app/models/organization.rb
  schema.graphql
  schema.json
  spec/graphql/types/integrations/premium_integration_type_enum_spec.rb
  spec/models/organization_spec.rb
Labels: multi_entities

#3256 feat(data): Extract revenue streams resolver to data_api namespace
  app/config/permissions/definition.yml
  app/config/permissions/role-finance.yml
  app/config/permissions/role-manager.yml
  app/graphql/resolvers/data_api/revenue_streams_resolver.rb
  app/graphql/types/data_api/revenue_streams/object.rb
  app/graphql/types/data_api/time_granularity_enum.rb
  app/graphql/types/query_type.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/data_api/revenue_streams_resolver_spec.rb
  spec/graphql/types/data_api/revenue_streams/object_spec.rb
  spec/graphql/types/data_api/time_granularity_enum_spec.rb
Labels: Data

#3259 feat(data): Rename customerCurrency to currency for revenue streams
  app/graphql/resolvers/data_api/revenue_streams_resolver.rb
  schema.graphql
  schema.json
  spec/graphql/resolvers/data_api/revenue_streams_resolver_spec.rb
Labels: Data

#3268 fix: Wallet metadata issues
  app/services/wallet_transactions/create_service.rb
  app/services/wallets/recurring_transaction_rules/create_service.rb
  db/migrate/20250227155522_fix_metadata_in_wallet_transactions_and_recurring_rules.rb
  db/schema.rb
Labels: 🐞 Bug, Wallet
